force-app/main/default/flows/Actualizar_nombre_en_cuenta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Es_nuevo</name>
        <label>Es nuevo?</label>
        <locationX>611</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Es_Person_Account_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sisi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>esNuevo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EsPersonAccount</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_Person_Account_Update</name>
        <label>¿Es Person Account?</label>
        <locationX>974</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Name_Cuenta_Name2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_En_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FirstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_First_and_Last_Name_0</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>EsPersonAccount</name>
        <label>¿Es Person Account?</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Tiene_name2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dan360_Si1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FirstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_First_and_Last_Name</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_name2</name>
        <label>Tiene name2?</label>
        <locationX>446</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Name_Cuenta_Sin_Name2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Name_Cuenta</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DistributionChannel</name>
        <dataType>String</dataType>
        <expression>IF({!AsignarVentaEstandar} = Null, {!AsignarSinCargo}, IF( {!AsignarSinCargo} = Null, {!AsignarVentaEstandar}, {!AsignarVentaEstandar} + &quot;;&quot; + {!AsignarSinCargo}))</expression>
    </formulas>
    <formulas>
        <name>esNuevo</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>FirstName</name>
        <dataType>String</dataType>
        <expression>INITCAP({!$Record.FirstName})</expression>
    </formulas>
    <formulas>
        <name>LastName</name>
        <dataType>String</dataType>
        <expression>INITCAP({!$Record.LastName})</expression>
    </formulas>
    <formulas>
        <name>MiddleName</name>
        <dataType>String</dataType>
        <expression>INITCAP({!$Record.MiddleName})</expression>
    </formulas>
    <formulas>
        <name>Nombre2CamelFormula</name>
        <dataType>String</dataType>
        <expression>INITCAP({!$Record.Name2__c})</expression>
    </formulas>
    <formulas>
        <description>Colocar la primer letra de cada palabra en Mayúscula</description>
        <name>NombreDeLaCuenta</name>
        <dataType>String</dataType>
        <expression>INITCAP({!$Record.Name})</expression>
    </formulas>
    <interviewLabel>Actualizar nombre en cuenta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualizar nombre en cuenta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Actualizar_First_and_Last_Name</name>
        <label>Actualizar First and Last Name</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MiddleName</field>
            <value>
                <elementReference>MiddleName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_First_and_Last_Name_0</name>
        <label>Actualizar First and Last Name</label>
        <locationX>842</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MiddleName</field>
            <value>
                <elementReference>MiddleName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Name_Cuenta</name>
        <label>Actualizar Name Cuenta</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NombreDeLaCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name2__c</field>
            <value>
                <elementReference>Nombre2CamelFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Name_Cuenta_Name2</name>
        <label>Actualizar Name Cuenta</label>
        <locationX>1106</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NombreDeLaCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name2__c</field>
            <value>
                <elementReference>Nombre2CamelFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Name_Cuenta_Sin_Name2</name>
        <label>Actualizar Name Cuenta</label>
        <locationX>578</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NombreDeLaCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Es_nuevo</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AsignarSinCargo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AsignarVentaEstandar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idcuenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Nombre2Cuenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreCuenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
