force-app/main/default/flows/Asignar_Casos_y_o_cerrar_tareas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Aviso_nuevo_caso_asignado_a_Planta_Kasdorf</name>
        <label>Aviso_nuevo_caso_asignado_a_Planta_Kasdorf</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <actionName>Case.Aviso_nuevo_caso_asignado_a_Planta_Kasdorf</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Aviso_nuevo_caso_asignado_a_Planta_Milkaut</name>
        <label>Aviso_nuevo_caso_asignado_a_Planta_Milkaut</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <actionName>Case.Aviso_nuevo_caso_asignado_a_Planta_Milkaut</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>NuevoValorDeTarea</name>
        <label>NuevoValorDeTarea</label>
        <locationX>754</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>TaskToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterar_en_cada_tarea.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToUpdate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completa</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActualizarTarea</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Es_Kasdorf</name>
        <label>Es Kasdorf?</label>
        <locationX>303</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Es_Milkaut</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_es_Kasdorf</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4) OR (1 AND 2 AND 3 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reclamo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Planta_elaboradora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kasdorf</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estado_del_an_lisis__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contador__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Planta_elaboradora__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User</targetReference>
            </connector>
            <label>Si_es_Kasdorf</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_Milkaut</name>
        <label>Es Milkaut?</label>
        <locationX>556</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Se_cerr_el_caso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_es_Milkaut</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 5) OR (1 AND 2 AND 3 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Planta_elaboradora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Milkaut</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reclamo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estado_del_an_lisis__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contador__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Planta_elaboradora__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Sol_Iribarren</targetReference>
            </connector>
            <label>Si es Milkaut</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se_cerr_el_caso</name>
        <label>Se cerr칩 el caso?</label>
        <locationX>798</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_se_cerro_el_caso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reclamo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estado_del_an_lisis__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estado_del_an_lisis__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tareas_asociadas_al_caso</targetReference>
            </connector>
            <label>Si Se cerr칩 el caso</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ContadorPlus1</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Contador__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Asignar Casos y/o cerrar tareas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asignar Casos y/o cerrar tareas</label>
    <loops>
        <name>Iterar_en_cada_tarea</name>
        <label>Iterar en cada tarea</label>
        <locationX>666</locationX>
        <locationY>755</locationY>
        <collectionReference>Tareas_asociadas_al_caso</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>NuevoValorDeTarea</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Asigna_tarea_a_Kasdorf</name>
        <label>Asigna tarea a Kasdorf</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Contador</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RecordType_Tarea.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>An치lisis de Planta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Asigna_tarea_a_Milkaut</name>
        <label>Copy 1 of Asigna tarea a Milkaut</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Contador</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_User_Sol_Iribarren.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RecordType_Tarea_Task.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>An치lisis de Planta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_RecordType_Tarea</name>
        <label>Get RecordType Tarea</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asigna_tarea_a_Kasdorf</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tarea</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType_Tarea_Task</name>
        <label>Get RecordType Tarea Task</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Asigna_tarea_a_Milkaut</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tarea</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User Paula Vazques</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RecordType_Tarea</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>paula.vazquez-pierrard@danone.com</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Sol_Iribarren</name>
        <label>Get User Sol Iribarren</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RecordType_Tarea_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>sol.iribarren@danone.com</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Tareas_asociadas_al_caso</name>
        <label>Tareas asociadas al caso</label>
        <locationX>666</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterar_en_cada_tarea</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completa</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ActualizarTarea</name>
        <label>ActualizarTarea</label>
        <locationX>754</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Iterar_en_cada_tarea</targetReference>
        </connector>
        <inputReference>TaskToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Contador</name>
        <label>Copy 1 of Update Contador</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Aviso_nuevo_caso_asignado_a_Planta_Milkaut</targetReference>
        </connector>
        <inputAssignments>
            <field>Contador__c</field>
            <value>
                <elementReference>ContadorPlus1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contador</name>
        <label>Update Contador</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Aviso_nuevo_caso_asignado_a_Planta_Kasdorf</targetReference>
        </connector>
        <inputAssignments>
            <field>Contador__c</field>
            <value>
                <elementReference>ContadorPlus1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>177</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Es_Kasdorf</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Tareas</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Tareas_Previas_En_Kasdorf</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
