force-app/main/default/flows/Asignar_Crear_Objetivos_Acciones_Por_Cuenta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>VisMed_AsignarEstadoAccionAccionxCuenta</name>
        <dataType>String</dataType>
        <expression>IF(TODAY() &gt; {!$Record.VisMed_FechaFin__c}, &apos;Pendiente&apos;,
     IF(TODAY() &lt; {!$Record.VisMed_FechaInicio__c}, &apos;Pendiente&apos;, 
           IF(TODAY() &gt;= {!$Record.VisMed_FechaInicio__c}, &apos;Activo&apos;,Null
             )
       )
 )</expression>
    </formulas>
    <interviewLabel>Asignar Crear Objetivos/Acciones Por Cuenta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asignar Crear Objetivos/Acciones Por Cuenta</label>
    <loops>
        <name>VisMed_RecorrerObjetivosPorCuenta</name>
        <label>Recorrer Objetivos Por Cuenta</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>VisMed_ObtenerObjetivoPorCuentaCreado</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>VisMed_CrearAccionesCuenta</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Dan360_ActualizarEstadoAccion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>VisMed_CrearAccionesCuenta</name>
        <label>Crear Acciones Por Cuenta</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>VisMed_RecorrerObjetivosPorCuenta</targetReference>
        </connector>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <elementReference>VisMed_AsignarEstadoAccionAccionxCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VisMed_APMContacto__c</field>
            <value>
                <elementReference>VisMed_RecorrerObjetivosPorCuenta.VisMed_APMContacto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VisMed_Accion__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VisMed_ObjetivoPorCuenta__c</field>
            <value>
                <elementReference>VisMed_RecorrerObjetivosPorCuenta.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VisMed_Objetivo__c</field>
            <value>
                <elementReference>$Record.VisMed_Objetivo__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VisMed_AccionPorCuenta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>VisMed_ObtenerObjetivo</name>
        <label>Obtener Objetivo</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VisMed_ObtenerObjetivoPorCuentaCreado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.VisMed_Objetivo__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VisMed_Objetivo__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>VisMed_FechaInicio__c</queriedFields>
        <queriedFields>VisMed_FechaFin__c</queriedFields>
        <queriedFields>Estado__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>VisMed_ObtenerObjetivoPorCuentaCreado</name>
        <label>Obtener Objetivo por Cuenta Creado</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VisMed_RecorrerObjetivosPorCuenta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VisMed_Objetivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.VisMed_Objetivo__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>VisMed_ObjetivoPorCuenta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Dan360_ActualizarEstadoAccion</name>
        <label>Actualizar Estado Acción</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <elementReference>VisMed_AsignarEstadoAccionAccionxCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>VisMed_ObtenerObjetivo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VisMed_FechaInicio__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VisMed_FechaFin__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>VisMed_Accion__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>IdObjetivoPorCuentaCreado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
