force-app/main/default/flows/Asignar_sales_district_y_distribution_channel_a_la_cuenta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Asignar_distribution_channel</name>
        <label>Asignar  distribution channel</label>
        <locationX>292</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>SalesDistrict</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuscarSalesDistrict</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Buscar_distribution_channel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Buscar_distribution_channel</name>
        <label>Buscar distribution channel</label>
        <locationX>292</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>DistributionChannel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DistributionChannelEnCustomerSalesArea</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cuenta_contiene_sales_district</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Distribution_Channel</name>
        <label>Distribution Channel</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Get_account.Dan360_DistributionChannel__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DistributionChannel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Cuenta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Sales_District</name>
        <label>Sales District</label>
        <locationX>402</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Get_account.Dan360_SalesDistric1__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SalesDistrict</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_account.Dan360_SalesDistrictColaborationRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_account.Dan360_SalesDistric1__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Cuenta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Distribution_Channel</name>
        <label>Distribution Channel</label>
        <locationX>666</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Get_account.Dan360_DistributionChannel__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DistributionChannel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sales_District</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sales_District</name>
        <label>Sales District</label>
        <locationX>666</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Get_account.Dan360_SalesDistric1__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SalesDistrict</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_account.Dan360_SalesDistrictColaborationRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_account.Dan360_SalesDistric1__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Cuenta</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_1_of_Cuenta_contiene_Distribution_channel</name>
        <label>Cuenta contiene Distribution channel?</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Distribution_Channel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_ContieneDistributionChannel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_account.Dan360_DistributionChannel__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>DistributionChannel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Cuenta</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cuenta_contiene_Distribution_channel</name>
        <label>Cuenta contiene Distribution channel?</label>
        <locationX>534</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Distribution_Channel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>contiene_distribution_channel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_account.Dan360_DistributionChannel__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>DistributionChannel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Sales_District</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cuenta_contiene_sales_district</name>
        <label>Cuenta contiene sales district?</label>
        <locationX>292</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Cuenta_contiene_Distribution_channel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>contiene_sales_district</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_account.Dan360_SalesDistric1__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>SalesDistrict</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Cuenta_contiene_Distribution_channel</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BuscarSalesDistrict</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Dan360_District__c}, 
&apos;AR3DIS&apos;, &apos;Distribuidores&apos; + &apos;;&apos;,
&apos;AR3INS&apos;,&apos;Instituciones&apos; + &apos;;&apos;,
&apos;AR3TEN&apos;,	&apos;Licitaciones&apos; + &apos;;&apos;,
&apos;AR3ACC&apos;, &apos;Acceso&apos; + &apos;;&apos;,
&apos;AR3DPF&apos;, &apos;Disprofarma&apos; + &apos;;&apos;,
&apos;AR3FAR&apos;, &apos;Farmacity&apos; + &apos;;&apos;,
&apos;AR3PHA&apos;, &apos;Farmacias&apos; + &apos;;&apos;,
&apos;AR3MTR&apos;, &apos;Modern Trade&apos; + &apos;;&apos;,
&apos;AR3PRO&apos;, &apos;Proximity&apos; + &apos;;&apos;,
&apos;AR3ECO&apos;, &apos;E-commerce&apos; + &apos;;&apos;,
&apos;AR3HOM&apos;, &apos;Home Care&apos; + &apos;;&apos;,
&apos;AR3INT&apos;, &apos;Intercompany&apos; + &apos;;&apos;,
&apos;AR3MAR&apos;, &apos;Marketing&apos;+ &apos;;&apos;,
&apos;AR3OTH&apos;, &apos;Others&apos; + &apos;;&apos;,
&apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <name>ContieneDistributionChannel</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!DistributionChannelCuenta}, {!DistributionChannel})</expression>
    </formulas>
    <formulas>
        <name>DistributionChannelEnCustomerSalesArea</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Dan360_SalesArea__r.Dan360_DistributionChannel__c} = &apos;00&apos;, &apos;Venta Estándar	&apos;, &apos;Sin Cargo&apos;)</expression>
    </formulas>
    <interviewLabel>Asignar sales district y distribution channel a la cuenta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asignar sales district y distribution channel a la cuenta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_account</name>
        <label>Get account</label>
        <locationX>292</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_distribution_channel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Dan360_Customer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cuenta</name>
        <label>Update Cuenta</label>
        <locationX>292</locationX>
        <locationY>1367</locationY>
        <inputReference>Get_account</inputReference>
    </recordUpdates>
    <start>
        <locationX>166</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_account</targetReference>
        </connector>
        <object>Dan360_CustomerSalesArea__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>DistribuitionChannelList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DistributionChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DistributionChannelCuenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_account.Dan360_DistributionChannel__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>SalesDistrict</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
