force-app/main/default/flows/Asignar_Customer_Sales_Area.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Almacenar_id_de_Customer_Sales_Area</name>
        <label>Almacenar id de Customer Sales Area</label>
        <locationX>1039</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>IDCustomerSalesArea</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorre_Customer_Sales_Area.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorre_Customer_Sales_Area</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Corresponde_el_Customer_SAles_Area</name>
        <label>Corresponde el Customer SAles Area?</label>
        <locationX>1026</locationX>
        <locationY>330</locationY>
        <defaultConnector>
            <targetReference>Recorre_Customer_Sales_Area</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Corresponde</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorre_Customer_Sales_Area.Dan360_SalesArea__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Obtener_Sales_Area.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Almacenar_id_de_Customer_Sales_Area</targetReference>
            </connector>
            <label>Corresponde</label>
        </rules>
    </decisions>
    <interviewLabel>Asignar Customer Sales Area {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asignar Customer Sales Area</label>
    <loops>
        <name>Recorre_Customer_Sales_Area</name>
        <label>Recorre Customer Sales Area</label>
        <locationX>796</locationX>
        <locationY>332</locationY>
        <collectionReference>Obtener_Customer_Sales_Area</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Corresponde_el_Customer_SAles_Area</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizar_Customer_Sales</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_Customer_Sales_Area</name>
        <label>Obtener Customer Sales Area</label>
        <locationX>456</locationX>
        <locationY>332</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Sales_Area</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dan360_Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Dan360_CustomerSalesArea__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Sales_Area</name>
        <label>Obtener Sales Area</label>
        <locationX>623</locationX>
        <locationY>332</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorre_Customer_Sales_Area</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dan360_SalesOrganization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Dan360_UnidadNegocio__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Dan360_SalesArea__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Dan360_SalesOrganization__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Customer_Sales</name>
        <label>Actualizar Customer Sales Area</label>
        <locationX>796</locationX>
        <locationY>535</locationY>
        <inputAssignments>
            <field>Dan360_CustomerSalesArea__c</field>
            <value>
                <elementReference>IDCustomerSalesArea</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Obtener_Customer_Sales_Area</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dan360_UnidadNegocio__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>IDCustomerSalesArea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
