force-app/main/default/flows/Asignaci_n_de_tipos_de_registro_y_jerarqu_a_de_cuentas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Asignar_padre</name>
        <label>Asignar padre</label>
        <locationX>2750</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>Recorrer_cuentas_hijo.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_cuenta_hijo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_tipo_de_registro</name>
        <label>Asignar tipo de registro</label>
        <locationX>3058</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>TipoDeRegistro</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorre_Distribution_Channel.Dan360_TipoDeRegistro__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Tipo_de_registro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_tipo_de_registro_Otros</name>
        <label>Asignar tipo de registro Otros</label>
        <locationX>3894</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>TipoDeRegistro</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dan360_Otros</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorre_Distribution_Channel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cuenta_Padre_Assignament</name>
        <label>Cuenta Padre Assignament</label>
        <locationX>3454</locationX>
        <locationY>1991</locationY>
        <assignmentItems>
            <assignToReference>CuentaPadre</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_cuenta_padre</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_cuenta_sucursal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cuenta_Padre_Assignament_Name2</name>
        <label>Cuenta Padre Assignament Name2</label>
        <locationX>3190</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>CuentaPadre</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_cuenta_padre_Name2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_cuenta_sucursal</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cuenta_tiene_CUIL</name>
        <label>Cuenta tiene CUIT?</label>
        <locationX>3058</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Tiene_Name2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No tiene CUIT</defaultConnectorLabel>
        <rules>
            <name>Tiene_CUIL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cuit__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>#</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_tipo_de_registro</targetReference>
            </connector>
            <label>Tiene CUIL</label>
        </rules>
    </decisions>
    <decisions>
        <name>CustomerSalesArea_canal_00</name>
        <label>CustomerSalesArea canal 00?</label>
        <locationX>3388</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Recorre_Distribution_Channel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Sii</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorre_Customer_Sales_Area.Dan360_SalesArea__r.Dan360_DistributionChannel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_tipo_de_registro</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Encontro_Cuenta_Padre_Name2</name>
        <label>Encontro Cuenta Padre Name2?</label>
        <locationX>3322</locationX>
        <locationY>1751</locationY>
        <defaultConnector>
            <targetReference>Obtener_cuenta_padre</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_cuenta_padre_Name2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cuenta_Padre_Assignament_Name2</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_cuentas_hijo</name>
        <label>Hay cuentas hijo?</label>
        <locationX>2794</locationX>
        <locationY>1655</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_hay_cuenta_hijo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_cuenta_hijo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorrer_cuentas_hijo</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_Name2</name>
        <label>Tiene Name2?</label>
        <locationX>3322</locationX>
        <locationY>1415</locationY>
        <defaultConnector>
            <targetReference>Encontro_Cuenta_Padre_Name2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_cuenta_padre_Name2</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validar_distribution_channel</name>
        <label>Validar distribution channel</label>
        <locationX>3641</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Asignar_tipo_de_registro_Otros</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Distribution_Channel_corresponde</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorre_Distribution_Channel.Dan360_DistributionChannels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Recorre_Customer_Sales_Area.Dan360_District__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomerSalesArea_canal_00</targetReference>
            </connector>
            <label>Distribution Channel corresponde</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Asignación de tipos de registro y jerarquía de cuentas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asignación de tipos de registro y jerarquía de cuentas</label>
    <loops>
        <name>Recorre_Customer_Sales_Area</name>
        <label>Recorre Customer Sales Area</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>Obtener_Customer_Sales_Area</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Recorre_Distribution_Channel</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Obtener_Tipo_de_registro</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorre_Distribution_Channel</name>
        <label>Recorre Distribution Channel</label>
        <locationX>2486</locationX>
        <locationY>695</locationY>
        <collectionReference>Obtener_metadata_Distribution_Channel</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Validar_distribution_channel</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Recorre_Customer_Sales_Area</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_cuentas_hijo</name>
        <label>Recorrer cuentas hijo</label>
        <locationX>2662</locationX>
        <locationY>1775</locationY>
        <collectionReference>Obtener_cuenta_hijo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_padre</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_cuenta_hijo</name>
        <label>Obtener cuenta hijo</label>
        <locationX>2794</locationX>
        <locationY>1535</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hay_cuentas_hijo</targetReference>
        </connector>
        <filterLogic>((1 AND 4) OR (1 OR 4)) AND (2 AND 3 AND 5)</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cuit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>#</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_cuenta_padre</name>
        <label>Obtener cuenta padre</label>
        <locationX>3454</locationX>
        <locationY>1871</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cuenta_Padre_Assignament</targetReference>
        </connector>
        <filterLogic>((1 AND 4) OR (1 OR 4)) AND (2 AND 3)</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cuit__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>#</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Cliente_EDI__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_cuenta_padre_Name2</name>
        <label>Obtener cuenta padre Name2</label>
        <locationX>3190</locationX>
        <locationY>1535</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Encontro_Cuenta_Padre_Name2</targetReference>
        </connector>
        <filterLogic>((1 AND 4) OR (1 OR 4)) AND (2 AND 3)</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cuit__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>#</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Cliente_EDI__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Customer_Sales_Area</name>
        <label>Obtener Customer Sales Area</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_metadata_Distribution_Channel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dan360_Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Dan360_CustomerSalesArea__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_metadata_Distribution_Channel</name>
        <label>Obtener metadata Distribution Channel</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorre_Customer_Sales_Area</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Dan360_DistributionChannels__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Tipo_de_registro</name>
        <label>Obtener Tipo de registro</label>
        <locationX>3058</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cuenta_tiene_CUIL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TipoDeRegistro</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_cuenta_hijo</name>
        <label>Actualizar cuenta hijo</label>
        <locationX>2750</locationX>
        <locationY>2015</locationY>
        <connector>
            <targetReference>Recorrer_cuentas_hijo</targetReference>
        </connector>
        <inputReference>Recorrer_cuentas_hijo</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_cuenta_sucursal</name>
        <label>Actualizar cuenta sucursal</label>
        <locationX>3322</locationX>
        <locationY>2207</locationY>
        <inputAssignments>
            <field>Cliente_EDI__c</field>
            <value>
                <elementReference>CuentaPadre.Cliente_EDI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CuentaPadre.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Obtener_Tipo_de_registro.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_tipo_de_registro</name>
        <label>Actualizar tipo de registro</label>
        <locationX>2794</locationX>
        <locationY>1415</locationY>
        <connector>
            <targetReference>Obtener_cuenta_hijo</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Obtener_Tipo_de_registro.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_Customer_Sales_Area</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CuentaPadre</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>TipoDeRegistro</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
