force-app/main/default/flows/Asignar_lista_de_precios_al_pedido.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Almacenar_Id_Sales_area</name>
        <label>Almacenar Id Sales area</label>
        <locationX>138</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>idSalesArea</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_All_Sales_Area.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_All_Sales_Area</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Almacenar_Id_Sales_area_0</name>
        <label>Almacenar Id Sales area</label>
        <locationX>402</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>idSalesArea</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_All_Sales_Area.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_All_Sales_Area</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asingnar_TIpo_Venta_SIn_cargo</name>
        <label>Asingnar TIpo Venta SIn cargo</label>
        <locationX>116</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>TipoVenta</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>05</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dan360_TieneCustomerSalesArea</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Dan360_TieneCustomerSalesArea</name>
        <label>¿Tiene Customer Sales Area?</label>
        <locationX>248</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Obtener_lista_de_precios_de_la_Customer_Sales_Area</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Dan360_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dan360_CustomerSalesArea__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_Obtener_All_Sales_Area</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dan360_ValidaTipoPedido</name>
        <label>Valida Tipo de Pedido</label>
        <locationX>402</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Recorrer_All_Sales_Area</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Dan360_VentaDirecta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dan360_UnidadNegocio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Recorrer_All_Sales_Area.Dan360_SalesOrganization__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recorrer_All_Sales_Area.Dan360_Id_Externo__c</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>00-00</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recordTypeVentaDirecta</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Almacenar_Id_Sales_area</targetReference>
            </connector>
            <label>Venta Directa</label>
        </rules>
        <rules>
            <name>Dan360_PedidoSinCargo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recordTypeSinCargo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dan360_UnidadNegocio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Recorrer_All_Sales_Area.Dan360_SalesOrganization__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recorrer_All_Sales_Area.Dan360_Id_Externo__c</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>05-00</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Almacenar_Id_Sales_area_0</targetReference>
            </connector>
            <label>Pedido Sin Cargo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se_encontr_una_lista_de_precios</name>
        <label>Se encontró una lista de precios?</label>
        <locationX>446</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>obtener_PlantillaCuenta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Encontro_lista_de_precios</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_lista_de_precios_de_la_Customer_Sales_Area</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_lista_de_precios_en_el_pedido</targetReference>
            </connector>
            <label>Encontró lista de precios</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_Venta</name>
        <label>Tipo de Venta?</label>
        <locationX>248</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Dan360_TieneCustomerSalesArea</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Sin_cargo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recordTypeSinCargo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asingnar_TIpo_Venta_SIn_cargo</targetReference>
            </connector>
            <label>Sin cargo</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Asignar lista de precios al pedido {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asignar Lista Precio - Customer Sales Area - Product Template - Before</label>
    <loops>
        <name>Recorrer_All_Sales_Area</name>
        <label>Recorrer All Sales Area</label>
        <locationX>50</locationX>
        <locationY>887</locationY>
        <collectionReference>Dan360_Obtener_All_Sales_Area</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Dan360_ValidaTipoPedido</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Obtener_Customer_Sales_Area</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Dan360_Obtener_All_Sales_Area</name>
        <label>Obtener All Sales Area</label>
        <locationX>50</locationX>
        <locationY>767</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorrer_All_Sales_Area</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dan360_SalesOrganization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Dan360_UnidadNegocio__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Dan360_SalesArea__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Customer_Sales_Area</name>
        <label>Obtener Customer Sales Area</label>
        <locationX>50</locationX>
        <locationY>1439</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dan360_ActualizarCustomerSalesArea</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dan360_Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dan360_SalesArea__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idSalesArea</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Dan360_CustomerSalesArea__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_lista_de_precios_de_la_Customer_Sales_Area</name>
        <label>Obtener lista de precios de la Customer Sales Area</label>
        <locationX>446</locationX>
        <locationY>767</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Se_encontr_una_lista_de_precios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dan360_CustomerSalesArea__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Dan360_CustomerSalesArea__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>obtener_PlantillaCuenta</name>
        <label>obtener PlantillaCuenta</label>
        <locationX>248</locationX>
        <locationY>1775</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Plantilla_De_Producto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dan360_Cuenta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dan360_DistributionChannel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TipoVenta</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dan360_UnidadNegocio__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Dan360_UnidadNegocio__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>dAN360_PlantillaporcCuenta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_lista_de_precios_en_el_pedido</name>
        <label>Actualizar lista de precios en el pedido</label>
        <locationX>314</locationX>
        <locationY>1007</locationY>
        <connector>
            <targetReference>obtener_PlantillaCuenta</targetReference>
        </connector>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Obtener_lista_de_precios_de_la_Customer_Sales_Area.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Asignar_Plantilla_De_Producto</name>
        <label>Asignar Plantilla De Producto</label>
        <locationX>248</locationX>
        <locationY>1895</locationY>
        <inputAssignments>
            <field>Dan360_PlantillaProductos__c</field>
            <value>
                <elementReference>obtener_PlantillaCuenta.Dan360_PlantillaDeProductos__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Dan360_ActualizarCustomerSalesArea</name>
        <label>Actualizar Customer Sales Area</label>
        <locationX>50</locationX>
        <locationY>1559</locationY>
        <connector>
            <targetReference>obtener_PlantillaCuenta</targetReference>
        </connector>
        <inputAssignments>
            <field>Dan360_CustomerSalesArea__c</field>
            <value>
                <elementReference>Obtener_Customer_Sales_Area.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tipo_de_Venta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dan360_UnidadNegocio__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>idPedido</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idSalesArea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeSinCargo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Dan360_PedidoSinCargo</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordTypeVentaDirecta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Dan360_PedidoVentaDirecta</stringValue>
        </value>
    </variables>
    <variables>
        <name>TipoVenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00</stringValue>
        </value>
    </variables>
</Flow>
