force-app/main/default/flows/Automatizaci_n_alergia.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <constants>
        <name>loopdetarea</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>Paciente_de_Alergia</name>
        <label>Paciente de Alergia</label>
        <locationX>475</locationX>
        <locationY>479</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tarea_completa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alta_via_web.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tipo_de_tarea</targetReference>
            </connector>
            <label>Tarea completa</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Cierredetarea</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 10</expression>
    </formulas>
    <formulas>
        <name>Cierremensual</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <formulas>
        <name>Cierrequincenal</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 15</expression>
    </formulas>
    <formulas>
        <name>Cierretratamiento</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 10</expression>
    </formulas>
    <interviewLabel>Automatización alergia {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Automatización alergia</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Seguimiento_dia_10_Alergia</name>
        <label>Seguimiento dia 10 Alergia</label>
        <locationX>343</locationX>
        <locationY>803</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Cierrequincenal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LLamado_a_PSP.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Tipo_de_tarea.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Abierta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Seguimiento Día 10 Alergia</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Alta_via_web</name>
        <label>Alta via web</label>
        <locationX>475</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Paciente_de_Alergia</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Alta Paciente Via Web</stringValue>
            </value>
        </filters>
        <filters>
            <field>Paciente__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Llama al grupo de PSP</description>
        <name>LLamado_a_PSP</name>
        <label>LLamado a PSP</label>
        <locationX>343</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Seguimiento_dia_10_Alergia</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PSP</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>llamamos a &quot;llamada de seguimiento&quot;</description>
        <name>Tipo_de_tarea</name>
        <label>Tipo de tarea</label>
        <locationX>343</locationX>
        <locationY>587</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LLamado_a_PSP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Llamado_de_seguimiento</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>349</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Alta_via_web</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Area_terapeutica__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Alergia</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>OwnerId</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$User.Alias}&lt;/p&gt;</text>
    </textTemplates>
</Flow>
