force-app/main/default/flows/Automatizacion_de_seguimiento_de_Dieta_cetogenica.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Primer_o_Segundo_Seguimiento</name>
        <label>Primer o Segundo Seguimiento</label>
        <locationX>563</locationX>
        <locationY>471</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Es_el_primer_seguimiento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumeroSeguimiento</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Seguimiento - MES 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Esperar_30_d_as_desde_que_se_actualiza_la_cuenta</targetReference>
            </connector>
            <label>Es el primer seguimiento</label>
        </rules>
        <rules>
            <name>Es_el_segundo_seguimiento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumeroSeguimiento</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Seguimiento - MES 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Esperar_30_d_as_desde_que_cuenta_Cambia_a_En_Tratamiento_0</targetReference>
            </connector>
            <label>Es el segundo seguimiento</label>
        </rules>
    </decisions>
    <interviewLabel>Automatización de seguimiento de cetogenica {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Automatización de seguimiento de Dieta cetogenica</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Primer_Seguimiento</name>
        <label>Primer Seguimiento</label>
        <locationX>785</locationX>
        <locationY>233</locationY>
        <assignRecordIdToReference>IdDeLaTarea</assignRecordIdToReference>
        <inputAssignments>
            <field>Llamada__c</field>
            <value>
                <stringValue>No exitosa</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType_Llamado_de_seguimiento.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Abierta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Seguimiento - MES 1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Primer_Seguimiento_0</name>
        <label>Primer Seguimiento</label>
        <locationX>962</locationX>
        <locationY>476</locationY>
        <assignRecordIdToReference>IdDeLaTarea</assignRecordIdToReference>
        <inputAssignments>
            <field>Llamada__c</field>
            <value>
                <stringValue>No exitosa</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType_Llamado_de_seguimiento.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Abierta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Seguimiento - MES 2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>RecordType_Llamado_de_seguimiento</name>
        <label>RecordType Llamado de seguimiento</label>
        <locationX>179</locationX>
        <locationY>296</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Primer_o_Segundo_Seguimiento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Llamado_de_seguimiento</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>52</locationX>
        <locationY>151</locationY>
        <connector>
            <targetReference>RecordType_Llamado_de_seguimiento</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>FechaModificacionCuenta</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FechaProximaTarea</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdDeLaTarea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumeroSeguimiento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TareaEnBucle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>WhatId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Esperar_30_d_as_desde_que_cuenta_Cambia_a_En_Tratamiento_0</name>
        <label>Esperar 30 días desde que cuenta Cambia a En Tratamiento</label>
        <locationX>809</locationX>
        <locationY>473</locationY>
        <defaultConnectorLabel>Ruta predeterminada</defaultConnectorLabel>
        <waitEvents>
            <name>Esperar_30_dias_0</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Primer_Seguimiento_0</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>FechaModificacionCuenta</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Days</stringValue>
                </value>
            </inputParameters>
            <label>Esperar 30 días</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Esperar_30_d_as_desde_que_se_actualiza_la_cuenta</name>
        <label>Esperar 30 días desde que se actualiza la cuenta</label>
        <locationX>575</locationX>
        <locationY>233</locationY>
        <defaultConnectorLabel>Ruta predeterminada</defaultConnectorLabel>
        <waitEvents>
            <name>Esperar_30_dias_desde_que_se_actualiza</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Primer_Seguimiento</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>FechaModificacionCuenta</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Days</stringValue>
                </value>
            </inputParameters>
            <label>Esperar 30 días desde que se actualiza</label>
            <outputParameters>
                <assignToReference>FechaProximaTarea</assignToReference>
                <name>AlarmTime</name>
            </outputParameters>
        </waitEvents>
    </waits>
</Flow>
