force-app/main/default/flows/Automatizacion_de_tareas_oncologia.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>La_llamada_fue_exitosa</name>
        <label>La llamada fue exitosa?</label>
        <locationX>646</locationX>
        <locationY>234</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Exitosa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fueexitosa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Esperar_30_Dias_para_nuevo_seguimiento</targetReference>
            </connector>
            <label>Exitosa</label>
        </rules>
        <rules>
            <name>No_exitosa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fueexitosa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Esperar_un_dia_para_generar_nuevamente_seguimiento</targetReference>
            </connector>
            <label>No exitosa</label>
        </rules>
    </decisions>
    <interviewLabel>Automatización de tareas oncología {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Automatización de tareas oncología</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_proximo_seguimiento</name>
        <label>Crear proximo seguimiento</label>
        <locationX>1086</locationX>
        <locationY>60</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>FechaVencimiento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Llamada__c</field>
            <value>
                <stringValue>No realizada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType_Llamado_de_seguimiento.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Abierta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Asunto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_proximo_seguimiento_0</name>
        <label>Crear proximo seguimiento</label>
        <locationX>1022</locationX>
        <locationY>458</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>FechaVencimiento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contador_de_llamada_no_exitosa__c</field>
            <value>
                <elementReference>Contadordetareasnoexitosas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contador_de_tareas__c</field>
            <value>
                <elementReference>Contadordetareasnoexitosas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Llamada__c</field>
            <value>
                <stringValue>No realizada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType_Llamado_de_seguimiento.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Abierta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Asunto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>RecordType_Llamado_de_seguimiento</name>
        <label>RecordType Llamado de seguimiento</label>
        <locationX>435</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>La_llamada_fue_exitosa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Llamado_de_seguimiento</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>5</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>RecordType_Llamado_de_seguimiento</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Asunto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contadordetareasnoexitosas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>FechaAContemplar</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FechaVencimiento</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Fueexitosa</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordtypePSP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WhatId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Esperar_30_Dias_para_nuevo_seguimiento</name>
        <label>Esperar 30 Dias para nuevo seguimiento</label>
        <locationX>859</locationX>
        <locationY>130</locationY>
        <defaultConnectorLabel>Ruta predeterminada</defaultConnectorLabel>
        <waitEvents>
            <name>Esperar_30_dias</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Crear_proximo_seguimiento</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>FechaAContemplar</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Esperar 30 dias</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Esperar_un_dia_para_generar_nuevamente_seguimiento</name>
        <label>Esperar un dia para generar nuevamente seguimiento</label>
        <locationX>763</locationX>
        <locationY>346</locationY>
        <defaultConnectorLabel>Ruta predeterminada</defaultConnectorLabel>
        <waitEvents>
            <name>Esperar_1_dia</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Crear_proximo_seguimiento_0</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>FechaAContemplar</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Esperar 1 dia</label>
        </waitEvents>
    </waits>
</Flow>
