force-app/main/default/flows/Case_nuevo_llamado_sensible.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Case_Nuevo_llamado_sensible</name>
        <label>Case Nuevo llamado sensible</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>Case.Case_Nuevo_llamado_sensible</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Marcar_check_Notificacion_enviada</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Es_Reclamo</name>
        <label>Es Reclamo</label>
        <locationX>545</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Es_un_reclamo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reclamo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluar_cambio_check_Llamado_sensible</targetReference>
            </connector>
            <label>Es un reclamo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluar_cambio_check_Llamado_sensible</name>
        <label>Evaluar cambio check Llamado sensible</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Desmarcar_check_Notificacion_enviada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Se Paso a false</defaultConnectorLabel>
        <rules>
            <name>Si_se_paso_a_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Llamado_sensible__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ya_se_envio_la_notifacion</targetReference>
            </connector>
            <label>Si, se paso a true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ya_se_envio_la_notifacion</name>
        <label>Ya se envio la notifacion?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Ya se ha enviado la notificacion</defaultConnectorLabel>
        <rules>
            <name>No_se_ha_enviado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Notificacion_Llamado_sensible_enviada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Nuevo_llamado_sensible</targetReference>
            </connector>
            <label>No se ha enviado</label>
        </rules>
    </decisions>
    <description>Si el caso tiene el campo llamado sensible y es record type Reclamo, se envia la alerta</description>
    <environments>Default</environments>
    <interviewLabel>Case_nuevo_llamado_sensible {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case nuevo llamado sensible</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Desmarcar_check_Notificacion_enviada</name>
        <label>Desmarcar check Notificacion enviada</label>
        <locationX>490</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Notificacion_Llamado_sensible_enviada__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Marcar_check_Notificacion_enviada</name>
        <label>Marcar check Notificacion enviada</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Notificacion_Llamado_sensible_enviada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Es_Reclamo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Llamado_sensible__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
