force-app/main/default/flows/Categoria_Nicho_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>asignar_a_segmentaciones_el_resultado_de_la_query</name>
        <label>asignar a segmentaciones el resultado de la query</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>segmentaciones</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterar_en_cada_segmentacion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterar_en_cada_segmentacion</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>es_KOL_nicho</name>
        <label>es KOL nicho?</label>
        <locationX>1188</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Evaluar_pacientes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Numero de pacientes atendido y si es top o no</defaultConnectorLabel>
        <rules>
            <name>si_es_KOL_Nicho</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.KOL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KOL Nicho</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_categoria_KOL</targetReference>
            </connector>
            <label>si es KOL Nicho</label>
        </rules>
        <rules>
            <name>si_es_Rising_Star</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.KOL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rising Star</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_categoria_A</targetReference>
            </connector>
            <label>si es Rising Star</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluar_pacientes</name>
        <label>Evaluar pacientes</label>
        <locationX>2112</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Iterar_en_cada_segmentacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0_pacientes</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.KOL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Profesional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.KOL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sin Asignar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.KOL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Promedio_de_pacientes_Nicho__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0 pacientes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_categoria_C</targetReference>
            </connector>
            <label>0 pacientes</label>
        </rules>
        <rules>
            <name>X5_pacientes</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.KOL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Profesional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.KOL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sin Asignar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.KOL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Promedio_de_pacientes_Nicho__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>M치s de 5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_categoria_A_pt2</targetReference>
            </connector>
            <label>5 pacientes</label>
        </rules>
        <rules>
            <name>Entre_1_y_5</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.KOL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Profesional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.KOL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sin Asignar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.KOL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Promedio_de_pacientes_Nicho__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entre 1 y 5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trabaja_en_Institucion_Top__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Como_trabaja__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trabaja en equipo con KOL NICHO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Asignar_categoria_A</targetReference>
            </connector>
            <label>Entre 1 y 5</label>
        </rules>
        <rules>
            <name>Est_formando_equipo</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.KOL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Profesional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.KOL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sin Asignar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.KOL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Promedio_de_pacientes_Nicho__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entre 1 y 5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trabaja_en_Institucion_Top__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Como_trabaja__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Est치 formando equipo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Asignar_categoria_A</targetReference>
            </connector>
            <label>Est치 formando equipo</label>
        </rules>
        <rules>
            <name>Es_referente_dentro_del_IISS</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.KOL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Profesional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.KOL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sin Asignar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.KOL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Promedio_de_pacientes_Nicho__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entre 1 y 5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trabaja_en_Institucion_Top__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Como_trabaja__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Es referente dentro de la IISS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Asignar_categoria_A</targetReference>
            </connector>
            <label>Es referente dentro del IISS</label>
        </rules>
        <rules>
            <name>Ninguna_de_las_3</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.KOL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Profesional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.KOL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sin Asignar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.KOL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Promedio_de_pacientes_Nicho__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entre 1 y 5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trabaja_en_Institucion_Top__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Como_trabaja__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ninguna de las 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_categoria_B</targetReference>
            </connector>
            <label>Ninguna de las 3</label>
        </rules>
        <rules>
            <name>Trabaja_en_equipo_con_KOL_nicho</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.KOL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Profesional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.KOL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sin Asignar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.KOL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Promedio_de_pacientes_Nicho__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entre 1 y 5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trabaja_en_Institucion_Top__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Como_trabaja__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trabaja en equipo con KOL NICHO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_categoria_B_copy</targetReference>
            </connector>
            <label>Trabaja en equipo con KOL nicho</label>
        </rules>
        <rules>
            <name>Esta_formando_equipo_sin_ser_top</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.KOL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Profesional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.KOL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sin Asignar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.KOL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Promedio_de_pacientes_Nicho__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entre 1 y 5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trabaja_en_Institucion_Top__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Como_trabaja__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Est치 formando equipo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_categoria_B_copy2</targetReference>
            </connector>
            <label>Esta formando equipo sin ser top</label>
        </rules>
        <rules>
            <name>Es_referente_dentro_de_IISS_sin_ser_top</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.KOL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Profesional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.KOL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sin Asignar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.KOL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Promedio_de_pacientes_Nicho__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entre 1 y 5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trabaja_en_Institucion_Top__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Como_trabaja__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Es referente dentro de la IISS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Asignar_categoria_B</targetReference>
            </connector>
            <label>Es referente dentro de IISS sin ser top</label>
        </rules>
        <rules>
            <name>Ninguna_de_la_3_sin_ser_top</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.KOL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Profesional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.KOL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sin Asignar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.KOL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Promedio_de_pacientes_Nicho__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entre 1 y 5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trabaja_en_Institucion_Top__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Como_trabaja__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ninguna de las 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Asignar_categoria_C</targetReference>
            </connector>
            <label>Ninguna de la 3 sin ser top</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Cateogira Nicho Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Categoria Nicho Trigger</label>
    <loops>
        <name>Iterar_en_cada_segmentacion</name>
        <label>Iterar en cada segmentacion</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>obtener_segmentaciones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>es_KOL_nicho</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>obtener_segmentaciones</name>
        <label>obtener segmentaciones</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asignar_a_segmentaciones_el_resultado_de_la_query</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Profesional__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>VisMed_Segmentacion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Asignar_categoria_A</name>
        <label>Asignar categoria A</label>
        <locationX>528</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Iterar_en_cada_segmentacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterar_en_cada_segmentacion.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Categoria_Nicho_aux__c</field>
            <value>
                <stringValue>A</stringValue>
            </value>
        </inputAssignments>
        <object>VisMed_Segmentacion__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Asignar_categoria_A_pt2</name>
        <label>Asignar categoria A</label>
        <locationX>1056</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Iterar_en_cada_segmentacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterar_en_cada_segmentacion.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Categoria_Nicho_aux__c</field>
            <value>
                <stringValue>A</stringValue>
            </value>
        </inputAssignments>
        <object>VisMed_Segmentacion__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Asignar_categoria_B</name>
        <label>Asignar categoria B</label>
        <locationX>2112</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Iterar_en_cada_segmentacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterar_en_cada_segmentacion.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Categoria_Nicho_aux__c</field>
            <value>
                <stringValue>B</stringValue>
            </value>
        </inputAssignments>
        <object>VisMed_Segmentacion__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Asignar_categoria_B_copy</name>
        <label>Asignar categoria B</label>
        <locationX>2376</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Iterar_en_cada_segmentacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterar_en_cada_segmentacion.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Categoria_Nicho_aux__c</field>
            <value>
                <stringValue>B</stringValue>
            </value>
        </inputAssignments>
        <object>VisMed_Segmentacion__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Asignar_categoria_B_copy2</name>
        <label>Asignar categoria B</label>
        <locationX>2640</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Iterar_en_cada_segmentacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterar_en_cada_segmentacion.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Categoria_Nicho_aux__c</field>
            <value>
                <stringValue>B</stringValue>
            </value>
        </inputAssignments>
        <object>VisMed_Segmentacion__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Asignar_categoria_C</name>
        <label>Asignar categoria C</label>
        <locationX>792</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Iterar_en_cada_segmentacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterar_en_cada_segmentacion.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Categoria_Nicho_aux__c</field>
            <value>
                <stringValue>C</stringValue>
            </value>
        </inputAssignments>
        <object>VisMed_Segmentacion__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Asignar_categoria_KOL</name>
        <label>Asignar categoria KOL</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Iterar_en_cada_segmentacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterar_en_cada_segmentacion.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Categoria_Nicho_aux__c</field>
            <value>
                <stringValue>KOL</stringValue>
            </value>
        </inputAssignments>
        <object>VisMed_Segmentacion__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Asignar_categoria_A</name>
        <label>Asignar categoria A</label>
        <locationX>1848</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Iterar_en_cada_segmentacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterar_en_cada_segmentacion.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Categoria_Nicho_aux__c</field>
            <value>
                <stringValue>A</stringValue>
            </value>
        </inputAssignments>
        <object>VisMed_Segmentacion__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Asignar_categoria_A</name>
        <label>Asignar categoria A</label>
        <locationX>1320</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Iterar_en_cada_segmentacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterar_en_cada_segmentacion.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Categoria_Nicho_aux__c</field>
            <value>
                <stringValue>A</stringValue>
            </value>
        </inputAssignments>
        <object>VisMed_Segmentacion__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Asignar_categoria_B</name>
        <label>Asignar categoria B</label>
        <locationX>2904</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Iterar_en_cada_segmentacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterar_en_cada_segmentacion.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Categoria_Nicho_aux__c</field>
            <value>
                <stringValue>B</stringValue>
            </value>
        </inputAssignments>
        <object>VisMed_Segmentacion__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Asignar_categoria_C</name>
        <label>Asignar categoria C</label>
        <locationX>3168</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Iterar_en_cada_segmentacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterar_en_cada_segmentacion.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Categoria_Nicho_aux__c</field>
            <value>
                <stringValue>C</stringValue>
            </value>
        </inputAssignments>
        <object>VisMed_Segmentacion__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Asignar_categoria_A</name>
        <label>Asignar categoria A</label>
        <locationX>1584</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Iterar_en_cada_segmentacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterar_en_cada_segmentacion.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Categoria_Nicho_aux__c</field>
            <value>
                <stringValue>A</stringValue>
            </value>
        </inputAssignments>
        <object>VisMed_Segmentacion__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>obtener_segmentaciones</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>KOL__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Promedio_de_pacientes_Nicho__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Como_trabaja__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>segmentaciones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VisMed_Segmentacion__c</objectType>
    </variables>
</Flow>
