force-app/main/default/flows/Confirmacion_Masiva_de_Pedidos_Componente_Final.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_Products_Available</name>
        <label>Check Products Available</label>
        <locationX>616</locationX>
        <locationY>1670</locationY>
        <actionName>OrderConfirmationFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AsignarCountOrderItemUnAvailable</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>orderItems</name>
            <value>
                <elementReference>Obtener_productos_de_pedido</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>OrderItemUnAvailable</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Dan360_EmailPedidoConfirmado</name>
        <label>Email Pedido Confirmado</label>
        <locationX>627</locationX>
        <locationY>6110</locationY>
        <actionName>Order.Dan360_NotificacionPedidoConfirmado</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Dan360_EnviarASAP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Dan360_ObtenerAllPedidos.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Dan360_SolicitarAprobacionPedidoSinCargo</name>
        <label>Solicitar Aprobación Pedido Sin Cargo</label>
        <locationX>891</locationX>
        <locationY>6110</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Dan360_SolicitarAprobacion</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Dan360_AprobacionPedidosSinCargo</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Dan360_ObtenerAllPedidos.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue> Se solicita la revisión y aprobación del siguiente Pedido Sin Cargo.  Muchas Gracias.</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Dan360_UpdatePrices</name>
        <label>Update Prices</label>
        <locationX>616</locationX>
        <locationY>1310</locationY>
        <actionName>updateMaterialsPrices</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Dan360_ObtenerListaDePrecios</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Dan360_ErrorPedidoPrecios</targetReference>
        </faultConnector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>pedidoId</name>
            <value>
                <elementReference>Dan360_ObtenerAllPedidos.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Price_of_Products_is_changed</name>
        <label>Price_of_Products_is_changed</label>
        <locationX>869</locationX>
        <locationY>2978</locationY>
        <actionName>OrderPriceToConfirm</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Cantidad_Productos_actualizar</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>orderItems</name>
            <value>
                <elementReference>Obtener_productos_de_pedido</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <description>Se agrega pedido seleccionado a la lista de ordenes</description>
        <name>Asignar_pedido_a_lista_de_ordenes</name>
        <label>Asignar pedido a lista de ordenes</label>
        <locationX>156</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ListaOrdenes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Dan360_ObtenerPedidoSeleccionado</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_pedidos_seleccionados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarCountOrderItemUnAvailable</name>
        <label>AsignarCountOrderItemUnAvailable</label>
        <locationX>616</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>countOrderItemsUnAvailable</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>OrderItemUnAvailable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hay_productos_deshabilitados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarOrderItemPlantilla</name>
        <label>AsignarOrderItemPlantilla</label>
        <locationX>550</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>infoOrderItemUnAvailableText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderItemUnAvailablePlantilla</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Order_Item_UnAvailable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cantidad_Productos_actualizar</name>
        <label>Cantidad Productos actualizar</label>
        <locationX>869</locationX>
        <locationY>3098</locationY>
        <assignmentItems>
            <assignToReference>Tamano_Productos_Actualizar</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Price_of_Products_is_changed.orderItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hay_productos_actualizar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dan360_AsignaEstadoConfirmado_0</name>
        <label>Asigna Estado Confirmado</label>
        <locationX>616</locationX>
        <locationY>3986</locationY>
        <assignmentItems>
            <assignToReference>Dan360_ObtenerAllPedidos.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confirmado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Dan360_ObtenerAllPedidos.Dan360_PedidoConfirmado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Dan360_ObtenerAllPedidos.Dan360_FechasConfirmado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FechasConfirmadoNOW</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dan360_ObtenerPedidosCuenta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dan360_AsignarOrdenCompra</name>
        <label>AsignarOrdenCompra</label>
        <locationX>836</locationX>
        <locationY>4346</locationY>
        <assignmentItems>
            <assignToReference>OrdenDeCompra</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Dan360_RecorrerPedidosConfirmados.Orden_de_compra__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dan360_ValidarOrdenCompra</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NoOk</name>
        <choiceText>Cancelar</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Ok</name>
        <choiceText>Aceptar</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <name>Aceptaelupdate</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <decisions>
        <name>Acepta_cambios_de_precio</name>
        <label>Acepta cambios de precio</label>
        <locationX>671</locationX>
        <locationY>3338</locationY>
        <defaultConnector>
            <targetReference>Copia_1_de_Pedido_no_confirmado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_acepto</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Aceptaelupdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eliminar_Productos_Con_Dif</targetReference>
            </connector>
            <label>Si acepto</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dan360_HayproductosDePedido</name>
        <label>Hay productos de pedido?</label>
        <locationX>1149</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Dan360_PedidoNoConfirmado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dan360_HayProductos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_productos_de_pedido</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_UpdatePrices</targetReference>
            </connector>
            <label>Hay productos</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dan360_SeConfirmoElPedido</name>
        <label>¿Se confirmo el pedido?</label>
        <locationX>891</locationX>
        <locationY>5198</locationY>
        <defaultConnector>
            <targetReference>Dan360_PedidoRetenidoPorCuota_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dan360_Confirmado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dan360_ObtenerAllPedidos.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_PedidoConfirmado_0</targetReference>
            </connector>
            <label>Confirmado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dan360_TienePedidoRetenidoPorCuota</name>
        <label>¿Tiene pedido retenido por cuota?</label>
        <locationX>737</locationX>
        <locationY>5558</locationY>
        <defaultConnector>
            <targetReference>Dan360_TipoDePedido</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dan360_RetenidosPorCuota</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dan360_ObtenerPedidosRetenidosPorCuota.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retenido por cuota</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_PedidoRetenidoPorCuota</targetReference>
            </connector>
            <label>Retenidos Por Cuota</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dan360_TipoDePedido</name>
        <label>Tipo de Pedido</label>
        <locationX>891</locationX>
        <locationY>5990</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dan360_PedidoVentaDirecta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dan360_ObtenerAllPedidos.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordtypeVentaDirecta</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Dan360_ObtenerAllPedidos.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_EmailPedidoConfirmado</targetReference>
            </connector>
            <label>Pedido Venta Directa</label>
        </rules>
        <rules>
            <name>Dan360_PedidoSinCargo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dan360_ObtenerAllPedidos.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecortypePedidoSinCargo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Dan360_ObtenerAllPedidos.Dan360_En_aprobacion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_SolicitarAprobacionPedidoSinCargo</targetReference>
            </connector>
            <label>Pedido Sin Cargo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dan360_ValidacionDeOrdenDeCompraTerminada</name>
        <label>¿Validación de orden de compra terminada?</label>
        <locationX>616</locationX>
        <locationY>4958</locationY>
        <defaultConnector>
            <targetReference>Dan360_ActualizaPedidoAConfirmado_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dan360_SiTermino</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrdenDeCompra</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Dan360_ObtenerAllPedidos.Orden_de_compra__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Dan360_FinDelProceso</targetReference>
            </connector>
            <label>Si Termino</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dan360_ValidarOrdenCompra</name>
        <label>Validar Orden Compra</label>
        <locationX>836</locationX>
        <locationY>4466</locationY>
        <defaultConnector>
            <targetReference>Dan360_RecorrerPedidosConfirmados</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dan360_MismaOrdenCompra</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dan360_RecorrerPedidosConfirmados.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Dan360_RecorrerPedidosConfirmados.EffectiveDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FechaOrdenCompraTODAY</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OrdenDeCompra</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Dan360_ObtenerAllPedidos.Orden_de_compra__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Dan360_RecorrerPedidosConfirmados.Orden_de_compra__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_MensajeOrdenCompra</targetReference>
            </connector>
            <label>¿Misma Orden de Compra?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Desea_eliminar_productos</name>
        <label>Desea eliminar productos?</label>
        <locationX>462</locationX>
        <locationY>2486</locationY>
        <defaultConnector>
            <targetReference>es_sin_cargo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductosNoOK</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Dan360_ObtenerAllPedidos</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>es_sin_cargo</name>
        <label>es sin cargo?</label>
        <locationX>616</locationX>
        <locationY>2858</locationY>
        <defaultConnector>
            <targetReference>Price_of_Products_is_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SinCargo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dan360_RecorrerPedidosConfirmados.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecortypePedidoSinCargo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_AsignaEstadoConfirmado_0</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_productos_actualizar</name>
        <label>Hay productos actualizar?</label>
        <locationX>869</locationX>
        <locationY>3218</locationY>
        <defaultConnector>
            <targetReference>Dan360_AsignaEstadoConfirmado_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_hay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tamano_Productos_Actualizar</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acepta_cambios_de_precio</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_productos_deshabilitados</name>
        <label>Hay productos deshabilitados?</label>
        <locationX>616</locationX>
        <locationY>1910</locationY>
        <defaultConnector>
            <targetReference>es_sin_cargo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Sii</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countOrderItemsUnAvailable</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorrer_Order_Item_UnAvailable</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vista_de_Componente</name>
        <label>Vista de Componente?</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Dan360_ObtenerPedidosSemaforoVerdeAmarillo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>listaIdComponente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorrer_pedidos_seleccionados</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>Flow Usado en el Aura MassAproving</description>
    <environments>Default</environments>
    <formulas>
        <name>FechaOrdenCompraTODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>FechasConfirmadoNOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>MostrarOrdenCompra</name>
        <dataType>String</dataType>
        <expression>IF(
    CONTAINS({!Dan360_ObtenerAllPedidos.Orden_de_compra__c}, {!OrdenDeCompra}),
   {!Dan360_ObtenerAllPedidos.Orden_de_compra__c},
    {!Dan360_ObtenerAllPedidos.Orden_de_compra__c})</expression>
    </formulas>
    <interviewLabel>Confirmacion Masiva de Pedidos Componente Final {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Confirmacion Masiva de Pedidos Componente Final</label>
    <loops>
        <name>Dan360_ObtenerAllPedidos</name>
        <label>Obtener All Pedidos</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <collectionReference>ListaOrdenes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Obtener_productos_de_pedido</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Dan360_FinDelProceso</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Dan360_RecorrerPedidosConfirmados</name>
        <label>Recorrer Pedidos Confirmados</label>
        <locationX>616</locationX>
        <locationY>4226</locationY>
        <collectionReference>Dan360_ObtenerPedidosCuenta</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Dan360_AsignarOrdenCompra</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Dan360_ValidacionDeOrdenDeCompraTerminada</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_Order_Item_UnAvailable</name>
        <label>Recorrer Order Item UnAvailable</label>
        <locationX>462</locationX>
        <locationY>2030</locationY>
        <collectionReference>OrderItemUnAvailable</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AsignarOrderItemPlantilla</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Productos_inhabilitados</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_pedidos_seleccionados</name>
        <label>Recorrer pedidos seleccionados</label>
        <locationX>68</locationX>
        <locationY>398</locationY>
        <collectionReference>listaIdComponente</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Dan360_ObtenerPedidoSeleccionado</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Dan360_ObtenerAllPedidos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insertar_Nuevos_OrderItems</name>
        <label>Insertar Nuevos OrderItems</label>
        <locationX>539</locationX>
        <locationY>3578</locationY>
        <connector>
            <targetReference>Dan360_AsignaEstadoConfirmado_0</targetReference>
        </connector>
        <inputReference>Price_of_Products_is_changed.orderItemUpdate</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Eliminar_Productos_Con_Dif</name>
        <label>Eliminar Productos Con Dif</label>
        <locationX>539</locationX>
        <locationY>3458</locationY>
        <connector>
            <targetReference>Insertar_Nuevos_OrderItems</targetReference>
        </connector>
        <inputReference>Price_of_Products_is_changed.orderItem</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Dan360_ObtenerListaDePrecios</name>
        <label>Obtener Lista De Precios</label>
        <locationX>616</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dan360_ObtenerProductosDeLaListaDePrecios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Dan360_ObtenerAllPedidos.Pricebook2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Dan360_ObtenerPedidosCuenta</name>
        <label>Obtener Pedidos de la Cuenta</label>
        <locationX>616</locationX>
        <locationY>4106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dan360_RecorrerPedidosConfirmados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Dan360_ObtenerAllPedidos.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirmado</stringValue>
            </value>
        </filters>
        <filters>
            <field>EffectiveDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FechaOrdenCompraTODAY</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Dan360_ObtenerPedidoSeleccionado</name>
        <label>Obtener Pedido Seleccionado</label>
        <locationX>156</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_pedido_a_lista_de_ordenes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recorrer_pedidos_seleccionados</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Dan360_PedidoConfirmado__c</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
        <queriedFields>Dan360_FechasConfirmado__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>EffectiveDate</queriedFields>
        <queriedFields>Orden_de_compra__c</queriedFields>
        <queriedFields>Dan360_PedidoPrincipal__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>OrderNumber</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Dan360_ObtenerPedidosRetenidosPorCuota</name>
        <label>Obtener Pedidos Retenidos por Cuota</label>
        <locationX>737</locationX>
        <locationY>5438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dan360_TienePedidoRetenidoPorCuota</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dan360_PedidoPrincipal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Dan360_ObtenerAllPedidos.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Retenido por cuota</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Dan360_ObtenerPedidosSemaforoVerdeAmarillo</name>
        <label>Obtener Pedidos Semáforo VerdeAmarillo</label>
        <locationX>284</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dan360_ObtenerAllPedidos</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (1 AND 3)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Retenido por cuota</stringValue>
            </value>
        </filters>
        <filters>
            <field>Dan360_SemaforoPicklist__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Verde</stringValue>
            </value>
        </filters>
        <filters>
            <field>Dan360_SemaforoPicklist__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Amarillo</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>ListaOrdenes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Dan360_PedidoConfirmado__c</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
        <queriedFields>Dan360_FechasConfirmado__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>EffectiveDate</queriedFields>
        <queriedFields>Orden_de_compra__c</queriedFields>
        <queriedFields>Dan360_PedidoPrincipal__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>OrderNumber</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Dan360_ObtenerProductosDeLaListaDePrecios</name>
        <label>Obtener Productos De La Lista De Precios</label>
        <locationX>616</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Products_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Dan360_ObtenerListaDePrecios.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_productos_de_pedido</name>
        <label>Obtener productos de pedido</label>
        <locationX>1149</locationX>
        <locationY>1070</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dan360_HayproductosDePedido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Dan360_ObtenerAllPedidos.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Dan360_ActualizaPedidoAConfirmado_0</name>
        <label>Actualiza Pedido A Confirmado</label>
        <locationX>891</locationX>
        <locationY>5078</locationY>
        <connector>
            <targetReference>Dan360_SeConfirmoElPedido</targetReference>
        </connector>
        <inputReference>Dan360_ObtenerAllPedidos</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Copia_1_de_Pedido_no_confirmado</name>
        <label>Copia 1 de Pedido no confirmado</label>
        <locationX>803</locationX>
        <locationY>3458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Dan360_ObtenerAllPedidos</targetReference>
        </connector>
        <fields>
            <name>Copia_1_de_NoConfirmado</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;El Pedido &lt;/strong&gt;&lt;strong style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(45, 43, 186);&quot;&gt;{!Dan360_RecorrerPedidosConfirmados.OrderNumber}&lt;/strong&gt;&lt;strong style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; no ha sido confirmado.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dan360_ErrorPedidoPrecios</name>
        <label>ErrorPedidoPrecios</label>
        <locationX>1419</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Dan360_ObtenerAllPedidos</targetReference>
        </connector>
        <fields>
            <name>ErrorPrecios</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(228, 6, 6); font-family: tahoma;&quot;&gt;Error:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: tahoma;&quot;&gt;No se pudo actualizar la lista de precios&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 10px; font-family: tahoma;&quot;&gt;Problemas externos a salesforce&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dan360_FinDelProceso</name>
        <label>Fin Del Proceso</label>
        <locationX>176</locationX>
        <locationY>6734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Mensaje1_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Confirmación Masiva de Pedidos&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;em&gt;El proceso ha finalizado.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dan360_Instrucciones</name>
        <label>Instrucciones</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Vista_de_Componente</targetReference>
        </connector>
        <fields>
            <name>Mensaje1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Confirmación Masiva de Pedidos&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;&lt;em&gt;Proceso que confirma de forma masiva los pedidos que se encuentren en semáforo &quot;&lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(30, 127, 3);&quot;&gt;&lt;em&gt;Verde&lt;/em&gt;&lt;/strong&gt;&lt;strong&gt;&lt;em&gt;&quot; o &quot;&lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 231, 49);&quot;&gt;&lt;em&gt;Amarillo&lt;/em&gt;&lt;/strong&gt;&lt;strong&gt;&lt;em&gt;&quot;. &lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;&lt;em style=&quot;&quot;&gt;Para continuar haga clic en Siguiente.&lt;/em&gt;&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dan360_MensajeOrdenCompra</name>
        <label>MensajeOrdenCompra</label>
        <locationX>704</locationX>
        <locationY>4586</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Dan360_ObtenerAllPedidos</targetReference>
        </connector>
        <fields>
            <name>Dan360_OrdenCompraToday</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;La orden de compra &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(45, 43, 186);&quot;&gt;{!MostrarOrdenCompra}&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; del pedido &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(45, 43, 186);&quot;&gt;{!Dan360_ObtenerAllPedidos.OrderNumber}&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&quot; ya fue confirmada el día de hoy.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dan360_PedidoConfirmado_0</name>
        <label>Pedido Confirmado</label>
        <locationX>737</locationX>
        <locationY>5318</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Dan360_ObtenerPedidosRetenidosPorCuota</targetReference>
        </connector>
        <fields>
            <name>MensajePedidoConfirmadio_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-family: tahoma;&quot;&gt;El Pedido &lt;/strong&gt;&lt;strong style=&quot;color: rgb(45, 43, 186); background-color: rgb(255, 255, 255); font-family: tahoma;&quot;&gt;{!Dan360_ObtenerAllPedidos.OrderNumber} &lt;/strong&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-family: tahoma;&quot;&gt;ha sido confirmado exitosamente.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dan360_PedidoNoConfirmado</name>
        <label>PedidoNoConfirmado</label>
        <locationX>1683</locationX>
        <locationY>1310</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Dan360_ObtenerAllPedidos</targetReference>
        </connector>
        <fields>
            <name>Error_Ya_Confirm</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;El Pedido &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(45, 43, 186);&quot;&gt;{!Dan360_ObtenerAllPedidos.OrderNumber}&lt;/strong&gt;&lt;strong style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; no ha podido confirmarse. Verifique si tiene productos e inténtelo de nuevo.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dan360_PedidoRetenidoPorCuota</name>
        <label>Pedido Retenido Por Cuota</label>
        <locationX>605</locationX>
        <locationY>5678</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Dan360_TipoDePedido</targetReference>
        </connector>
        <fields>
            <name>MensajePedidoRetenidoCuota</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-family: tahoma;&quot;&gt;El Pedido actual no cubrió la cantidad total de unidades.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-family: tahoma;&quot;&gt;El pedido &lt;/strong&gt;&lt;strong style=&quot;color: rgb(45, 43, 186); font-family: tahoma;&quot;&gt;{!Dan360_ObtenerPedidosRetenidosPorCuota.OrderNumber}&lt;/strong&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); font-family: tahoma; background-color: rgb(255, 255, 255);&quot;&gt;, quedo retenido por cuota.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dan360_PedidoRetenidoPorCuota_0</name>
        <label>Pedido Retenido Por Cuota</label>
        <locationX>1045</locationX>
        <locationY>5318</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Dan360_TipoDePedido</targetReference>
        </connector>
        <fields>
            <name>MensajePedidoRetenidoCuota_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;El Pedido &lt;/strong&gt;&lt;strong style=&quot;font-family: tahoma; color: rgb(45, 43, 186);&quot;&gt;{!Dan360_ObtenerPedidosRetenidosPorCuota.OrderNumber}&lt;/strong&gt;&lt;strong style=&quot;font-family: tahoma; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;, quedo retenido por cuota.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dan360_SolicitarAprobacion</name>
        <label>Solicitar Aprobación</label>
        <locationX>891</locationX>
        <locationY>6230</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Dan360_ObtenerAllPedidos</targetReference>
        </connector>
        <fields>
            <name>MensajeEnvioAprobacion</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;El pedido será enviado a aprobación&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Productos_inhabilitados</name>
        <label>Productos inhabilitados</label>
        <locationX>462</locationX>
        <locationY>2366</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Desea_eliminar_productos</targetReference>
        </connector>
        <fields>
            <name>Mensaje_Productos_Deshabilitados</name>
            <fieldText>&lt;p&gt;Estos productos seleccionados no se encuentran habilitados:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!infoOrderItemUnAvailableText}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11px; color: rgb(244, 62, 62);&quot;&gt;&lt;em&gt;Si acepta, los productos deshabilitados serán eliminados y el pedido será confirmado automáticamente.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProductosNoOK</name>
            <choiceReferences>Ok</choiceReferences>
            <choiceReferences>NoOk</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Desea Continuar?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Dan360_Instrucciones</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Dan360_EnviarASAP</name>
        <label>Enviar A SAP</label>
        <locationX>627</locationX>
        <locationY>6230</locationY>
        <connector>
            <targetReference>Dan360_ObtenerAllPedidos</targetReference>
        </connector>
        <flowName>Dan360_EnviarASAPSubConfirmacionMasivaDePedidos</flowName>
        <inputAssignments>
            <name>IdPedidoAEnviar</name>
            <value>
                <elementReference>Dan360_ObtenerAllPedidos.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>NuevoPrecio</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Producto: &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!d25c6d1e-b269-4bf3-b0c8-bab4c3c9e7fa.Product2.Name}&lt;/span&gt; , Precio anterior: ${!9955ae2b-9fb1-4d18-bfac-8af150d618af.UnitPrice}, Precio actual: ${!d25c6d1e-b269-4bf3-b0c8-bab4c3c9e7fa.UnitPrice}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>OrderItemUnAvailablePlantilla</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Recorrer_Order_Item_UnAvailable.Product2.Name}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AcumulaPrecios</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>AcumulaProductos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>countOrderItemsUnAvailable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_tes</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdsComponente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InfoNuevosPrecios</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>infoOrderItemUnAvailableText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listaIdComponente</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListaOrdenes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>OrdenDeCompra</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderItemUnAvailable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>PrecioAnterior</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductosDePedido</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>ProductosDePedidoAActualizar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>ProductosPrecioAnterior</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>ProductosQueCambiaron</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordtypeVentaDirecta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Dan360_PedidoVentaDirecta</stringValue>
        </value>
    </variables>
    <variables>
        <name>RecortypePedidoSinCargo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Dan360_PedidoSinCargo</stringValue>
        </value>
    </variables>
    <variables>
        <name>Tamano_Productos_Actualizar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TextoErrorCreacionPedido</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
