force-app/main/default/flows/Confirmacion_Masiva_de_Pedidos_Componente.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Dan360_EmailPedidoConfirmado</name>
        <label>Email Pedido Confirmado</label>
        <locationX>1683</locationX>
        <locationY>6518</locationY>
        <actionName>Order.Dan360_NotificacionPedidoConfirmado</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Dan360_EnviarASAP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Dan360_ObtenerAllPedidos.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Dan360_SolicitarAprobacionPedidoSinCargo</name>
        <label>Solicitar Aprobación Pedido Sin Cargo</label>
        <locationX>1947</locationX>
        <locationY>6518</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Dan360_SolicitarAprobacion</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Dan360_AprobacionPedidosSinCargo</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Dan360_ObtenerAllPedidos.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue> Se solicita la revisión y aprobación del siguiente Pedido Sin Cargo.  Muchas Gracias.</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Dan360_UpdatePrices</name>
        <label>Update Prices</label>
        <locationX>1672</locationX>
        <locationY>1310</locationY>
        <actionName>updateMaterialsPrices</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Dan360_ObtenerListaDePrecios</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Dan360_ErrorPedidoPrecios</targetReference>
        </faultConnector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>pedidoId</name>
            <value>
                <elementReference>Dan360_ObtenerAllPedidos.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <description>Se agrega pedido seleccionado a la lista de ordenes</description>
        <name>Asignar_pedido_a_lista_de_ordenes</name>
        <label>Asignar pedido a lista de ordenes</label>
        <locationX>156</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ListaOrdenes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Dan360_ObtenerPedidoSeleccionado</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_pedidos_seleccionados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dan360_ActualizarListadoProductosAActualizar</name>
        <label>Actualizar Listado Productos A Actualizar</label>
        <locationX>2508</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>ProductosDePedidoAActualizar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Dan360_RecorrerProductosDePedido</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dan360_RecorrerPricebookEntry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dan360_AsignaEstadoConfirmado_0</name>
        <label>Asigna Estado Confirmado</label>
        <locationX>1672</locationX>
        <locationY>4274</locationY>
        <assignmentItems>
            <assignToReference>Dan360_ObtenerAllPedidos.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confirmado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Dan360_ObtenerAllPedidos.Dan360_PedidoConfirmado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Dan360_ObtenerAllPedidos.Dan360_FechasConfirmado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FechasConfirmadoNOW</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dan360_ActualizaProductosDePedido_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dan360_AsignarNuevosPrecios</name>
        <label>Asignar Nuevos Precios</label>
        <locationX>2508</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>Dan360_RecorrerProductosDePedido.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dan360_RecorrerPricebookEntry.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductosPrecioAnterior</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Dan360_RecorrerProductosDePedido</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dan360_ActualizarListadoProductosAActualizar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dan360_AsignarOrdenCompra</name>
        <label>AsignarOrdenCompra</label>
        <locationX>1892</locationX>
        <locationY>4754</locationY>
        <assignmentItems>
            <assignToReference>OrdenDeCompra</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Dan360_RecorrerPedidosConfirmados.Orden_de_compra__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dan360_ValidarOrdenCompra</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dan360_AsignarTexto</name>
        <label>Asignar Texto</label>
        <locationX>2024</locationX>
        <locationY>3254</locationY>
        <assignmentItems>
            <assignToReference>InfoNuevosPrecios</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NuevoPrecio</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dan360_RecorrePreciosAnteriores</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NoOk</name>
        <choiceText>Cancelar</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Ok</name>
        <choiceText>Aceptar</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Dan360_Acepto</name>
        <label>¿Acepto?</label>
        <locationX>1496</locationX>
        <locationY>3782</locationY>
        <defaultConnector>
            <targetReference>Dan360_PedidoNoConfirmado1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rechaza</defaultConnectorLabel>
        <rules>
            <name>Dan360_Acepta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dan360_DeseaContinuar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Ok</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_AsignaEstadoConfirmado_0</targetReference>
            </connector>
            <label>Acepta</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dan360_EsElMismoProducto</name>
        <label>¿Es el mismo producto?</label>
        <locationX>2794</locationX>
        <locationY>1910</locationY>
        <defaultConnector>
            <targetReference>Dan360_RecorrerPricebookEntry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dan360_MismoProducto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dan360_RecorrerProductosDePedido.Product2Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Dan360_RecorrerPricebookEntry.Product2Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_PrecioDiferente</targetReference>
            </connector>
            <label>Mismo Producto</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dan360_HayproductosDePedido</name>
        <label>Hay productos de pedido?</label>
        <locationX>2205</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Dan360_PedidoNoConfirmado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dan360_HayProductos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_productos_de_pedido</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_UpdatePrices</targetReference>
            </connector>
            <label>Hay productos</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dan360_ListaTieneElementos</name>
        <label>¿Lista Tiene Elementos?</label>
        <locationX>1672</locationX>
        <locationY>2774</locationY>
        <defaultConnector>
            <targetReference>Dan360_AsignaEstadoConfirmado_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dan360_TieneElementos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductosDePedidoAActualizar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_RecorreNuevosProductos</targetReference>
            </connector>
            <label>Tiene Elementos</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dan360_MismoProducto2</name>
        <label>¿Mismo Producto?</label>
        <locationX>2156</locationX>
        <locationY>3134</locationY>
        <defaultConnector>
            <targetReference>Dan360_RecorrePreciosAnteriores</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dan360_Mismo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dan360_RecorreNuevosProductos.Product2Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Dan360_RecorrePreciosAnteriores.Product2Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_AsignarTexto</targetReference>
            </connector>
            <label>Mismo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dan360_PrecioDiferente</name>
        <label>¿Precio Diferente?</label>
        <locationX>2640</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>Dan360_RecorrerPricebookEntry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dan360_EsDiferente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dan360_RecorrerProductosDePedido.ListPrice</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Dan360_RecorrerPricebookEntry.UnitPrice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_AsignarNuevosPrecios</targetReference>
            </connector>
            <label>Es Diferente</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dan360_SeConfirmoElPedido</name>
        <label>¿Se confirmo el pedido?</label>
        <locationX>1947</locationX>
        <locationY>5606</locationY>
        <defaultConnector>
            <targetReference>Dan360_PedidoRetenidoPorCuota_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dan360_Confirmado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dan360_ObtenerAllPedidos.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_PedidoConfirmado_0</targetReference>
            </connector>
            <label>Confirmado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dan360_TienePedidoRetenidoPorCuota</name>
        <label>¿Tiene pedido retenido por cuota?</label>
        <locationX>1793</locationX>
        <locationY>5966</locationY>
        <defaultConnector>
            <targetReference>Dan360_TipoDePedido</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dan360_RetenidosPorCuota</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dan360_ObtenerPedidosRetenidosPorCuota.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retenido por cuota</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_PedidoRetenidoPorCuota</targetReference>
            </connector>
            <label>Retenidos Por Cuota</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dan360_TipoDePedido</name>
        <label>Tipo de Pedido</label>
        <locationX>1947</locationX>
        <locationY>6398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dan360_PedidoVentaDirecta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dan360_ObtenerAllPedidos.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordtypeVentaDirecta</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Dan360_ObtenerAllPedidos.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_EmailPedidoConfirmado</targetReference>
            </connector>
            <label>Pedido Venta Directa</label>
        </rules>
        <rules>
            <name>Dan360_PedidoSinCargo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dan360_ObtenerAllPedidos.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecortypePedidoSinCargo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Dan360_ObtenerAllPedidos.Dan360_En_aprobacion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_SolicitarAprobacionPedidoSinCargo</targetReference>
            </connector>
            <label>Pedido Sin Cargo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dan360_ValidacionDeOrdenDeCompraTerminada</name>
        <label>¿Validación de orden de compra terminada?</label>
        <locationX>1672</locationX>
        <locationY>5366</locationY>
        <defaultConnector>
            <targetReference>Dan360_ActualizaPedidoAConfirmado_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dan360_SiTermino</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrdenDeCompra</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Dan360_ObtenerAllPedidos.Orden_de_compra__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Dan360_FinDelProceso</targetReference>
            </connector>
            <label>Si Termino</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dan360_ValidarOrdenCompra</name>
        <label>Validar Orden Compra</label>
        <locationX>1892</locationX>
        <locationY>4874</locationY>
        <defaultConnector>
            <targetReference>Dan360_RecorrerPedidosConfirmados</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dan360_MismaOrdenCompra</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dan360_RecorrerPedidosConfirmados.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Dan360_RecorrerPedidosConfirmados.EffectiveDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FechaOrdenCompraTODAY</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OrdenDeCompra</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Dan360_ObtenerAllPedidos.Orden_de_compra__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Dan360_RecorrerPedidosConfirmados.Orden_de_compra__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_MensajeOrdenCompra</targetReference>
            </connector>
            <label>¿Misma Orden de Compra?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vista_de_Componente</name>
        <label>Vista de Componente?</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Dan360_ObtenerPedidosSemaforoVerdeAmarillo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>listaIdComponente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorrer_pedidos_seleccionados</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FechaOrdenCompraTODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>FechasConfirmadoNOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>MostrarOrdenCompra</name>
        <dataType>String</dataType>
        <expression>IF(
    CONTAINS({!Dan360_ObtenerAllPedidos.Orden_de_compra__c}, {!OrdenDeCompra}),
   {!Dan360_ObtenerAllPedidos.Orden_de_compra__c},
    {!Dan360_ObtenerAllPedidos.Orden_de_compra__c})</expression>
    </formulas>
    <interviewLabel>Confirmacion Masiva de Pedidos Componente {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Confirmacion Masiva de Pedidos Componente</label>
    <loops>
        <name>Dan360_ObtenerAllPedidos</name>
        <label>Obtener All Pedidos</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <collectionReference>ListaOrdenes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Obtener_productos_de_pedido</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Dan360_FinDelProceso</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Dan360_RecorreNuevosProductos</name>
        <label>Recorre Nuevos Productos</label>
        <locationX>1496</locationX>
        <locationY>2894</locationY>
        <collectionReference>ProductosDePedidoAActualizar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Dan360_RecorrePreciosAnteriores</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dan360_ProductoConCambios</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Dan360_RecorrePreciosAnteriores</name>
        <label>Recorre Precios Anteriores</label>
        <locationX>1936</locationX>
        <locationY>3014</locationY>
        <collectionReference>ProductosPrecioAnterior</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Dan360_MismoProducto2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Dan360_RecorreNuevosProductos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Dan360_RecorrerPedidosConfirmados</name>
        <label>Recorrer Pedidos Confirmados</label>
        <locationX>1672</locationX>
        <locationY>4634</locationY>
        <collectionReference>Dan360_ObtenerPedidosCuenta</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Dan360_AsignarOrdenCompra</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Dan360_ValidacionDeOrdenDeCompraTerminada</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Dan360_RecorrerPricebookEntry</name>
        <label>Recorrer Pricebook Entry</label>
        <locationX>2420</locationX>
        <locationY>1790</locationY>
        <collectionReference>Dan360_ObtenerProductosDeLaListaDePrecios</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Dan360_EsElMismoProducto</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Dan360_RecorrerProductosDePedido</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Dan360_RecorrerProductosDePedido</name>
        <label>Recorrer Productos De Pedido</label>
        <locationX>1672</locationX>
        <locationY>1670</locationY>
        <collectionReference>Obtener_productos_de_pedido</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Dan360_RecorrerPricebookEntry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Dan360_ListaTieneElementos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_pedidos_seleccionados</name>
        <label>Recorrer pedidos seleccionados</label>
        <locationX>68</locationX>
        <locationY>398</locationY>
        <collectionReference>listaIdComponente</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Dan360_ObtenerPedidoSeleccionado</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Dan360_ObtenerAllPedidos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Dan360_ObtenerListaDePrecios</name>
        <label>Obtener Lista De Precios</label>
        <locationX>1672</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dan360_ObtenerProductosDeLaListaDePrecios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Dan360_ObtenerAllPedidos.Pricebook2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Dan360_ObtenerPedidosCuenta</name>
        <label>Obtener Pedidos de la Cuenta</label>
        <locationX>1672</locationX>
        <locationY>4514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dan360_RecorrerPedidosConfirmados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Dan360_ObtenerAllPedidos.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirmado</stringValue>
            </value>
        </filters>
        <filters>
            <field>EffectiveDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FechaOrdenCompraTODAY</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Dan360_ObtenerPedidoSeleccionado</name>
        <label>Obtener Pedido Seleccionado</label>
        <locationX>156</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_pedido_a_lista_de_ordenes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recorrer_pedidos_seleccionados</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Dan360_PedidoConfirmado__c</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
        <queriedFields>Dan360_FechasConfirmado__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>EffectiveDate</queriedFields>
        <queriedFields>Orden_de_compra__c</queriedFields>
        <queriedFields>Dan360_PedidoPrincipal__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>OrderNumber</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Dan360_ObtenerPedidosRetenidosPorCuota</name>
        <label>Obtener Pedidos Retenidos por Cuota</label>
        <locationX>1793</locationX>
        <locationY>5846</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dan360_TienePedidoRetenidoPorCuota</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dan360_PedidoPrincipal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Dan360_ObtenerAllPedidos.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Retenido por cuota</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Dan360_ObtenerPedidosSemaforoVerdeAmarillo</name>
        <label>Obtener Pedidos Semáforo VerdeAmarillo</label>
        <locationX>284</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dan360_ObtenerAllPedidos</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (1 AND 3)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Retenido por cuota</stringValue>
            </value>
        </filters>
        <filters>
            <field>Dan360_SemaforoPicklist__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Verde</stringValue>
            </value>
        </filters>
        <filters>
            <field>Dan360_SemaforoPicklist__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Amarillo</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>ListaOrdenes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Dan360_PedidoConfirmado__c</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
        <queriedFields>Dan360_FechasConfirmado__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>EffectiveDate</queriedFields>
        <queriedFields>Orden_de_compra__c</queriedFields>
        <queriedFields>Dan360_PedidoPrincipal__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>OrderNumber</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Dan360_ObtenerProductosDeLaListaDePrecios</name>
        <label>Obtener Productos De La Lista De Precios</label>
        <locationX>1672</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dan360_RecorrerProductosDePedido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Dan360_ObtenerListaDePrecios.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_productos_de_pedido</name>
        <label>Obtener productos de pedido</label>
        <locationX>2205</locationX>
        <locationY>1070</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dan360_HayproductosDePedido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Dan360_ObtenerAllPedidos.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Dan360_ActualizaPedidoAConfirmado_0</name>
        <label>Actualiza Pedido A Confirmado</label>
        <locationX>1947</locationX>
        <locationY>5486</locationY>
        <connector>
            <targetReference>Dan360_SeConfirmoElPedido</targetReference>
        </connector>
        <inputReference>Dan360_ObtenerAllPedidos</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Dan360_ActualizaProductosDePedido_0</name>
        <label>Actualizar productos de pedido</label>
        <locationX>1672</locationX>
        <locationY>4394</locationY>
        <connector>
            <targetReference>Dan360_ObtenerPedidosCuenta</targetReference>
        </connector>
        <inputReference>ProductosDePedidoAActualizar</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Dan360_ErrorPedidoPrecios</name>
        <label>ErrorPedidoPrecios</label>
        <locationX>2475</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorPrecios</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(228, 6, 6); font-family: tahoma;&quot;&gt;Error:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: tahoma;&quot;&gt;No se pudo actualizar la lista de precios&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 10px; font-family: tahoma;&quot;&gt;Problemas externos a salesforce&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dan360_FinDelProceso</name>
        <label>Fin Del Proceso</label>
        <locationX>176</locationX>
        <locationY>7142</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Mensaje1_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Confirmación Masiva de Pedidos&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;em&gt;El proceso ha finalizado.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dan360_Instrucciones</name>
        <label>Instrucciones</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Vista_de_Componente</targetReference>
        </connector>
        <fields>
            <name>Mensaje1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Confirmación Masiva de Pedidos&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;&lt;em&gt;Proceso que confirma de forma masiva los pedidos que se encuentren en semáforo &quot;&lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(30, 127, 3);&quot;&gt;&lt;em&gt;Verde&lt;/em&gt;&lt;/strong&gt;&lt;strong&gt;&lt;em&gt;&quot; o &quot;&lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 231, 49);&quot;&gt;&lt;em&gt;Amarillo&lt;/em&gt;&lt;/strong&gt;&lt;strong&gt;&lt;em&gt;&quot;. &lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;&lt;em style=&quot;&quot;&gt;Para continuar haga clic en Siguiente.&lt;/em&gt;&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dan360_MensajeOrdenCompra</name>
        <label>MensajeOrdenCompra</label>
        <locationX>1760</locationX>
        <locationY>4994</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Dan360_ObtenerAllPedidos</targetReference>
        </connector>
        <fields>
            <name>Dan360_OrdenCompraToday</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;La orden de compra &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(45, 43, 186);&quot;&gt;{!MostrarOrdenCompra}&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; del pedido &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(45, 43, 186);&quot;&gt;{!Dan360_ObtenerAllPedidos.OrderNumber}&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&quot; ya fue confirmada el día de hoy.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dan360_PedidoConfirmado_0</name>
        <label>Pedido Confirmado</label>
        <locationX>1793</locationX>
        <locationY>5726</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Dan360_ObtenerPedidosRetenidosPorCuota</targetReference>
        </connector>
        <fields>
            <name>MensajePedidoConfirmadio_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-family: tahoma;&quot;&gt;El Pedido &lt;/strong&gt;&lt;strong style=&quot;color: rgb(45, 43, 186); background-color: rgb(255, 255, 255); font-family: tahoma;&quot;&gt;{!Dan360_ObtenerAllPedidos.OrderNumber} &lt;/strong&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-family: tahoma;&quot;&gt;ha sido confirmado exitosamente.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dan360_PedidoNoConfirmado</name>
        <label>PedidoNoConfirmado</label>
        <locationX>2739</locationX>
        <locationY>1310</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Ya_Confirm</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;El Pedido &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(45, 43, 186);&quot;&gt;{!Dan360_ObtenerAllPedidos.OrderNumber}&lt;/strong&gt;&lt;strong style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; no ha podido confirmarse. Verifique si tiene productos e inténtelo de nuevo.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dan360_PedidoNoConfirmado1</name>
        <label>Pedido no confirmado</label>
        <locationX>1584</locationX>
        <locationY>3902</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Dan360_ObtenerAllPedidos</targetReference>
        </connector>
        <fields>
            <name>NoConfirmado</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-family: tahoma;&quot;&gt;El Pedido &lt;/strong&gt;&lt;strong style=&quot;color: rgb(45, 43, 186); background-color: rgb(255, 255, 255); font-family: tahoma;&quot;&gt;{!Dan360_ObtenerAllPedidos.OrderNumber}&lt;/strong&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-family: tahoma;&quot;&gt; NO ha sido confirmado.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dan360_PedidoRetenidoPorCuota</name>
        <label>Pedido Retenido Por Cuota</label>
        <locationX>1661</locationX>
        <locationY>6086</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Dan360_TipoDePedido</targetReference>
        </connector>
        <fields>
            <name>MensajePedidoRetenidoCuota</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-family: tahoma;&quot;&gt;El Pedido actual no cubrió la cantidad total de unidades.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-family: tahoma;&quot;&gt;El pedido &lt;/strong&gt;&lt;strong style=&quot;color: rgb(45, 43, 186); font-family: tahoma;&quot;&gt;{!Dan360_ObtenerPedidosRetenidosPorCuota.OrderNumber}&lt;/strong&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); font-family: tahoma; background-color: rgb(255, 255, 255);&quot;&gt;, quedo retenido por cuota.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dan360_PedidoRetenidoPorCuota_0</name>
        <label>Pedido Retenido Por Cuota</label>
        <locationX>2101</locationX>
        <locationY>5726</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Dan360_TipoDePedido</targetReference>
        </connector>
        <fields>
            <name>MensajePedidoRetenidoCuota_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;El Pedido &lt;/strong&gt;&lt;strong style=&quot;font-family: tahoma; color: rgb(45, 43, 186);&quot;&gt;{!Dan360_ObtenerPedidosRetenidosPorCuota.OrderNumber}&lt;/strong&gt;&lt;strong style=&quot;font-family: tahoma; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;, quedo retenido por cuota.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>dan360_ProductoConCambios</name>
        <label>Producto con cambios</label>
        <locationX>1496</locationX>
        <locationY>3662</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Dan360_Acepto</targetReference>
        </connector>
        <fields>
            <name>MensajePedidoConfirmado</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-family: tahoma;&quot;&gt;El Pedido &lt;/strong&gt;&lt;strong style=&quot;color: rgb(45, 43, 186); background-color: rgb(255, 255, 255); font-family: tahoma;&quot;&gt;{!Dan360_ObtenerAllPedidos.OrderNumber}&lt;/strong&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-family: tahoma;&quot;&gt; ha sufrido los siguientes  cambios: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-family: tahoma;&quot;&gt;﻿{!InfoNuevosPrecios}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Dan360_DeseaContinuar</name>
            <choiceReferences>Ok</choiceReferences>
            <choiceReferences>NoOk</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>¿Desea continuar?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dan360_SolicitarAprobacion</name>
        <label>Solicitar Aprobación</label>
        <locationX>1947</locationX>
        <locationY>6638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Dan360_ObtenerAllPedidos</targetReference>
        </connector>
        <fields>
            <name>MensajeEnvioAprobacion</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;El pedido será enviado a aprobación&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Dan360_Instrucciones</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Dan360_EnviarASAP</name>
        <label>Enviar A SAP</label>
        <locationX>1683</locationX>
        <locationY>6638</locationY>
        <connector>
            <targetReference>Dan360_ObtenerAllPedidos</targetReference>
        </connector>
        <flowName>Dan360_EnviarASAPSubConfirmacionMasivaDePedidos</flowName>
        <inputAssignments>
            <name>IdPedidoAEnviar</name>
            <value>
                <elementReference>Dan360_ObtenerAllPedidos.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>NuevoPrecio</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Producto: &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Dan360_RecorreNuevosProductos.Product2.Name}&lt;/span&gt; , Precio anterior: ${!Dan360_RecorrePreciosAnteriores.UnitPrice}, Precio actual: ${!Dan360_RecorreNuevosProductos.UnitPrice}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AcumulaPrecios</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>AcumulaProductos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_tes</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdsComponente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InfoNuevosPrecios</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listaIdComponente</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListaOrdenes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>OrdenDeCompra</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrecioAnterior</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductosDePedido</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>ProductosDePedidoAActualizar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>ProductosPrecioAnterior</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>ProductosQueCambiaron</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordtypeVentaDirecta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Dan360_PedidoVentaDirecta</stringValue>
        </value>
    </variables>
    <variables>
        <name>RecortypePedidoSinCargo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Dan360_PedidoSinCargo</stringValue>
        </value>
    </variables>
    <variables>
        <name>TextoErrorCreacionPedido</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
