force-app/main/default/flows/Crear_Caso_de_seguimiento_no_renovacion_flowversion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Paciente_subestado_Mod_Inactivo</name>
        <label>Paciente subestado Mod Inactivo</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Paciente_subestado_Mod_Inactivo_flowItem</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6 OR 7) AND 8</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paciente_Best_Care</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subestado_del_paciente__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Modulo Inactivo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estado_de_paciente__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En Seguimiento</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dias_en_este_estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Area_terapeutica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dieta Cetogénica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Area_terapeutica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Metabólicos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Area_terapeutica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Servicio_Activo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AUTOCUIDADO.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case</targetReference>
            </connector>
            <label>Paciente subestado Mod Inactivo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ya_tiene_un_caso</name>
        <label>Ya tiene un caso?</label>
        <locationX>380</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_se_encontro_caso_para_ese_cuenta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Verificar_Si_ya_tiene_un_caso_no_fidelizacion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Paciente_subestado_Mod_Inactivo</targetReference>
            </connector>
            <label>No se encontro caso para ese cuenta</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Crear Caso de seguimiento no renovacion flowversion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crear Caso de seguimiento no renovacion flowversion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <elementReference>Obtener_BusinessHours.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Es necesario validar con el paciente: - Estado del tratamiento - Documentación disponible - Fecha de ultima presentación en Obra Social - Estado de cobertura / Problemas OOSS - Motivos del cambio de tratamiento - Modulo de paciente: Debe completar el ultimo MDP activo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Obtener_User_Group_Fidelizacion.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Media</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Nuevo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Nuevo seguimiento no renovación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtipo__c</field>
            <value>
                <stringValue>Seguimiento no renovación</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Obtener_BusinessHours</name>
        <label>Obtener BusinessHours</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_User_Group_Fidelizacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BusinessHours</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_User_Group_Fidelizacion</name>
        <label>Obtener User Group Fidelizacion</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ya_tiene_un_caso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fidelizacion</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Record</name>
        <label>Obtener Record Type Id - Retencion</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_BusinessHours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Retencion</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Verificar_Si_ya_tiene_un_caso_no_fidelizacion</name>
        <label>Verificar Si ya tiene un caso no fidelizacion</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Nuevo seguimiento no renovación</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Verificar_Si_ya_tiene_un_caso_no_fidelizacion</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Descripciondecasodeseguimientonorenovacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Es necesario validar con el paciente: - Estado del tratamiento - Documentación disponible - Fecha de ultima presentación en Obra Social - Estado de cobertura / Problemas OOSS - Motivos del cambio de tratamiento - Modulo de paciente: Debe completar el ultimo MDP activo</stringValue>
        </value>
    </variables>
</Flow>
