force-app/main/default/flows/Crear_Lista_Precio_Customer_Sales_Area.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Crear_Lista_de_precios</name>
        <label>Crear Lista de precios</label>
        <locationX>622</locationX>
        <locationY>1247</locationY>
        <actionName>customerSalesAreaPrices</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customerSalesAreaIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Crear_Lista_precios</name>
        <label>Crear Lista precios</label>
        <locationX>402</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>crearListaPrecios</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Plantilla_Por_Cuenta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Crear_Lista_precios_0</name>
        <label>Crear Lista precios</label>
        <locationX>930</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>crearListaPrecios</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Plantilla_Por_Cuenta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plantilla_de_Productos_ID_AMN_00</name>
        <label>Plantilla de Productos ID AMN 00</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>PlantillaProductosID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Plantilla_De_Productos.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Plantilla_Por_Cuenta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plantilla_de_Productos_ID_AMN_05</name>
        <label>Plantilla de Productos ID AMN 05</label>
        <locationX>402</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>PlantillaProductosID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Plantilla_De_Productos_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_Lista_precios</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plantilla_de_Productos_ID_NuBa_00</name>
        <label>Plantilla de Productos ID NuBa 00</label>
        <locationX>666</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>PlantillaProductosID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Plantilla_De_Productos_0_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Plantilla_Por_Cuenta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plantilla_de_Productos_ID_NuBa_05</name>
        <label>Plantilla de Productos ID NuBa 05</label>
        <locationX>930</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>PlantillaProductosID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Plantilla_De_Productos_0_0_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_Lista_precios_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Crear_Lista_de_Precios_en_Customer</name>
        <label>Crear Lista de Precios en Customer?</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>crearListaPrecios</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Lista_de_precios</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unidad_Negocio_Distribution_Channel</name>
        <label>Unidad Negocio / Distribution Channel</label>
        <locationX>622</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Crear_Lista_de_precios</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>AMN_00</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dan360_SalesArea__r.Dan360_SalesOrganization__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5800</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dan360_SalesArea__r.Dan360_DistributionChannel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plantilla_De_Productos</targetReference>
            </connector>
            <label>AMN 00</label>
        </rules>
        <rules>
            <name>AMN_05</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dan360_SalesArea__r.Dan360_SalesOrganization__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5800</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dan360_SalesArea__r.Dan360_DistributionChannel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>05</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plantilla_De_Productos_0</targetReference>
            </connector>
            <label>AMN 05</label>
        </rules>
        <rules>
            <name>NuBa_00</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dan360_SalesArea__r.Dan360_SalesOrganization__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5771</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dan360_SalesArea__r.Dan360_DistributionChannel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plantilla_De_Productos_0_0</targetReference>
            </connector>
            <label>NuBa 00</label>
        </rules>
        <rules>
            <name>NuBa_05</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dan360_SalesArea__r.Dan360_SalesOrganization__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5771</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dan360_SalesArea__r.Dan360_DistributionChannel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>05</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plantilla_De_Productos_0_0_0</targetReference>
            </connector>
            <label>NuBa 05</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Crear Lista Precio Customer Sales Area {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crear Lista Precio Customer Sales Area</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Plantilla_Por_Cuenta</name>
        <label>Plantilla Por Cuenta</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Crear_Lista_de_Precios_en_Customer</targetReference>
        </connector>
        <inputAssignments>
            <field>Dan360_Cuenta__c</field>
            <value>
                <elementReference>$Record.Dan360_Customer__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dan360_DistributionChannel__c</field>
            <value>
                <elementReference>$Record.Dan360_SalesArea__r.Dan360_DistributionChannel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dan360_PlantillaDeProductos__c</field>
            <value>
                <elementReference>PlantillaProductosID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dan360_UnidadNegocio__c</field>
            <value>
                <elementReference>$Record.Dan360_SalesArea__r.Dan360_SalesOrganization__c</elementReference>
            </value>
        </inputAssignments>
        <object>dAN360_PlantillaporcCuenta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Plantilla_De_Productos</name>
        <label>Plantilla De Productos AMN 00</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Plantilla_de_Productos_ID_AMN_00</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PlantillaAMN00</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Dan360_PlantillaDeProductos__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Plantilla_De_Productos_0</name>
        <label>Plantilla De Productos AMN 05</label>
        <locationX>402</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Plantilla_de_Productos_ID_AMN_05</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PlantillaAMN05</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Dan360_PlantillaDeProductos__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Plantilla_De_Productos_0_0</name>
        <label>Plantilla De Productos NuBa 00</label>
        <locationX>666</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Plantilla_de_Productos_ID_NuBa_00</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PlantillaNuBa00</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Dan360_PlantillaDeProductos__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Plantilla_De_Productos_0_0_0</name>
        <label>Plantilla De Productos NuBa 05</label>
        <locationX>930</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Plantilla_de_Productos_ID_NuBa_05</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PlantillaNuBa05</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Dan360_PlantillaDeProductos__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>496</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Unidad_Negocio_Distribution_Channel</targetReference>
        </connector>
        <object>Dan360_CustomerSalesArea__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>crearListaPrecios</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PlantillaAMN00</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Setup.Plantillas__c.AMN_00__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>PlantillaAMN05</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Setup.Plantillas__c.AMN_05__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>PlantillaNuBa00</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Setup.Plantillas__c.NuBa_00__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>PlantillaNuBa05</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Setup.Plantillas__c.NuBa_05__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>PlantillaProductosID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
