force-app/main/default/flows/Dan360_EnvioReclamosAprobacion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Aprobacion_Diferencia_De_Precio_Farmacity</name>
        <label>Aprobacion Diferencia De Precio Farmacity</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Dan360_ReclamoCreadoPorVendedor</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Reclamos_Por_Diferencia_De_Precios_Farma</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Aprobacion_Reclamo_Diferencia_Precio_Modern_Trade</name>
        <label>Aprobacion Reclamo Diferencia Precio Modern Trade</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Dan360_ReclamoCreadoPorVendedor</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Reclamos_Por_Diferencia_De_Precios_MT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>AprobacionReclamoFaltantes</name>
        <label>Aprobación reclamo faltantes</label>
        <locationX>1282</locationX>
        <locationY>431</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Dan360_ReclamoCreadoPorVendedor</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Dan360_ReclamosPorFaltantesv1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Dan360_AprobacionReclamoDevolucion</name>
        <label>Aprobación reclamo devolución</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Dan360_ReclamoCreadoPorVendedor</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Dan360_ReclamosPorDevolucionv2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Dan360_AprobacionReclamoDiferenciaPrecios</name>
        <label>Aprobación reclamo diferencias de precios</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Dan360_ReclamoCreadoPorVendedor</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Dan360_ReclamosPorDiferenciaDePreciosv1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Dan360_ReclamoCreadoPorVendedor</name>
        <label>Reclamo creado por vendedor</label>
        <locationX>798</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dan360_Vendedor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SolicitudExterna</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_ActualizarRol</targetReference>
            </connector>
            <label>Vendedor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dan360_ValidarTipoRegistro</name>
        <label>Validar tipo de registro</label>
        <locationX>798</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Dan360_Devoluciones</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dan360_DevolucionesPedidosSinCargo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dan360_Devoluciones</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dan360_ReclamoAprobado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_AprobacionReclamoDevolucion</targetReference>
            </connector>
            <label>Devoluciones</label>
        </rules>
        <rules>
            <name>Dan360_DireferenciaPrecios</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dan360_DiferenciaPreciosDescuentos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dan360_ReclamoAprobado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_District_Type</targetReference>
            </connector>
            <label>Direferncia de precios</label>
        </rules>
        <rules>
            <name>Dan360_Faltantes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dan360_ReclamoPorFaltantes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dan360_ReclamoAprobado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AprobacionReclamoFaltantes</targetReference>
            </connector>
            <label>Faltantes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sales_District_Type</name>
        <label>Sales District Type</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Dan360_ReclamoCreadoPorVendedor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SalesDistrict_is_Farmacias</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Dan360_SalesDistric1__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Farmacity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aprobacion_Diferencia_De_Precio_Farmacity</targetReference>
            </connector>
            <label>SalesDistrict is Farmacias</label>
        </rules>
        <rules>
            <name>Instituciones_Distribuidores</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Dan360_SalesDistric1__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Instituciones</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Dan360_SalesDistric1__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Distribuidores</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_AprobacionReclamoDiferenciaPrecios</targetReference>
            </connector>
            <label>Instituciones - Distribuidores</label>
        </rules>
        <rules>
            <name>Modern_Trade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Dan360_SalesDistric1__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Modern Trade</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aprobacion_Reclamo_Diferencia_Precio_Modern_Trade</targetReference>
            </connector>
            <label>Modern Trade</label>
        </rules>
    </decisions>
    <description>Flujo que envía de forma automática los reclamos a aprobación</description>
    <environments>Default</environments>
    <formulas>
        <name>SolicitudExterna</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.CreatedBy.ContactId} &lt;&gt; &quot;&quot;, True, False)</expression>
    </formulas>
    <interviewLabel>Envío de reclamos a aprobación {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Envío de reclamos a aprobación</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Dan360_ActualizarRol</name>
        <label>Actualizar Rol</label>
        <locationX>666</locationX>
        <locationY>923</locationY>
        <inputAssignments>
            <field>Dan360_RolAsignado__c</field>
            <value>
                <stringValue>Vendedor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>672</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Dan360_ValidarTipoRegistro</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR 3</filterLogic>
        <filters>
            <field>Dan360_ProductosReclamo__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Dan360_ProductosReclamo__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
