force-app/main/default/flows/Dan360_NotificacionesChatter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Dan360_NotificacionReclamoAprobadoCerrado</name>
        <label>Notificación Reclamo Aprobado/Cerrado</label>
        <locationX>425</locationX>
        <locationY>587</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Se le informa que el reclamo {!Dan360_ObtenerReclamo.CaseNumber} ha sido Autorizado.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Dan360_ObtenerReclamo.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Dan360_ObtenerNotificacionPersonalizada.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>idOwnerNotificacionPersonalizada</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>MensajeReclamoAprobadoTituloCustomNotification</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Dan360_OwnerNotificacionPersonalizada</name>
        <label>Owner Notificación Personalizada</label>
        <locationX>669</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>idOwnerNotificacionPersonalizada</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Dan360_ObtenerReclamo.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dan360_ReclamoAutorizadoCerrado</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Dan360_ReclamoAutorizadoCerrado</name>
        <label>Reclamo Autorizado o Cerrado</label>
        <locationX>661</locationX>
        <locationY>586</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Dan360_AutorizadoCerrado</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Dan360_ObtenerReclamo.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Autorizado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Dan360_ObtenerReclamo.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cerrado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_NotificacionReclamoAprobadoCerrado</targetReference>
            </connector>
            <label>Autorizado o Cerrado</label>
        </rules>
    </decisions>
    <description>Flujo que contiene las notificaciones de chatter, el cual es necesario para poder notificar a los usuarios de comunidad.</description>
    <environments>Default</environments>
    <interviewLabel>Notificaciones Reclamos aprobados {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notificaciones Chatter Reclamos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Dan360_ObtenerNotificacionPersonalizada</name>
        <label>Obtener Notificación Personalizada</label>
        <locationX>669</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dan360_OwnerNotificacionPersonalizada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dan360_ReclamoAutorizadoCerrado</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtener reclamo</description>
        <name>Dan360_ObtenerReclamo</name>
        <label>Obtener reclamo</label>
        <locationX>669</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dan360_ObtenerNotificacionPersonalizada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Dan360_ObtenerReclamo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>MensajeReclamoAprobado</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hola {!Dan360_ObtenerReclamo.Owner:User.FirstName}, 
Se le informa que el reclamo {!Dan360_ObtenerReclamo.CaseNumber} ha sido {!Dan360_ObtenerReclamo.Status}.</text>
    </textTemplates>
    <textTemplates>
        <name>MensajeReclamoAprobadoTituloCustomNotification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hola {!Dan360_ObtenerReclamo.Owner:User.FirstName}</text>
    </textTemplates>
    <variables>
        <name>idOwnerNotificacionPersonalizada</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
