force-app/main/default/flows/Dan360_CrearNotasComunidad.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Dan360_AsignarNota</name>
        <label>AsignarNota</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>idNota</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dan360_ObtenerNota.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dan360_CrearRelacionNotaRecord</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Crear Notas Comunidad {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crear Notas Comunidad</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Dan360_CrearNota</name>
        <label>Crear Nota</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Dan360_ObtenerNota</targetReference>
        </connector>
        <inputAssignments>
            <field>Content</field>
            <value>
                <elementReference>Dan360_IngresarUnaNota</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SharingPrivacy</field>
            <value>
                <stringValue>P</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>Dan360_Titulo</elementReference>
            </value>
        </inputAssignments>
        <object>ContentNote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Dan360_CrearRelacionNotaRecord</name>
        <label>Crear Relacion Nota-Record</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>idNota</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>Dan360_ObtenerPedido.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Dan360_ObtenerNota</name>
        <label>Obtener Nota</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dan360_AsignarNota</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentNote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Dan360_ObtenerPedido</name>
        <label>Obtener Pedido</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dan360_PantallaCrearNota</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Dan360_PantallaCrearNota</name>
        <label>Pantalla Crear Nota</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Dan360_CrearNota</targetReference>
        </connector>
        <fields>
            <name>Dan360_Titulo</name>
            <dataType>String</dataType>
            <fieldText>Título</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Dan360_IngresarUnaNota</name>
            <fieldText>Comentario de la nota</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Crear Nota</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Dan360_ObtenerPedido</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>idNota</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
