force-app/main/default/flows/Dan360_ActualizacionesCaseAfterSave.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <constants>
        <name>ColaCustomerService</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Dan360_CustomerService</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Dan360_TipoRegistro</name>
        <label>¿Tipo de Registro?</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Dan360_ActualizarReclamo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dan360_Servicios</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dan360_Otros</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_ObtenerColas</targetReference>
            </connector>
            <label>Servicios</label>
        </rules>
        <rules>
            <name>Dan360_DevolucionPedidoSinCargo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dan360_DevolucionesPedidosSinCargo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_AsignarCliente_0</targetReference>
            </connector>
            <label>Devolucion Pedido Sin Cargo</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Actualizaciones Case (After Save) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualizaciones Case (After Save)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Dan360_ObtenerColas</name>
        <label>Obtener Colas</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dan360_AsignarCliente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ColaCustomerService</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Dan360_ActualizarReclamo</name>
        <label>Actualizar Reclamo</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>Dan360_SalesDistrictColaborationRule__c</field>
            <value>
                <elementReference>$Record.Account.Dan360_SalesDistrictColaborationRule__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Dan360_AsignarCliente</name>
        <label>Asignar Cliente</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Dan360_ActualizarReclamo</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Dan360_Remito__r.Dan360_Sucursal__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Dan360_ObtenerColas.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Dan360_AsignarCliente_0</name>
        <label>Asignar Cliente</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Dan360_ActualizarReclamo</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Dan360_Remito__r.Dan360_Sucursal__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Dan360_TipoRegistro</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
