force-app/main/default/flows/Dan360_NotificacionesDeCorreoReclamos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Dan360_EmailReclamoRegistrado</name>
        <label>Email Reclamo Registrado</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Case.Dan360_NotificacionReclamoRegistrado</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Dan360_AutorizadoCerrado</name>
        <label>¿Estado Autorizado o Cerrado?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Dan360_Si</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Controlado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pendiente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dan360_Otros</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_EmailReclamoRegistrado</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Notificaciones De Correo Reclamos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notificaciones De Correo Reclamos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Dan360_AutorizadoCerrado</targetReference>
        </connector>
        <filterFormula>ISCHANGED({!$Record.Status})</filterFormula>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
