force-app/main/default/flows/Dan360_CuotaAutomatizaciones.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Dan360_GenerarSaldoInicial</name>
        <label>Generar Saldo Inicial</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>Dan360_Saldo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Dan360_Cuota__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dan360_ActualizarSaldo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dan360_GuardarSaldoInicialCuota</name>
        <label>Guardar Saldo Inicial Cuota</label>
        <locationX>226</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>SaldoInicialCuota</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Dan360_Cuota__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dan360_EsCuotaNueva</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Dan360_EsCuotaNueva</name>
        <label>¿Es Cuota Nueva?</label>
        <locationX>226</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Dan360_ActualizarSaldoMasCuota</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dan360_Nueva</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dan360_ValidaRegistroNuevo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_GenerarSaldoInicial</targetReference>
            </connector>
            <label>Nueva</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dan360_SeActualizoElValorDeCuota</name>
        <label>Se Actualizo El Valor De Cuota</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dan360_SiActualizo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dan360_Cuota__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_ActualizarSaldoMasCuota</targetReference>
            </connector>
            <label>Si Actualizo</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AjustarSaldo</name>
        <dataType>Number</dataType>
        <expression>({!$Record.Dan360_Cuota__c} + {!$Record.Dan360_Saldo__c}) - {!SaldoInicialCuota}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Dan360_ValidaRegistroNuevo</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() &amp;&amp; NOT(ISBLANK({!$Record.Dan360_Cuota__c}))</expression>
    </formulas>
    <interviewLabel>Cuotas Automatizaciones {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cuota Automatizaciones</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Dan360_ActualizarSaldo</name>
        <label>Actualizar Saldo</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>Dan360_SeActualizoElValorDeCuota</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dan360_Cuota__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Dan360_Saldo__c</field>
            <value>
                <elementReference>$Record.Dan360_Cuota__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Dan360_ActualizarSaldoMasCuota</name>
        <label>Actualizar Saldo Mas Cuota</label>
        <locationX>226</locationX>
        <locationY>1223</locationY>
        <inputAssignments>
            <field>Dan360_Saldo__c</field>
            <value>
                <elementReference>AjustarSaldo</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Dan360_GuardarSaldoInicialCuota</targetReference>
        </connector>
        <object>Dan360_Cuota__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1</triggerOrder>
    <variables>
        <name>Dan360_Saldo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SaldoInicialCuota</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
