force-app/main/default/flows/Dan360_PlantillaDeProductosAdicionDeProductosPorPlantilla.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>getProducts</name>
        <label>getProducts</label>
        <locationX>301</locationX>
        <locationY>214</locationY>
        <actionName>listOfProducts</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>hayProductosParaMostrar</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Dan360_MensajeDeError_0</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>contarProductos</name>
        <label>contarProductos</label>
        <locationX>50</locationX>
        <locationY>584</locationY>
        <assignmentItems>
            <assignToReference>cantidadDeProductos</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>hayProductosParaMostrar</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>hayProductos</name>
        <label>hayProductos?</label>
        <locationX>457</locationX>
        <locationY>453</locationY>
        <defaultConnector>
            <targetReference>Dan360_MensajeDeError_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_hay_productos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cantidadDeProductos</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_ObtenerPlantillaDeProductos</targetReference>
            </connector>
            <label>Si hay productos</label>
        </rules>
    </decisions>
    <description>Flujo que permite la adición de productos por plantilla a la plantilla de producto, validando que no existan productos repetidos.</description>
    <dynamicChoiceSets>
        <name>Dan360_PicklistUnidadDeMedida</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Dan360_UnidadDeMedida__c</picklistField>
        <picklistObject>Dan360_ProductoPorPlantilla__ChangeEvent</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Usa los registros del objeto producto que trajo desde apex y los usa en el componente picklist en la screen</description>
        <name>ProductsForPicklist</name>
        <collectionReference>getProducts</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Product2</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Plantilla de Productos - Adición de productos por plantilla {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Plantilla de Productos - Adición de productos por plantilla</label>
    <loops>
        <name>hayProductosParaMostrar</name>
        <label>hayProductosParaMostrar?</label>
        <locationX>50</locationX>
        <locationY>258</locationY>
        <collectionReference>getProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>contarProductos</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>hayProductos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Se crea el registro de producto por plantilla según la información ingresada</description>
        <name>Dan360_CreacionProductosPorPlantilla</name>
        <label>Creación Productos por Plantilla</label>
        <locationX>956</locationX>
        <locationY>437</locationY>
        <connector>
            <targetReference>Dan360_MensajeDeExito</targetReference>
        </connector>
        <inputAssignments>
            <field>Dan360_PlantillaProductos__c</field>
            <value>
                <elementReference>Dan360_ObtenerPlantillaDeProductos.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dan360_Producto__c</field>
            <value>
                <elementReference>Dan360_ProductoPicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dan360_UnidadDeMedida__c</field>
            <value>
                <elementReference>Dan360_UnidadDeMedida</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dan360_VigenciaDesde__c</field>
            <value>
                <elementReference>Dan360_VigenciaDesde</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dan360_Vigencia__c</field>
            <value>
                <elementReference>Dan360_Vigencia</elementReference>
            </value>
        </inputAssignments>
        <object>Dan360_ProductoPorPlantilla__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Obtiene la plantilla para la cual se agregarán productos.</description>
        <name>Dan360_ObtenerPlantillaDeProductos</name>
        <label>Obtener Plantilla de productos</label>
        <locationX>424</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dan360_ObtenerProductosPorPlantilla</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Dan360_PlantillaDeProductos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtiene los registros de productos por plantilla relacionados a la plantila</description>
        <name>Dan360_ObtenerProductosPorPlantilla</name>
        <label>Obtener Productos por Plantilla</label>
        <locationX>574</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dan360_IngresoDeProductos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dan360_PlantillaProductos__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Dan360_ObtenerPlantillaDeProductos.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Dan360_ProductoPorPlantilla__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Dan360_IngresoDeProductos</name>
        <label>Ingreso de productos</label>
        <locationX>767</locationX>
        <locationY>219</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Dan360_CreacionProductosPorPlantilla</targetReference>
        </connector>
        <fields>
            <name>Dan360_ProductoPicklist</name>
            <choiceReferences>ProductsForPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Producto</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Dan360_UnidadDeMedida</name>
            <choiceReferences>Dan360_PicklistUnidadDeMedida</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Unidad de medida</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Ingresa la unidad de medida requerida para este producto. Ten en cuenta que al seleccionar &quot;Trade Unit&quot;, para los pedidos que incluyan este producto, las cantidades  serán redondeadas.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Dan360_ProductoPicklist</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Dan360_VigenciaDesde</name>
            <dataType>Date</dataType>
            <fieldText>Vigencia desde</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Dan360_ProductoPicklist</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Dan360_Vigencia</name>
            <dataType>Date</dataType>
            <fieldText>Vigencia hasta</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Fecha máxima de vigencia del producto para esta plantilla.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Dan360_ProductoPicklist</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Mensaje que indica que no se puede agregar el producto a la plantilla</description>
        <name>Dan360_MensajeDeError_0</name>
        <label>Mensaje de error</label>
        <locationX>277</locationX>
        <locationY>593</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Dan360_Error_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: tahoma;&quot;&gt;No se encontraron productos para esta plantilla.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Mensaje que indica que el producto ha sido agregado a la plantilla de forma correcta</description>
        <name>Dan360_MensajeDeExito</name>
        <label>Mensaje de Éxito</label>
        <locationX>947</locationX>
        <locationY>607</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Dan360_Exitoso</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: tahoma;&quot;&gt;El producto &lt;/strong&gt;&lt;strong style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Dan360_ProductoPicklist}&lt;/strong&gt;&lt;strong style=&quot;font-family: tahoma;&quot;&gt; ha sido agregado a la plantilla exitosamente.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>175</locationX>
        <locationY>34</locationY>
        <connector>
            <targetReference>getProducts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>cantidadDeProductos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Dan360_ProductoIngresado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Registro de Plantilla de productos.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
