force-app/main/default/flows/Dan360_CerrarReclamo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <choices>
        <name>Cerrado</name>
        <choiceText>Cerrado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cerrado</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Dan360_EstadoDeReclamo</name>
        <label>¿Estado de reclamo?</label>
        <locationX>226</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Dan360_CierreDeReclamo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Dan360_Cerrado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dan360_ObtenerReclamo.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cerrado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_ReclamoCerrado</targetReference>
            </connector>
            <label>Cerrado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dan360_IngresoComentario</name>
        <label>¿Ingreso comentario?</label>
        <locationX>402</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Dan360_ComentarioDeReclamo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Dan360_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dan360_ComentariosInternos</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_CerrarReclamo</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Cerrar Reclamos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cerrar Reclamo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Dan360_ComentarioDeReclamo</name>
        <label>Comentario de reclamo</label>
        <locationX>490</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Dan360_CerrarReclamo</targetReference>
        </connector>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <elementReference>Dan360_ComentariosInternos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPublished</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Dan360_ObtenerReclamo</name>
        <label>Obtener Reclamo</label>
        <locationX>226</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dan360_EstadoDeReclamo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Dan360_CerrarReclamo</name>
        <label>Cerrar Reclamo</label>
        <locationX>402</locationX>
        <locationY>854</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cerrado</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Dan360_CierreDeReclamo</name>
        <label>Cierre de Reclamo</label>
        <locationX>402</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Dan360_IngresoComentario</targetReference>
        </connector>
        <fields>
            <name>Dan360_Estado</name>
            <choiceReferences>Cerrado</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Cerrado</defaultSelectedChoiceReference>
            <fieldText>Estado</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Dan360_ComentariosInternos</name>
            <fieldText>Comentarios internos</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Guardar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dan360_ReclamoCerrado</name>
        <label>Reclamo Cerrado</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Dan3360ReclamoCerrado</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;El reclamo ya se encuentra en estado &quot;Cerrado&quot;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cancelar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Dan360_ObtenerReclamo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
