force-app/main/default/flows/Dan360_PlantillasPorCuentaAdicionPlantillasPorCuenta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Dan360_AsignarAMN</name>
        <label>AsignarAMN</label>
        <locationX>468</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>Dan360_AsignarUnidadAMN</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5800</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dan360_RecorrerAllCustomerSalesArea</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dan360_AsignarNuBa</name>
        <label>AsignarNuBa</label>
        <locationX>732</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>Dan360_AsignarUnidadNuBa</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dan360_RecorrerAllCustomerSalesArea.Dan360_SalesArea__r.Dan360_SalesOrganization__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dan360_RecorrerAllCustomerSalesArea</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Dan360_QueUnidadEs</name>
        <label>¿Que Unidad Es?</label>
        <locationX>732</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Tiene Unidad de Negocio</defaultConnectorLabel>
        <rules>
            <name>Dan360_AMN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dan360_RecorrerAllCustomerSalesArea.Dan360_SalesArea__r.Dan360_SalesOrganization__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5800</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_AsignarAMN</targetReference>
            </connector>
            <label>AMN</label>
        </rules>
        <rules>
            <name>Dan360_NuBa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dan360_RecorrerAllCustomerSalesArea.Dan360_SalesArea__r.Dan360_SalesOrganization__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5771</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_AsignarNuBa</targetReference>
            </connector>
            <label>NuBa</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dan360_TieneLaUnidadDeNegocio</name>
        <label>Tiene La Unidad De Negocio</label>
        <locationX>380</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Dan362_MensajeDeError_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Dan360_TieneUnidadDeNegocio</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Dan360_UnidadDeNegocio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Dan360_AsignarUnidadNuBa</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Dan360_UnidadDeNegocio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Dan360_AsignarUnidadAMN</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_RecorrePlantillasPorCuenta</targetReference>
            </connector>
            <label>Tiene Unidad de Negocio</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dan360_ValidarUnidadNegocioPlantillas</name>
        <label>Validar Unidad de Negocio de Plantillas</label>
        <locationX>182</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>Dan362_MensajeDeExito_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dan360_MismaUnidadNegocio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dan360_UnidadDeNegocio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>dan360_Obtener_registros_plantilla_de_productos.Dan360_UnidadNegocio__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_CrearRegistroDePlantillaPorCuenta</targetReference>
            </connector>
            <label>¿Misma Unidad de Negocio?</label>
        </rules>
    </decisions>
    <decisions>
        <description>Valida que par ala unidad de negocio que se está seleccionando en la plantilla no exista otra plantilla para la misma cuenta</description>
        <name>Dan360_ValidaUnidadDeNegocio</name>
        <label>Valida unidad de negocio</label>
        <locationX>402</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>Dan360_RecorrePlantillasPorCuenta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No existe plantilla</defaultConnectorLabel>
        <rules>
            <name>Dan360_YaExistePlantilla</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dan360_RecorrePlantillasPorCuenta.Dan360_UnidadNegocio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Dan360_UnidadDeNegocio</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Dan360_RecorrePlantillasPorCuenta.Dan360_DistributionChannel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PickListDistribution_channel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan362_MensajeDeError</targetReference>
            </connector>
            <label>Ya existe plantilla</label>
        </rules>
    </decisions>
    <description>Flujo de pantalla par agregar plantillas de productos a las cuentas de forma correcta.</description>
    <dynamicChoiceSets>
        <description>Lista de seleccion de los canales de venta</description>
        <name>Dan360_PicklistDistributionChannel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Dan360_DistributionChannel__c</picklistField>
        <picklistObject>dAN360_PlantillaporcCuenta__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Picklist Unidad de negocio</description>
        <name>Dan360_PicklistUnidadDeNegocio</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Dan360_UnidadNegocio__c</picklistField>
        <picklistObject>dAN360_PlantillaporcCuenta__ChangeEvent</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Plantillas por cuenta - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Plantillas por cuenta -Adición de plantillas por cuenta</label>
    <loops>
        <description>Recorre plantillas por cuenta</description>
        <name>Dan360_RecorrePlantillasPorCuenta</name>
        <label>Recorre plantillas por cuenta</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <collectionReference>Dan360_ObtenerRegistrosPlantillasPorCuenta</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Dan360_ValidaUnidadDeNegocio</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Dan360_ValidarUnidadNegocioPlantillas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Dan360_RecorrerAllCustomerSalesArea</name>
        <label>RecorrerAllCustomerSalesArea</label>
        <locationX>380</locationX>
        <locationY>878</locationY>
        <collectionReference>Dan360_ObtenerAllCustomerSalesArea</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Dan360_QueUnidadEs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Dan360_TieneLaUnidadDeNegocio</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Crear registro de plantilla por cuenta</description>
        <name>Dan360_CrearRegistroDePlantillaPorCuenta</name>
        <label>Crear registro de plantilla por cuenta</label>
        <locationX>50</locationX>
        <locationY>2342</locationY>
        <connector>
            <targetReference>Dan362_MensajeDeExito</targetReference>
        </connector>
        <inputAssignments>
            <field>Dan360_Cuenta__c</field>
            <value>
                <elementReference>Dan360_ObtenerCuenta.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dan360_DistributionChannel__c</field>
            <value>
                <elementReference>PickListDistribution_channel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dan360_PlantillaDeProductos__c</field>
            <value>
                <elementReference>Dan360_Plantilla.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dan360_UnidadNegocio__c</field>
            <value>
                <elementReference>Dan360_UnidadDeNegocio</elementReference>
            </value>
        </inputAssignments>
        <object>dAN360_PlantillaporcCuenta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>dan360_Obtener_registros_plantilla_de_productos</name>
        <label>Obtener registros plantilla de productos</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dan360_ObtenerRegistrosPlantillasPorCanalDeVenta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Dan360_Plantilla.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Dan360_PlantillaDeProductos__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Dan360_UnidadNegocio__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Dan360_ObtenerAllCustomerSalesArea</name>
        <label>Obtener All Customer Sales Area</label>
        <locationX>380</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dan360_RecorrerAllCustomerSalesArea</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dan360_Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Dan360_ObtenerCuenta.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Dan360_CustomerSalesArea__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtener el registro de cuenta para el cual se van a evaluar las plantillas que se ingresen.</description>
        <name>Dan360_ObtenerCuenta</name>
        <label>Obtener cuenta</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dan360_ObtenerRegistrosPlantillasPorCuenta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtener registros de Plantillas por cuenta segun canal de venta</description>
        <name>Dan360_ObtenerRegistrosPlantillasPorCanalDeVenta</name>
        <label>Obtener registros de Plantillas por Canal de venta</label>
        <locationX>380</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dan360_ObtenerAllCustomerSalesArea</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dan360_Cuenta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Dan360_ObtenerCuenta.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dan360_DistributionChannel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PickListDistribution_channel</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>dAN360_PlantillaporcCuenta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtener registros de Plantillas por cuenta</description>
        <name>Dan360_ObtenerRegistrosPlantillasPorCuenta</name>
        <label>Obtener registros de Plantillas por cuenta</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dan360_IngresarPlantilla</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dan360_Cuenta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Dan360_ObtenerCuenta.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>dAN360_PlantillaporcCuenta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Ingresar plantilla</description>
        <name>Dan360_IngresarPlantilla</name>
        <label>Ingresar plantilla</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>dan360_Obtener_registros_plantilla_de_productos</targetReference>
        </connector>
        <fields>
            <name>Dan360_Plantilla</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Plantilla</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>dAN360_PlantillaporcCuenta__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Dan360_PlantillaDeProductos__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Dan360_UnidadDeNegocio</name>
            <choiceReferences>Dan360_PicklistUnidadDeNegocio</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Unidad de negocio</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PickListDistribution_channel</name>
            <choiceReferences>Dan360_PicklistDistributionChannel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Distribution channel</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Mensaje de error al ya existir una plantilla para dicha unidad de negocio.</description>
        <name>Dan362_MensajeDeError</name>
        <label>Mensaje de error</label>
        <locationX>270</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Dan360_MensajeYaExistePlantilla</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-family: tahoma;&quot;&gt;Ya existe la plantilla para la unidad de negocio &lt;/strong&gt;&lt;strong style=&quot;color: rgb(44, 29, 215); background-color: rgb(255, 255, 255); font-family: tahoma;&quot;&gt;{!Dan360_UnidadDeNegocio} &lt;/strong&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-family: tahoma;&quot;&gt;y el distribution channel  &lt;/strong&gt;&lt;strong style=&quot;color: rgb(30, 20, 215); background-color: rgb(255, 255, 255); font-family: tahoma;&quot;&gt;{!PickListDistribution_channel} &lt;/strong&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-family: tahoma;&quot;&gt;para la cuenta &lt;/strong&gt;&lt;strong style=&quot;color: rgb(30, 20, 215); background-color: rgb(255, 255, 255); font-family: tahoma;&quot;&gt;{!Dan360_ObtenerCuenta.Name}&lt;/strong&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-family: tahoma;&quot;&gt;.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Mensaje de error al ya existir una plantilla para dicha unidad de negocio.</description>
        <name>Dan362_MensajeDeError_0</name>
        <label>Mensaje de error</label>
        <locationX>578</locationX>
        <locationY>1550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Dan360_MensajeYaExistePlantilla_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: tahoma; color: rgb(62, 62, 60);&quot;&gt;La cuenta no tiene la Unidad de Negocio &lt;/strong&gt;&lt;strong style=&quot;font-family: tahoma; color: rgb(30, 20, 215);&quot;&gt;{!Dan360_UnidadDeNegocio}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Mensaje que indica que el registro se ha creado de forma exitosa.</description>
        <name>Dan362_MensajeDeExito</name>
        <label>Mensaje de éxito</label>
        <locationX>50</locationX>
        <locationY>2462</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Dan360_MensajeYaExistePlantilla_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Se ha asociado la plantilla &lt;/strong&gt;&lt;strong style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(30, 20, 215);&quot;&gt;{!Dan360_Plantilla.recordName}&lt;/strong&gt;&lt;strong style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; a la cuenta &lt;/strong&gt;&lt;strong style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(30, 20, 215);&quot;&gt;{!Dan360_ObtenerCuenta.Name} &lt;/strong&gt;&lt;strong style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;de forma exitosa.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Mensaje que indica que el registro se ha creado de forma exitosa.</description>
        <name>Dan362_MensajeDeExito_0</name>
        <label>Mensaje de éxito</label>
        <locationX>314</locationX>
        <locationY>2342</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Dan360_MensajeYaExistePlantilla_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-family: tahoma;&quot;&gt;La Unidad de Negocio de la plantilla de productos no coincide con la Unidad de Negocio seleccionada.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Dan360_ObtenerCuenta</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Plantillas_validar_unidad_negocio_error</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;La unidad de negocio seleccionada es diferente a la unidad de negocio de la Plantilla de productos.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Dan360_AsignarUnidadAMN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Dan360_AsignarUnidadNuBa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Canal de venta plantilla por cuenta</description>
        <name>Dan360_DistributionChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Dan360_RecorrePlantillasPorCuenta.Dan360_DistributionChannel__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>Id de Cuenta</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
