force-app/main/default/flows/Dan360_ConfirmacionPedidosDesdeComundiad.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_Products_Available</name>
        <label>Check Products Available</label>
        <locationX>336</locationX>
        <locationY>998</locationY>
        <actionName>OrderConfirmationFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AsignarCountOrderItemUnAvailable</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>orderItems</name>
            <value>
                <elementReference>Obtener_productos_de_pedido</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>OrderItemUnAvailable</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Dan360_EmailPedidoConfirmado</name>
        <label>Email Pedido Confirmado</label>
        <locationX>1172</locationX>
        <locationY>6782</locationY>
        <actionName>Order.Dan360_NotificacionPedidoConfirmado</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Dan360_EnviarASAP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Dan360_EmailPedidoSinCargoConfirmado</name>
        <label>Email Pedido Sin Cargo Confirmado</label>
        <locationX>1700</locationX>
        <locationY>6782</locationY>
        <actionName>Order.Dan360_NotificacionPedidoConfirmado</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Dan360_SolicitarAprobacionPedidoSinCargo</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Dan360_SolicitarAprobacionPedidoSinCargo</name>
        <label>Solicitar Aprobación Pedido Sin Cargo</label>
        <locationX>1700</locationX>
        <locationY>6902</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Copy_1_of_Tiene_pedido_retenido_por_cuota</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Dan360_PedidoSinCargov1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue> Se solicita la revisión y aprobación del siguiente Pedido Sin Cargo.  Muchas Gracias.</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_precios</name>
        <label>Update precios</label>
        <locationX>336</locationX>
        <locationY>638</locationY>
        <actionName>updateMaterialsPrices</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>obtener_lista_de_precios</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorPedidoPrecios</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>pedidoId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Actualizar_listado_productso_a_actualizar</name>
        <label>Actualizar listado productso a actualizar</label>
        <locationX>1172</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>ProductosDePedidoAActualizar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorrer_productos_de_pedido</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Pricebook_entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_estado_confirmaco</name>
        <label>Asigna estado confirmaco</label>
        <locationX>336</locationX>
        <locationY>4910</locationY>
        <assignmentItems>
            <assignToReference>Obtener_pedido.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confirmado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Obtener_pedido.Dan360_PedidoConfirmado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Obtener_pedido.Dan360_FechasConfirmado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FechasConfirmadoNOW</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_productos_de_pedido</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asignar</name>
        <label>asignar</label>
        <locationX>776</locationX>
        <locationY>6302</locationY>
        <assignmentItems>
            <assignToReference>ProductoUnidadesPorBulto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dan360_RecorrerOrderItems.Product2.Dan360_UnidadesPorBulto__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>idProducto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dan360_RecorrerOrderItems.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dan360_ObtenerCuota</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_nuevos_precios</name>
        <label>Asignar nuevos precios</label>
        <locationX>1172</locationX>
        <locationY>2726</locationY>
        <assignmentItems>
            <assignToReference>Recorrer_productos_de_pedido.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Pricebook_entry.UnitPriceWithDiscount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductosPrecioAnterior</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorrer_productos_de_pedido</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Recorrer_productos_de_pedido.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Pricebook_entry.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_listado_productso_a_actualizar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Texto</name>
        <label>Asignar Texto</label>
        <locationX>622</locationX>
        <locationY>3830</locationY>
        <assignmentItems>
            <assignToReference>InfoNuevosPrecios</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NuevoPrecio</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorre_precios_anteriores</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarCountOrderItemUnAvailable</name>
        <label>AsignarCountOrderItemUnAvailable</label>
        <locationX>336</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>countOrderItemsUnAvailable</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>OrderItemUnAvailable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hay_productos_deshabilitados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarOrderItemPlantilla</name>
        <label>AsignarOrderItemPlantilla</label>
        <locationX>270</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>infoOrderItemUnAvailableText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderItemUnAvailablePlantilla</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_OrderItem_UnAvailable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dan360_AsignarSaldoDeCuota</name>
        <label>Asignar Saldo de Cuota</label>
        <locationX>996</locationX>
        <locationY>6662</locationY>
        <assignmentItems>
            <assignToReference>SaldoDeLaCuota</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dan360_RecorrerCuotas.Dan360_Saldo__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dan360_SaldoMenorQueUnidadesPorBulto</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NoOk</name>
        <choiceText>Cancelar</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Ok</name>
        <choiceText>Aceptar</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Acepto</name>
        <label>Acepto?</label>
        <locationX>94</locationX>
        <locationY>4358</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Acepta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeseaContinuar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Ok</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_estado_confirmaco</targetReference>
            </connector>
            <label>Acepta</label>
        </rules>
        <rules>
            <name>Rechaza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeseaContinuar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoOk</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pedido_no_confirmado</targetReference>
            </connector>
            <label>Rechaza</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Tiene_pedido_retenido_por_cuota</name>
        <label>¿Tiene pedido retenido por cuota?</label>
        <locationX>1700</locationX>
        <locationY>7022</locationY>
        <defaultConnector>
            <targetReference>Copy_3_of_Pedido_confirmado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Retenidos_Por_Cuota</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dan360_ObtenerPedidosRetenidosPorCuota.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retenido por cuota</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Pedido_confirmado</targetReference>
            </connector>
            <label>Retenidos Por Cuota</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dan360_SaldoMenorQueUnidadesPorBulto</name>
        <label>¿Saldo Menor Que Unidades Por Bulto?</label>
        <locationX>996</locationX>
        <locationY>6782</locationY>
        <defaultConnector>
            <targetReference>Dan360_RecorrerCuotas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dan360_Menor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductoUnidadesPorBulto</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>SaldoDeLaCuota</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>actualizar_a_retenido_0</targetReference>
            </connector>
            <label>Menor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dan360_TienePedidoRetenidoPorCuota</name>
        <label>¿Tiene pedido retenido por cuota?</label>
        <locationX>1172</locationX>
        <locationY>7022</locationY>
        <defaultConnector>
            <targetReference>Pedido_confirmado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dan360_RetenidosPorCuota</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dan360_ObtenerPedidosRetenidosPorCuota.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retenido por cuota</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Pedido_confirmado</targetReference>
            </connector>
            <label>Retenidos Por Cuota</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dan360_TipoDePedido</name>
        <label>Tipo de Pedido</label>
        <locationX>1634</locationX>
        <locationY>6662</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Dan360_PedidoVentaDirecta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_pedido.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordtypeVentaDirecta</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_pedido.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_EmailPedidoConfirmado</targetReference>
            </connector>
            <label>Pedido Venta Directa</label>
        </rules>
        <rules>
            <name>Dan360_PedidoSinCargo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_pedido.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecortypePedidoSinCargo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_pedido.Dan360_En_aprobacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_EmailPedidoSinCargoConfirmado</targetReference>
            </connector>
            <label>Pedido Sin Cargo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dan360_UnidadMedidaDelProducto</name>
        <label>¿Unidad de Medida del Producto?</label>
        <locationX>1205</locationX>
        <locationY>6182</locationY>
        <defaultConnector>
            <targetReference>Actualiza_pedido_a_Confirmado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unidad</defaultConnectorLabel>
        <rules>
            <name>Dan360_TradeUnit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dan360_RecorrerOrderItems.Dan360_UnidadMedida__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trade Unit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asignar</targetReference>
            </connector>
            <label>Trade Unit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dan360_ValidarOrdenCompra</name>
        <label>Validar Orden Compra</label>
        <locationX>556</locationX>
        <locationY>5390</locationY>
        <defaultConnector>
            <targetReference>Dan360_RecorrerPedidosConfirmados</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Dan360_MismaOrdenCompra</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dan360_RecorrerPedidosConfirmados.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Dan360_RecorrerPedidosConfirmados.EffectiveDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FechaOrdenCompraTODAY</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Dan360_RecorrerPedidosConfirmados.Orden_de_compra__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Obtener_pedido.Orden_de_compra__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dan360_MensajeOrdenCompra</targetReference>
            </connector>
            <label>¿Misma Orden de Compra?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Desea_eliminar_productos</name>
        <label>Desea eliminar productos?</label>
        <locationX>182</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>Recorrer_productos_de_pedido</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductosNoOK</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_Borrador</name>
        <label>Es borrador?</label>
        <locationX>1111</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>No_esta_confirmado</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_pedido.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Borrador</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_pedido.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retenido por cuota</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_productos_de_pedido</targetReference>
            </connector>
            <label>Es Borrador/Retenido por cuota</label>
        </rules>
        <rules>
            <name>Ya_confirmado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_pedido.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Borrador</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pantalla_Ya_Confirm</targetReference>
            </connector>
            <label>No es Borrador</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_el_mismo_producto</name>
        <label>Es el mismo producto?</label>
        <locationX>1458</locationX>
        <locationY>2486</locationY>
        <defaultConnector>
            <targetReference>Recorrer_Pricebook_entry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>mismo_producto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_productos_de_pedido.Product2Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Recorrer_Pricebook_entry.Product2Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Precio_diferente</targetReference>
            </connector>
            <label>mismo producto</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_productos_de_pedido</name>
        <label>Hay productos de pedido?</label>
        <locationX>677</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Pedido_noconfirmado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Hay_productos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_productos_de_pedido</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_precios</targetReference>
            </connector>
            <label>Hay productos</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_productos_deshabilitados</name>
        <label>Hay productos deshabilitados?</label>
        <locationX>336</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <targetReference>Recorrer_productos_de_pedido</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countOrderItemsUnAvailable</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorrer_OrderItem_UnAvailable</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Listado_tiene_elementos</name>
        <label>Listado tiene elementos?</label>
        <locationX>336</locationX>
        <locationY>3350</locationY>
        <defaultConnector>
            <targetReference>Asigna_estado_confirmaco</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Tiene_elementos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductosDePedidoAActualizar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recorre_nuevos_productos</targetReference>
            </connector>
            <label>Tiene elementos</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mismo_producto2</name>
        <label>Mismo producto?</label>
        <locationX>754</locationX>
        <locationY>3710</locationY>
        <defaultConnector>
            <targetReference>Recorre_precios_anteriores</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Mismo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recorre_nuevos_productos.Product2Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Recorre_precios_anteriores.Product2Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Texto</targetReference>
            </connector>
            <label>Mismo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Precio_diferente</name>
        <label>Precio diferente?</label>
        <locationX>1304</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>Recorrer_Pricebook_entry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Es_diferente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_productos_de_pedido.Unit_Price_with_Discount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Recorrer_Pricebook_entry.UnitPriceWithDiscount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_nuevos_precios</targetReference>
            </connector>
            <label>Es diferente</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FechaOrdenCompraTODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>FechasConfirmadoNOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Confirmación de pedidos desde la comundiad {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Confirmación de pedidos desde la comunidad</label>
    <loops>
        <name>Dan360_RecorrerCuotas</name>
        <label>Recorrer Cuotas</label>
        <locationX>776</locationX>
        <locationY>6542</locationY>
        <collectionReference>Dan360_ObtenerCuota</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Dan360_AsignarSaldoDeCuota</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Dan360_RecorrerOrderItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Dan360_RecorrerOrderItems</name>
        <label>RecorrerOrderItems</label>
        <locationX>336</locationX>
        <locationY>6062</locationY>
        <collectionReference>Dan360_ObtenerOrderItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Dan360_UnidadMedidaDelProducto</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Actualiza_pedido_a_Confirmado</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Dan360_RecorrerPedidosConfirmados</name>
        <label>Recorrer Pedidos Confirmados</label>
        <locationX>336</locationX>
        <locationY>5270</locationY>
        <collectionReference>Dan360_ObtenerPedidosCuenta</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Dan360_ValidarOrdenCompra</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Dan360_ObtenerOrderItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>recorre_nuevos_productos</name>
        <label>recorre nuevos productos</label>
        <locationX>94</locationX>
        <locationY>3470</locationY>
        <collectionReference>ProductosDePedidoAActualizar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Recorre_precios_anteriores</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ProductoConCambios</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorre_precios_anteriores</name>
        <label>Recorre precios anteriores</label>
        <locationX>534</locationX>
        <locationY>3590</locationY>
        <collectionReference>ProductosPrecioAnterior</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Mismo_producto2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>recorre_nuevos_productos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_OrderItem_UnAvailable</name>
        <label>Recorrer Order Item UnAvailable</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <collectionReference>OrderItemUnAvailable</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AsignarOrderItemPlantilla</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Productos_inhabilitados</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_Pricebook_entry</name>
        <label>Recorrer Pricebook entry</label>
        <locationX>1084</locationX>
        <locationY>2366</locationY>
        <collectionReference>Obtener_productos_de_lista_de_precios</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Es_el_mismo_producto</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Recorrer_productos_de_pedido</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_productos_de_pedido</name>
        <label>Recorrer productos de pedido</label>
        <locationX>336</locationX>
        <locationY>2246</locationY>
        <collectionReference>Obtener_productos_de_pedido</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Recorrer_Pricebook_entry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Listado_tiene_elementos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Dan360_ObtenerCuota</name>
        <label>Obtener Cuota</label>
        <locationX>776</locationX>
        <locationY>6422</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dan360_RecorrerCuotas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dan360_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idProducto</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dan360_EstadoCuota__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activa</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Dan360_Cuota__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Dan360_ObtenerOrderItems</name>
        <label>Obtener OrderItems</label>
        <locationX>336</locationX>
        <locationY>5942</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dan360_RecorrerOrderItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_pedido.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Dan360_ObtenerPedidoRecienConfirmado</name>
        <label>Obtener Pedido Recién Confirmado</label>
        <locationX>1634</locationX>
        <locationY>6422</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dan360_ObtenerPedidosRetenidosPorCuota</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_pedido.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Dan360_ObtenerPedidosCuenta</name>
        <label>Obtener Pedidos de la Cuenta</label>
        <locationX>336</locationX>
        <locationY>5150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dan360_RecorrerPedidosConfirmados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_pedido.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirmado</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Dan360_ObtenerPedidosRetenidosPorCuota</name>
        <label>Obtener Pedidos Retenidos por Cuota</label>
        <locationX>1634</locationX>
        <locationY>6542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dan360_TipoDePedido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dan360_PedidoPrincipal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Retenido por cuota</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>obtener_lista_de_precios</name>
        <label>obtener lista de precios</label>
        <locationX>336</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_productos_de_lista_de_precios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_pedido.Pricebook2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_pedido</name>
        <label>Obtener pedido</label>
        <locationX>1111</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Es_Borrador</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_productos_de_lista_de_precios</name>
        <label>Obtener productos de lista de precios</label>
        <locationX>336</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Products_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>obtener_lista_de_precios.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_productos_de_pedido</name>
        <label>Obtener productos de pedido</label>
        <locationX>677</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hay_productos_de_pedido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_pedido.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_pedido_a_Confirmado</name>
        <label>Actualiza pedido a Confirmado</label>
        <locationX>1634</locationX>
        <locationY>6302</locationY>
        <connector>
            <targetReference>Dan360_ObtenerPedidoRecienConfirmado</targetReference>
        </connector>
        <inputReference>Obtener_pedido</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>actualizar_a_retenido_0</name>
        <label>actualizar a retenido</label>
        <locationX>864</locationX>
        <locationY>6902</locationY>
        <connector>
            <targetReference>Dan360_RetenidoPorCuota_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Dan360_SemaforoPicklist__c</field>
            <value>
                <stringValue>Rojo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Retenido por cuota</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_productos_de_pedido</name>
        <label>Actualizar productos de pedido</label>
        <locationX>336</locationX>
        <locationY>5030</locationY>
        <connector>
            <targetReference>Dan360_ObtenerPedidosCuenta</targetReference>
        </connector>
        <inputReference>ProductosDePedidoAActualizar</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Copy_1_of_Pedido_confirmado</name>
        <label>Pedido confirmado</label>
        <locationX>1040</locationX>
        <locationY>7142</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Dan360_PedidoRetenidoPorCuota</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_MensajePedidoConfirmadio</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;El Pedido &lt;/b&gt;&lt;b style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(45, 43, 186);&quot;&gt;{!Obtener_pedido.OrderNumber}&lt;/b&gt;&lt;b style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; ha sido confirmado exitosamente.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Pedido_Retenido_Por_Cuota</name>
        <label>Pedido Retenido Por Cuota</label>
        <locationX>1568</locationX>
        <locationY>7262</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Dan360_SolicitarAprobacion</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_MensajePedidoConfirmadio_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-family: tahoma;&quot;&gt;El Pedido actual no cubrió la cantidad total de unidades.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-family: tahoma;&quot;&gt;El pedido &lt;/strong&gt;&lt;strong style=&quot;font-family: tahoma; color: rgb(45, 43, 186);&quot;&gt;{!Dan360_ObtenerPedidosRetenidosPorCuota.OrderNumber}&lt;/strong&gt;&lt;strong style=&quot;font-family: tahoma; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;, quedo retenido por cuota.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Pedido_confirmado</name>
        <label>Pedido confirmado</label>
        <locationX>1568</locationX>
        <locationY>7142</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Pedido_Retenido_Por_Cuota</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_MensajePedidoConfirmadio</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;El Pedido &lt;/b&gt;&lt;b style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(45, 43, 186);&quot;&gt;{!Obtener_pedido.OrderNumber}&lt;/b&gt;&lt;b style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; ha sido confirmado exitosamente.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Pedido_confirmado</name>
        <label>Pedido confirmado</label>
        <locationX>1832</locationX>
        <locationY>7142</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Dan360_SolicitarAprobacion</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_2_of_MensajePedidoConfirmadio</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;El Pedido &lt;/b&gt;&lt;b style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(45, 43, 186);&quot;&gt;{!Obtener_pedido.OrderNumber}&lt;/b&gt;&lt;b style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; ha sido confirmado exitosamente.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dan360_MensajeOrdenCompra</name>
        <label>MensajeOrdenCompra</label>
        <locationX>424</locationX>
        <locationY>5510</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Dan360_OrdenCompraToday</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: tahoma;&quot;&gt;La orden de compra &lt;/span&gt;&lt;strong style=&quot;font-family: tahoma;&quot;&gt;&quot;{!Dan360_RecorrerPedidosConfirmados.Orden_de_compra__c}&quot;&lt;/strong&gt;&lt;span style=&quot;font-family: tahoma;&quot;&gt; del pedido &lt;/span&gt;&lt;strong style=&quot;font-family: tahoma;&quot;&gt;&quot;{!Obtener_pedido.OrderNumber}&quot;&lt;/strong&gt;&lt;span style=&quot;font-family: tahoma;&quot;&gt; ya fue confirmada el día de hoy&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dan360_PedidoRetenidoPorCuota</name>
        <label>Pedido Retenido Por Cuota</label>
        <locationX>1040</locationX>
        <locationY>7262</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensajePedidoConfirmadio_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-family: tahoma;&quot;&gt;El Pedido actual no cubrió la cantidad total de unidades.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-family: tahoma;&quot;&gt;El pedido &lt;/strong&gt;&lt;strong style=&quot;font-family: tahoma; color: rgb(45, 43, 186);&quot;&gt;{!Dan360_ObtenerPedidosRetenidosPorCuota.OrderNumber}&lt;/strong&gt;&lt;strong style=&quot;font-family: tahoma; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;, quedo retenido por cuota.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dan360_RetenidoPorCuota_0</name>
        <label>Retenido por Cuota</label>
        <locationX>864</locationX>
        <locationY>7022</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensajePedidoConfirmadio_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;El Pedido &lt;/strong&gt;&lt;strong style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(45, 43, 186);&quot;&gt;{!Obtener_pedido.OrderNumber}&lt;/strong&gt;&lt;b style=&quot;color: rgb(62, 62, 60); font-family: tahoma; background-color: rgb(255, 255, 255);&quot;&gt; ha sido retenido por cuota. El saldo actual de la cuota es menor a la cantidad de unidades mínima establecida para el producto seleccionado.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dan360_SolicitarAprobacion</name>
        <label>Solicitar Aprobación</label>
        <locationX>1700</locationX>
        <locationY>7478</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MensajeEnvioAprobacion</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;El pedido será enviado a aprobación&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorPedidoPrecios</name>
        <label>ErrorPedidoPrecios</label>
        <locationX>754</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorPrecios</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(228, 6, 6);&quot;&gt;Error:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;No se pudo actualizar la lista de precios&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 10px;&quot;&gt;Problemas externos a salesforce&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pantalla_Ya_Confirm</name>
        <label>Pantalla Ya Confirm</label>
        <locationX>1282</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Ya_Confirm</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(234, 18, 18);&quot;&gt;ERROR:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Solo se pueden confirmar los pedidos en estado borrador.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pedido_confirmado</name>
        <label>Pedido confirmado</label>
        <locationX>1304</locationX>
        <locationY>7142</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensajePedidoConfirmadio</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;El Pedido &lt;/b&gt;&lt;b style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(45, 43, 186);&quot;&gt;{!Obtener_pedido.OrderNumber}&lt;/b&gt;&lt;b style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; ha sido confirmado exitosamente.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pedido_no_confirmado</name>
        <label>Pedido no confirmado</label>
        <locationX>50</locationX>
        <locationY>4478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoConfirmado</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;El Pedido &lt;/b&gt;&lt;b style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(45, 43, 186);&quot;&gt;{!Obtener_pedido.OrderNumber}&lt;/b&gt;&lt;b style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; no ha sido confirmado.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pedido_noconfirmado</name>
        <label>Pedido no confirmado</label>
        <locationX>1018</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MensajePedidoConfirmadio_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;El Pedido &lt;/b&gt;&lt;b style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(45, 43, 186);&quot;&gt;{!Obtener_pedido.OrderNumber}&lt;/b&gt;&lt;b style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; no ha podido confirmarse. Verifique si tiene productos e inténtelo de nuevo.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ProductoConCambios</name>
        <label>Producto con cambios</label>
        <locationX>94</locationX>
        <locationY>4238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancelar</backButtonLabel>
        <connector>
            <targetReference>Acepto</targetReference>
        </connector>
        <fields>
            <name>MensajePedidoConfirmadio_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;El Pedido &lt;/b&gt;&lt;b style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(45, 43, 186);&quot;&gt;{!Obtener_pedido.OrderNumber}&lt;/b&gt;&lt;b style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; ha sufrido los siguientes  cambios: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: tahoma; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;{!InfoNuevosPrecios}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DeseaContinuar</name>
            <choiceReferences>Ok</choiceReferences>
            <choiceReferences>NoOk</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>¿Desea continuar?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Productos_inhabilitados</name>
        <label>Productos inhabilitados</label>
        <locationX>182</locationX>
        <locationY>1694</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Desea_eliminar_productos</targetReference>
        </connector>
        <fields>
            <name>Mensaje_Productos_Deshabilitados</name>
            <fieldText>&lt;p&gt;Estos productos seleccionados no se encuentran habilitados:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!infoOrderItemUnAvailableText}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11px; color: rgb(244, 62, 62);&quot;&gt;&lt;em&gt;Si acepta, los productos deshabilitados serán eliminados y el pedido será confirmado automáticamente.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProductosNoOK</name>
            <choiceReferences>Ok</choiceReferences>
            <choiceReferences>NoOk</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Desea Continuar?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>985</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_pedido</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Dan360_EnviarASAP</name>
        <label>Enviar A SAP</label>
        <locationX>1172</locationX>
        <locationY>6902</locationY>
        <connector>
            <targetReference>Dan360_TienePedidoRetenidoPorCuota</targetReference>
        </connector>
        <flowName>Enviar_a_SAP_Sub_Confirmacion_Pedido</flowName>
        <inputAssignments>
            <name>IdPedidoAEnviar</name>
            <value>
                <elementReference>Obtener_pedido.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>NuevoPrecio</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Producto: {!recorre_nuevos_productos.Product2.Name}, Precio anterior: ${!Recorre_precios_anteriores.UnitPrice}, Precio actual: ${!recorre_nuevos_productos.UnitPrice}
&lt;/br&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>OrderItemUnAvailablePlantilla</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Recorrer_OrderItem_UnAvailable.Product2.Name}</text>
    </textTemplates>
    <variables>
        <name>AcumulaPrecios</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>AcumulaProductos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>countOrderItemsUnAvailable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_tes</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>idProducto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InfoNuevosPrecios</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>infoOrderItemUnAvailableText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderItemUnAvailable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>PrecioAnterior</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductosDePedido</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>ProductosDePedidoAActualizar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>ProductosDePedidoToCheck</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>ProductosPrecioAnterior</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>ProductosQueCambiaron</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>ProductoUnidadesPorBulto</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordtypeVentaDirecta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Dan360_PedidoVentaDirecta</stringValue>
        </value>
    </variables>
    <variables>
        <name>RecortypePedidoSinCargo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Dan360_PedidoSinCargo</stringValue>
        </value>
    </variables>
    <variables>
        <name>SaldoDeLaCuota</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TextoErrorCreacionPedido</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
