force-app/main/default/flows/Eliminar_Lista_Precio_Customer_Sales_Area.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Tiene_lista_de_precios</name>
        <label>Tiene lista de precios?</label>
        <locationX>182</locationX>
        <locationY>887</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lista_de_precios.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eliminar_lista_de_precio</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_Plantialla_Por_Cuenta</name>
        <label>Tiene Plantialla Por Cuenta?</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Tiene_lista_de_precios</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Plantilla_Cliente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eliminar_Plantilla_Por_cuenta</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Eliminar Lista Precio Customer Sales Area {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Eliminar Lista Precio Customer Sales Area</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Eliminar_lista_de_precio</name>
        <label>Eliminar lista de precio</label>
        <locationX>50</locationX>
        <locationY>1007</locationY>
        <inputReference>Lista_de_precios</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Eliminar_Plantilla_Por_cuenta</name>
        <label>Eliminar Plantilla Por cuenta</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>Tiene_lista_de_precios</targetReference>
        </connector>
        <inputReference>Obtener_Plantilla_Cliente</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Lista_de_precios</name>
        <label>Lista de precios</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Plantilla_Cliente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dan360_CustomerSalesArea__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Plantilla_Cliente</name>
        <label>Obtener Plantilla Cliente</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tiene_Plantialla_Por_Cuenta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dan360_Cuenta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Dan360_Customer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dan360_UnidadNegocio__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Dan360_SalesArea__r.Dan360_SalesOrganization__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dan360_DistributionChannel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Dan360_SalesArea__r.Dan360_DistributionChannel__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>dAN360_PlantillaporcCuenta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lista_de_precios</targetReference>
        </connector>
        <object>Dan360_CustomerSalesArea__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
