force-app/main/default/flows/EncuestaEmail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Enviar_Email_Gracias</name>
        <label>Enviar Email Gracias</label>
        <locationX>1079</locationX>
        <locationY>373</locationY>
        <actionName>Respuesta_Test__c.Encuesta_Gracias_email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Guardar_respuesta</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <dynamicChoiceSets>
        <name>RatingdeEncuesta</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Raiting__c</picklistField>
        <picklistObject>Respuesta_Test__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>EncuestaEmail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EncuestaEmail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Guardar_respuesta</name>
        <label>Guardar respuesta</label>
        <locationX>678</locationX>
        <locationY>340</locationY>
        <connector>
            <targetReference>Enviar_Email_Gracias</targetReference>
        </connector>
        <inputAssignments>
            <field>Comentario__c</field>
            <value>
                <elementReference>Comentario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!Nombre_Encuesta.firstName} {!Nombre_Encuesta.lastName} </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Raiting__c</field>
            <value>
                <elementReference>Rating</elementReference>
            </value>
        </inputAssignments>
        <object>Respuesta_Test__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Formulario_Encuesta</name>
        <label>Formulario Encuesta</label>
        <locationX>438</locationX>
        <locationY>152</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Guardar_respuesta</targetReference>
        </connector>
        <fields>
            <name>Nombre_Encuesta</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Rating</name>
            <choiceReferences>RatingdeEncuesta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Rating</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comentario</name>
            <fieldText>Comentario</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>41</locationX>
        <locationY>161</locationY>
        <connector>
            <targetReference>Formulario_Encuesta</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
