force-app/main/default/flows/Flujo_para_automatizacion_de_tareas_en_cuenta_por_subestado.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>La_llamada_fue_exitosa</name>
        <label>La llamada fue exitosa?</label>
        <locationX>557</locationX>
        <locationY>411</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Exitosa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fueexitosa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Esperar_30_Dias_para_nuevo_seguimiento</targetReference>
            </connector>
            <label>Exitosa</label>
        </rules>
        <rules>
            <name>No_exitosa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fueexitosa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Esperar_un_dia_para_generar_nuevamente_seguimiento</targetReference>
            </connector>
            <label>No exitosa</label>
        </rules>
    </decisions>
    <decisions>
        <name>Si_es_un_nuevo_seguimiento</name>
        <label>Si es un nuevo seguimiento</label>
        <locationX>1123</locationX>
        <locationY>807</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_el_sub_estado_actual_es_igual_al_original</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Subestado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SubEstadoActual</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_proximo_seguimiento</targetReference>
            </connector>
            <label>Si el sub estado actual es igual al original</label>
        </rules>
    </decisions>
    <decisions>
        <name>Si_es_un_nuevo_seguimiento_15</name>
        <label>Si es un nuevo seguimiento 15</label>
        <locationX>780</locationX>
        <locationY>871</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_el_sub_estado_actual_es_igual_al_original_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Subestado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SubEstadoActual</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_proximo_seguimiento_15</targetReference>
            </connector>
            <label>Si el sub estado actual es igual al original 15</label>
        </rules>
    </decisions>
    <decisions>
        <name>Si_es_un_nuevo_seguimiento_90</name>
        <label>Si es un nuevo seguimiento 90</label>
        <locationX>395</locationX>
        <locationY>819</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_el_sub_estado_actual_es_igual_al_original_90</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Subestado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SubEstadoActual</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_proximo_seguimiento_90</targetReference>
            </connector>
            <label>Si el sub estado actual es igual al original 90</label>
        </rules>
    </decisions>
    <formulas>
        <name>Cincominutosparatestear</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} +  (5/1440)</expression>
    </formulas>
    <formulas>
        <name>DiezMinutosParaTestear</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} +  (10/1440)</expression>
    </formulas>
    <formulas>
        <name>SieteMinutosParaTestear</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + (7/1440)</expression>
    </formulas>
    <formulas>
        <name>Vencimiento15dias</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 15</expression>
    </formulas>
    <formulas>
        <name>Vencimiento30dias</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <formulas>
        <name>Vencimiento90dias</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 90</expression>
    </formulas>
    <interviewLabel>Automatización de tareas en cuenta por subestado F {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flujo para automatización de tareas en cuenta por subestado</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_proximo_seguimiento</name>
        <label>Crear próximo seguimiento 30</label>
        <locationX>1288</locationX>
        <locationY>867</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Vencimiento30dias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contador_de_tareas__c</field>
            <value>
                <elementReference>Contadordetareasexitosas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Llamada__c</field>
            <value>
                <stringValue>No realizada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType_Llamado_de_seguimiento.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Abierta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Asunto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_proximo_seguimiento_0</name>
        <label>Crear proximo seguimiento</label>
        <locationX>20</locationX>
        <locationY>631</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>FechaVencimiento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contador_de_llamada_no_exitosa__c</field>
            <value>
                <elementReference>Contadordetareasnoexitosas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contador_de_tareas__c</field>
            <value>
                <elementReference>Contadordetareasnoexitosas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Llamada__c</field>
            <value>
                <stringValue>No realizada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType_Llamado_de_seguimiento.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Abierta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Asunto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_proximo_seguimiento_15</name>
        <label>Crear próximo seguimiento 15</label>
        <locationX>955</locationX>
        <locationY>934</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Vencimiento15dias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contador_de_tareas__c</field>
            <value>
                <elementReference>Contadordetareasexitosas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Llamada__c</field>
            <value>
                <stringValue>No realizada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType_Llamado_de_seguimiento.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Abierta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Asunto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_proximo_seguimiento_90</name>
        <label>Crear próximo seguimiento 90</label>
        <locationX>310</locationX>
        <locationY>948</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>FechaVencimiento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contador_de_tareas__c</field>
            <value>
                <elementReference>Contadordetareasexitosas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Llamada__c</field>
            <value>
                <stringValue>No realizada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType_Llamado_de_seguimiento.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Abierta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Asunto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Cuenta_relacionada</name>
        <label>Cuenta relacionada</label>
        <locationX>1028</locationX>
        <locationY>705</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Si_es_un_nuevo_seguimiento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhatId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>SubEstadoActual</assignToReference>
            <field>Subestado_del_paciente__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Cuenta_relacionada_15</name>
        <label>Cuenta relacionada 15</label>
        <locationX>743</locationX>
        <locationY>724</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Si_es_un_nuevo_seguimiento_15</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhatId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>SubEstadoActual</assignToReference>
            <field>Subestado_del_paciente__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Cuenta_relacionada_90</name>
        <label>Cuenta relacionada 90</label>
        <locationX>491</locationX>
        <locationY>698</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Si_es_un_nuevo_seguimiento_90</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhatId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>SubEstadoActual</assignToReference>
            <field>Subestado_del_paciente__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>RecordType_Llamado_de_seguimiento</name>
        <label>RecordType Llamado de seguimiento</label>
        <locationX>557</locationX>
        <locationY>230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>La_llamada_fue_exitosa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Llamado_de_seguimiento</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>430</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>RecordType_Llamado_de_seguimiento</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Asunto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contadordetareasexitosas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Contadordetareasnoexitosas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Estado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FechaAContemplar</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FechaVencimiento</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Fueexitosa</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordtypePSP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Subestado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SubEstadoActual</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WhatId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Esperar_30_Dias_para_nuevo_seguimiento</name>
        <label>Esperar N Dias para nuevo seguimiento</label>
        <locationX>709</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Ruta predeterminada</defaultConnectorLabel>
        <waitEvents>
            <name>Esperar_15_dias</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Subestado</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>En desafío REG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Estado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En seguimiento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cuenta_relacionada_15</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>Cincominutosparatestear</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Esperar 15 días</label>
        </waitEvents>
        <waitEvents>
            <name>Esperar_30_dias</name>
            <conditionLogic>2 AND (1 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Subestado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En desafío REG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Estado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En seguimiento</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Subestado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Próximo a desafío</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cuenta_relacionada</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>SieteMinutosParaTestear</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Esperar 30 dias</label>
        </waitEvents>
        <waitEvents>
            <name>Esperar_90_dias</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Estado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En tratamiento</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Subestado</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Internado REG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Subestado</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Próximo a desafío</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cuenta_relacionada_90</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>DiezMinutosParaTestear</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Esperar 90 días</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Esperar_un_dia_para_generar_nuevamente_seguimiento</name>
        <label>Esperar un dia para generar nuevamente seguimiento</label>
        <locationX>197</locationX>
        <locationY>545</locationY>
        <defaultConnectorLabel>Ruta predeterminada</defaultConnectorLabel>
        <waitEvents>
            <name>Esperar_1_dia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Subestado</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Internado REG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_proximo_seguimiento_0</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>FechaAContemplar</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Esperar 1 dia</label>
        </waitEvents>
    </waits>
</Flow>
