force-app/main/default/flows/JBSystemFlow_Envio_sin_Cargo_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj17578e6b4575dfd9f187eccfae485ca0_FireJBTrigger</name>
        <label>SalesforceObj17578e6b4575dfd9f187eccfae485ca0_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj8e5dfb08a73c4a862d454dc37f791b16</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj8e5dfb08a73c4a862d454dc37f791b16</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Paciente__c&quot;,&quot;relationshipName&quot;:&quot;Paciente__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Envio_sin_Cargo__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj17578e6b4575dfd9f187eccfae485ca0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100024989</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Envio_sin_Cargo__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Provincia__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Paciente__r&quot;,&quot;dePrefix&quot;:&quot;Envio_sin_Cargo__c:Paciente__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj1e46400892a74bf01223ebf5ffb306b1_FireJBTrigger</name>
        <label>SalesforceObj1e46400892a74bf01223ebf5ffb306b1_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjd845d32593cc2749b76325469c2b51d6</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjd845d32593cc2749b76325469c2b51d6</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Paciente__c&quot;,&quot;relationshipName&quot;:&quot;Paciente__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Envio_sin_Cargo__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj1e46400892a74bf01223ebf5ffb306b1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100024989</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Envio_sin_Cargo__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Formula_de_producto_de_envio__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Paciente__r&quot;,&quot;dePrefix&quot;:&quot;Envio_sin_Cargo__c:Paciente__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj33c773b8d2c6e930b8b38e6bd566f00d_FireJBTrigger</name>
        <label>SalesforceObj33c773b8d2c6e930b8b38e6bd566f00d_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Paciente__c&quot;,&quot;relationshipName&quot;:&quot;Paciente__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Envio_sin_Cargo__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj33c773b8d2c6e930b8b38e6bd566f00d</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100024989</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Envio_sin_Cargo__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Formula_de_producto_de_envio__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Paciente__r&quot;,&quot;dePrefix&quot;:&quot;Envio_sin_Cargo__c:Paciente__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj3ba93ae9a17fbafc5387629255a96877_FireJBTrigger</name>
        <label>SalesforceObj3ba93ae9a17fbafc5387629255a96877_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj747551239253ea0094e98b63b2573bb3</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj747551239253ea0094e98b63b2573bb3</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Paciente__c&quot;,&quot;relationshipName&quot;:&quot;Paciente__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Envio_sin_Cargo__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj3ba93ae9a17fbafc5387629255a96877</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100024989</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Envio_sin_Cargo__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Provincia__c&quot;,&quot;Formula_de_producto_de_envio__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Paciente__r&quot;,&quot;dePrefix&quot;:&quot;Envio_sin_Cargo__c:Paciente__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj5c0c7504b47d150c86969e685c2875e6_FireJBTrigger</name>
        <label>SalesforceObj5c0c7504b47d150c86969e685c2875e6_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjbcd0c5fa9f64b68f624d655739a5cfd0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjbcd0c5fa9f64b68f624d655739a5cfd0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Paciente__c&quot;,&quot;relationshipName&quot;:&quot;Paciente__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Envio_sin_Cargo__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj5c0c7504b47d150c86969e685c2875e6</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100024989</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Envio_sin_Cargo__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Formula_de_producto_de_envio__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Paciente__r&quot;,&quot;dePrefix&quot;:&quot;Envio_sin_Cargo__c:Paciente__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj6290518957230623aee3e854cd23dac0_FireJBTrigger</name>
        <label>SalesforceObj6290518957230623aee3e854cd23dac0_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjfe8556d98b4a7ad025faecf5c4ab3f6e</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjfe8556d98b4a7ad025faecf5c4ab3f6e</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Paciente__c&quot;,&quot;relationshipName&quot;:&quot;Paciente__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Envio_sin_Cargo__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj6290518957230623aee3e854cd23dac0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100024989</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Envio_sin_Cargo__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Provincia__c&quot;,&quot;Formula_de_producto_de_envio__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Paciente__r&quot;,&quot;dePrefix&quot;:&quot;Envio_sin_Cargo__c:Paciente__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj747551239253ea0094e98b63b2573bb3_FireJBTrigger</name>
        <label>SalesforceObj747551239253ea0094e98b63b2573bb3_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj6290518957230623aee3e854cd23dac0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj6290518957230623aee3e854cd23dac0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Paciente__c&quot;,&quot;relationshipName&quot;:&quot;Paciente__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Envio_sin_Cargo__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj747551239253ea0094e98b63b2573bb3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100024989</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Envio_sin_Cargo__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Formula_de_producto_de_envio__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Paciente__r&quot;,&quot;dePrefix&quot;:&quot;Envio_sin_Cargo__c:Paciente__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj8e5dfb08a73c4a862d454dc37f791b16_FireJBTrigger</name>
        <label>SalesforceObj8e5dfb08a73c4a862d454dc37f791b16_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3ba93ae9a17fbafc5387629255a96877</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3ba93ae9a17fbafc5387629255a96877</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Paciente__c&quot;,&quot;relationshipName&quot;:&quot;Paciente__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Envio_sin_Cargo__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj8e5dfb08a73c4a862d454dc37f791b16</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100024989</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Envio_sin_Cargo__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Paciente__r&quot;,&quot;dePrefix&quot;:&quot;Envio_sin_Cargo__c:Paciente__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjbcd0c5fa9f64b68f624d655739a5cfd0_FireJBTrigger</name>
        <label>SalesforceObjbcd0c5fa9f64b68f624d655739a5cfd0_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj17578e6b4575dfd9f187eccfae485ca0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj17578e6b4575dfd9f187eccfae485ca0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Paciente__c&quot;,&quot;relationshipName&quot;:&quot;Paciente__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Envio_sin_Cargo__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjbcd0c5fa9f64b68f624d655739a5cfd0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100024989</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Envio_sin_Cargo__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Provincia__c&quot;,&quot;Formula_de_producto_de_envio__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Paciente__r&quot;,&quot;dePrefix&quot;:&quot;Envio_sin_Cargo__c:Paciente__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjbe86e5092ebedbde358763208d001c52_FireJBTrigger</name>
        <label>SalesforceObjbe86e5092ebedbde358763208d001c52_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1e46400892a74bf01223ebf5ffb306b1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1e46400892a74bf01223ebf5ffb306b1</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Paciente__c&quot;,&quot;relationshipName&quot;:&quot;Paciente__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Envio_sin_Cargo__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjbe86e5092ebedbde358763208d001c52</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100024989</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Envio_sin_Cargo__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Formula_de_producto_de_envio__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Paciente__r&quot;,&quot;dePrefix&quot;:&quot;Envio_sin_Cargo__c:Paciente__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjd845d32593cc2749b76325469c2b51d6_FireJBTrigger</name>
        <label>SalesforceObjd845d32593cc2749b76325469c2b51d6_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj33c773b8d2c6e930b8b38e6bd566f00d</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj33c773b8d2c6e930b8b38e6bd566f00d</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Paciente__c&quot;,&quot;relationshipName&quot;:&quot;Paciente__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Envio_sin_Cargo__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjd845d32593cc2749b76325469c2b51d6</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100024989</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Envio_sin_Cargo__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Provincia__c&quot;,&quot;Formula_de_producto_de_envio__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Paciente__r&quot;,&quot;dePrefix&quot;:&quot;Envio_sin_Cargo__c:Paciente__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjfe8556d98b4a7ad025faecf5c4ab3f6e_FireJBTrigger</name>
        <label>SalesforceObjfe8556d98b4a7ad025faecf5c4ab3f6e_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjbe86e5092ebedbde358763208d001c52</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjbe86e5092ebedbde358763208d001c52</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Paciente__c&quot;,&quot;relationshipName&quot;:&quot;Paciente__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Envio_sin_Cargo__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjfe8556d98b4a7ad025faecf5c4ab3f6e</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100024989</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Envio_sin_Cargo__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Provincia__c&quot;,&quot;Formula_de_producto_de_envio__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Paciente__r&quot;,&quot;dePrefix&quot;:&quot;Envio_sin_Cargo__c:Paciente__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj17578e6b4575dfd9f187eccfae485ca0</name>
        <label>JB_Decision_Null_Check_SalesforceObj17578e6b4575dfd9f187eccfae485ca0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj8e5dfb08a73c4a862d454dc37f791b16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj17578e6b4575dfd9f187eccfae485ca0_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Paciente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Paciente__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj8e5dfb08a73c4a862d454dc37f791b16</targetReference>
            </connector>
            <label>JB_SalesforceObj17578e6b4575dfd9f187eccfae485ca0_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj17578e6b4575dfd9f187eccfae485ca0_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj17578e6b4575dfd9f187eccfae485ca0_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj17578e6b4575dfd9f187eccfae485ca0_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj1e46400892a74bf01223ebf5ffb306b1</name>
        <label>JB_Decision_Null_Check_SalesforceObj1e46400892a74bf01223ebf5ffb306b1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjd845d32593cc2749b76325469c2b51d6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj1e46400892a74bf01223ebf5ffb306b1_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Paciente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Paciente__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjd845d32593cc2749b76325469c2b51d6</targetReference>
            </connector>
            <label>JB_SalesforceObj1e46400892a74bf01223ebf5ffb306b1_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj1e46400892a74bf01223ebf5ffb306b1_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj1e46400892a74bf01223ebf5ffb306b1_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj1e46400892a74bf01223ebf5ffb306b1_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj33c773b8d2c6e930b8b38e6bd566f00d</name>
        <label>JB_Decision_Null_Check_SalesforceObj33c773b8d2c6e930b8b38e6bd566f00d</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj33c773b8d2c6e930b8b38e6bd566f00d_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Paciente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Paciente__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj33c773b8d2c6e930b8b38e6bd566f00d_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj33c773b8d2c6e930b8b38e6bd566f00d_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj33c773b8d2c6e930b8b38e6bd566f00d_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj33c773b8d2c6e930b8b38e6bd566f00d_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj3ba93ae9a17fbafc5387629255a96877</name>
        <label>JB_Decision_Null_Check_SalesforceObj3ba93ae9a17fbafc5387629255a96877</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj747551239253ea0094e98b63b2573bb3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj3ba93ae9a17fbafc5387629255a96877_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Paciente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Paciente__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj747551239253ea0094e98b63b2573bb3</targetReference>
            </connector>
            <label>JB_SalesforceObj3ba93ae9a17fbafc5387629255a96877_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj3ba93ae9a17fbafc5387629255a96877_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj3ba93ae9a17fbafc5387629255a96877_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj3ba93ae9a17fbafc5387629255a96877_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj5c0c7504b47d150c86969e685c2875e6</name>
        <label>JB_Decision_Null_Check_SalesforceObj5c0c7504b47d150c86969e685c2875e6</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjbcd0c5fa9f64b68f624d655739a5cfd0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj5c0c7504b47d150c86969e685c2875e6_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Paciente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Paciente__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjbcd0c5fa9f64b68f624d655739a5cfd0</targetReference>
            </connector>
            <label>JB_SalesforceObj5c0c7504b47d150c86969e685c2875e6_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj5c0c7504b47d150c86969e685c2875e6_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj5c0c7504b47d150c86969e685c2875e6_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj5c0c7504b47d150c86969e685c2875e6_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj6290518957230623aee3e854cd23dac0</name>
        <label>JB_Decision_Null_Check_SalesforceObj6290518957230623aee3e854cd23dac0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjfe8556d98b4a7ad025faecf5c4ab3f6e</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj6290518957230623aee3e854cd23dac0_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Paciente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Paciente__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjfe8556d98b4a7ad025faecf5c4ab3f6e</targetReference>
            </connector>
            <label>JB_SalesforceObj6290518957230623aee3e854cd23dac0_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj6290518957230623aee3e854cd23dac0_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj6290518957230623aee3e854cd23dac0_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj6290518957230623aee3e854cd23dac0_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj747551239253ea0094e98b63b2573bb3</name>
        <label>JB_Decision_Null_Check_SalesforceObj747551239253ea0094e98b63b2573bb3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj6290518957230623aee3e854cd23dac0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj747551239253ea0094e98b63b2573bb3_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Paciente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Paciente__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj6290518957230623aee3e854cd23dac0</targetReference>
            </connector>
            <label>JB_SalesforceObj747551239253ea0094e98b63b2573bb3_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj747551239253ea0094e98b63b2573bb3_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj747551239253ea0094e98b63b2573bb3_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj747551239253ea0094e98b63b2573bb3_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj8e5dfb08a73c4a862d454dc37f791b16</name>
        <label>JB_Decision_Null_Check_SalesforceObj8e5dfb08a73c4a862d454dc37f791b16</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3ba93ae9a17fbafc5387629255a96877</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj8e5dfb08a73c4a862d454dc37f791b16_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Paciente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Paciente__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj3ba93ae9a17fbafc5387629255a96877</targetReference>
            </connector>
            <label>JB_SalesforceObj8e5dfb08a73c4a862d454dc37f791b16_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj8e5dfb08a73c4a862d454dc37f791b16_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj8e5dfb08a73c4a862d454dc37f791b16_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj8e5dfb08a73c4a862d454dc37f791b16_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjbcd0c5fa9f64b68f624d655739a5cfd0</name>
        <label>JB_Decision_Null_Check_SalesforceObjbcd0c5fa9f64b68f624d655739a5cfd0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj17578e6b4575dfd9f187eccfae485ca0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjbcd0c5fa9f64b68f624d655739a5cfd0_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Paciente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Paciente__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj17578e6b4575dfd9f187eccfae485ca0</targetReference>
            </connector>
            <label>JB_SalesforceObjbcd0c5fa9f64b68f624d655739a5cfd0_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjbcd0c5fa9f64b68f624d655739a5cfd0_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjbcd0c5fa9f64b68f624d655739a5cfd0_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjbcd0c5fa9f64b68f624d655739a5cfd0_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjbe86e5092ebedbde358763208d001c52</name>
        <label>JB_Decision_Null_Check_SalesforceObjbe86e5092ebedbde358763208d001c52</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1e46400892a74bf01223ebf5ffb306b1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjbe86e5092ebedbde358763208d001c52_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Paciente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Paciente__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj1e46400892a74bf01223ebf5ffb306b1</targetReference>
            </connector>
            <label>JB_SalesforceObjbe86e5092ebedbde358763208d001c52_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjbe86e5092ebedbde358763208d001c52_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjbe86e5092ebedbde358763208d001c52_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjbe86e5092ebedbde358763208d001c52_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjd845d32593cc2749b76325469c2b51d6</name>
        <label>JB_Decision_Null_Check_SalesforceObjd845d32593cc2749b76325469c2b51d6</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj33c773b8d2c6e930b8b38e6bd566f00d</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjd845d32593cc2749b76325469c2b51d6_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Paciente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Paciente__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj33c773b8d2c6e930b8b38e6bd566f00d</targetReference>
            </connector>
            <label>JB_SalesforceObjd845d32593cc2749b76325469c2b51d6_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjd845d32593cc2749b76325469c2b51d6_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjd845d32593cc2749b76325469c2b51d6_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjd845d32593cc2749b76325469c2b51d6_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjfe8556d98b4a7ad025faecf5c4ab3f6e</name>
        <label>JB_Decision_Null_Check_SalesforceObjfe8556d98b4a7ad025faecf5c4ab3f6e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjbe86e5092ebedbde358763208d001c52</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjfe8556d98b4a7ad025faecf5c4ab3f6e_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Paciente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Paciente__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjbe86e5092ebedbde358763208d001c52</targetReference>
            </connector>
            <label>JB_SalesforceObjfe8556d98b4a7ad025faecf5c4ab3f6e_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjfe8556d98b4a7ad025faecf5c4ab3f6e_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjfe8556d98b4a7ad025faecf5c4ab3f6e_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjfe8556d98b4a7ad025faecf5c4ab3f6e_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj17578e6b4575dfd9f187eccfae485ca0_Decision</name>
        <label>JB_SalesforceObj17578e6b4575dfd9f187eccfae485ca0_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj8e5dfb08a73c4a862d454dc37f791b16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj17578e6b4575dfd9f187eccfae485ca0</name>
            <conditionLogic>( ( (1 AND 2)  AND 3)  AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Paciente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Area_Terapeutica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oncologa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Estado_del_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Procesado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Razon_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kit de Inicio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj17578e6b4575dfd9f187eccfae485ca0_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj17578e6b4575dfd9f187eccfae485ca0</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj17578e6b4575dfd9f187eccfae485ca0_State_change_Decision</name>
        <label>JB_SalesforceObj17578e6b4575dfd9f187eccfae485ca0_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj8e5dfb08a73c4a862d454dc37f791b16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj17578e6b4575dfd9f187eccfae485ca0</name>
            <conditionLogic>NOT  ( ( (1 AND 2)  AND 3)  AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Paciente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Area_Terapeutica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oncologa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Estado_del_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Procesado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Razon_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kit de Inicio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj17578e6b4575dfd9f187eccfae485ca0_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj17578e6b4575dfd9f187eccfae485ca0</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj1e46400892a74bf01223ebf5ffb306b1_Decision</name>
        <label>JB_SalesforceObj1e46400892a74bf01223ebf5ffb306b1_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjd845d32593cc2749b76325469c2b51d6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj1e46400892a74bf01223ebf5ffb306b1</name>
            <conditionLogic>( ( ( (1 AND 2)  AND 3)  AND 4)  AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Paciente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Razon_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kit de Inicio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Estado_del_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reservado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Area_Terapeutica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dieta Cetognica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>MATERIALES DE KIT KETOCAL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj1e46400892a74bf01223ebf5ffb306b1_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj1e46400892a74bf01223ebf5ffb306b1</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj1e46400892a74bf01223ebf5ffb306b1_State_change_Decision</name>
        <label>JB_SalesforceObj1e46400892a74bf01223ebf5ffb306b1_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjd845d32593cc2749b76325469c2b51d6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj1e46400892a74bf01223ebf5ffb306b1</name>
            <conditionLogic>NOT  ( ( ( (1 AND 2)  AND 3)  AND 4)  AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Paciente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Razon_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kit de Inicio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Estado_del_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reservado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Area_Terapeutica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dieta Cetognica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>MATERIALES DE KIT KETOCAL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj1e46400892a74bf01223ebf5ffb306b1_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj1e46400892a74bf01223ebf5ffb306b1</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj33c773b8d2c6e930b8b38e6bd566f00d_Decision</name>
        <label>JB_SalesforceObj33c773b8d2c6e930b8b38e6bd566f00d_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj33c773b8d2c6e930b8b38e6bd566f00d</name>
            <conditionLogic>( ( ( (1 AND 2)  AND 3)  AND 4)  AND  (5 OR 6) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Paciente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Area_Terapeutica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Digestivos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Razon_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kit de Inicio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Estado_del_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reservado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NUTRILON COMFORT LATA x 400G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NUTRILON AR 1 LATA X 400G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj33c773b8d2c6e930b8b38e6bd566f00d_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj33c773b8d2c6e930b8b38e6bd566f00d</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj33c773b8d2c6e930b8b38e6bd566f00d_State_change_Decision</name>
        <label>JB_SalesforceObj33c773b8d2c6e930b8b38e6bd566f00d_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj33c773b8d2c6e930b8b38e6bd566f00d</name>
            <conditionLogic>NOT  ( ( ( (1 AND 2)  AND 3)  AND 4)  AND  (5 OR 6) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Paciente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Area_Terapeutica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Digestivos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Razon_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kit de Inicio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Estado_del_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reservado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NUTRILON COMFORT LATA x 400G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NUTRILON AR 1 LATA X 400G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj33c773b8d2c6e930b8b38e6bd566f00d_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj33c773b8d2c6e930b8b38e6bd566f00d</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj3ba93ae9a17fbafc5387629255a96877_Decision</name>
        <label>JB_SalesforceObj3ba93ae9a17fbafc5387629255a96877_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj747551239253ea0094e98b63b2573bb3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj3ba93ae9a17fbafc5387629255a96877</name>
            <conditionLogic>( ( ( (1 AND 2)  AND 3)  AND 4)  AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Paciente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Area_Terapeutica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dieta Cetognica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Razon_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kit de Inicio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>MATERIALES DE KIT KETOCAL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Estado_del_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Procesado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj3ba93ae9a17fbafc5387629255a96877_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj3ba93ae9a17fbafc5387629255a96877</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj3ba93ae9a17fbafc5387629255a96877_State_change_Decision</name>
        <label>JB_SalesforceObj3ba93ae9a17fbafc5387629255a96877_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj747551239253ea0094e98b63b2573bb3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj3ba93ae9a17fbafc5387629255a96877</name>
            <conditionLogic>NOT  ( ( ( (1 AND 2)  AND 3)  AND 4)  AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Paciente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Area_Terapeutica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dieta Cetognica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Razon_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kit de Inicio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>MATERIALES DE KIT KETOCAL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Estado_del_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Procesado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj3ba93ae9a17fbafc5387629255a96877_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj3ba93ae9a17fbafc5387629255a96877</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj5c0c7504b47d150c86969e685c2875e6_Decision</name>
        <label>JB_SalesforceObj5c0c7504b47d150c86969e685c2875e6_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjbcd0c5fa9f64b68f624d655739a5cfd0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj5c0c7504b47d150c86969e685c2875e6</name>
            <conditionLogic>( ( ( (1 AND 2)  AND 3)  AND 4)  AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Paciente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Area_Terapeutica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Metablicos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Estado_del_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reservado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Razon_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kit de Inicio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>MATERIALES DE KIT DE INICIO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj5c0c7504b47d150c86969e685c2875e6_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj5c0c7504b47d150c86969e685c2875e6</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj5c0c7504b47d150c86969e685c2875e6_State_change_Decision</name>
        <label>JB_SalesforceObj5c0c7504b47d150c86969e685c2875e6_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjbcd0c5fa9f64b68f624d655739a5cfd0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj5c0c7504b47d150c86969e685c2875e6</name>
            <conditionLogic>NOT  ( ( ( (1 AND 2)  AND 3)  AND 4)  AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Paciente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Area_Terapeutica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Metablicos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Estado_del_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reservado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Razon_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kit de Inicio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>MATERIALES DE KIT DE INICIO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj5c0c7504b47d150c86969e685c2875e6_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj5c0c7504b47d150c86969e685c2875e6</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj6290518957230623aee3e854cd23dac0_Decision</name>
        <label>JB_SalesforceObj6290518957230623aee3e854cd23dac0_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjfe8556d98b4a7ad025faecf5c4ab3f6e</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj6290518957230623aee3e854cd23dac0</name>
            <conditionLogic>( ( ( (1 AND 2)  AND 3)  AND 4)  AND  ( ( (5 OR 6)  OR 7)  OR 8) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Paciente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Area_Terapeutica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alergia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Estado_del_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Procesado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Razon_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kit de Inicio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEOCATE JUNIOR Vainilla Lata x 400G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEOCATE SYNEO LATA x 400G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEOCATE JUNIOR Neutro Lata x 400G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEOCATE GOLD Lata x 400G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj6290518957230623aee3e854cd23dac0_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj6290518957230623aee3e854cd23dac0</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj6290518957230623aee3e854cd23dac0_State_change_Decision</name>
        <label>JB_SalesforceObj6290518957230623aee3e854cd23dac0_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjfe8556d98b4a7ad025faecf5c4ab3f6e</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj6290518957230623aee3e854cd23dac0</name>
            <conditionLogic>NOT  ( ( ( (1 AND 2)  AND 3)  AND 4)  AND  ( ( (5 OR 6)  OR 7)  OR 8) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Paciente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Area_Terapeutica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alergia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Estado_del_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Procesado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Razon_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kit de Inicio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEOCATE JUNIOR Vainilla Lata x 400G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEOCATE SYNEO LATA x 400G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEOCATE JUNIOR Neutro Lata x 400G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEOCATE GOLD Lata x 400G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj6290518957230623aee3e854cd23dac0_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj6290518957230623aee3e854cd23dac0</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj747551239253ea0094e98b63b2573bb3_Decision</name>
        <label>JB_SalesforceObj747551239253ea0094e98b63b2573bb3_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj6290518957230623aee3e854cd23dac0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj747551239253ea0094e98b63b2573bb3</name>
            <conditionLogic>( ( ( (1 AND 2)  AND 3)  AND 4)  AND  ( ( (5 OR 6)  OR 7)  OR 8) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Paciente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Area_Terapeutica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alergia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Razon_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kit de Inicio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Estado_del_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reservado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEOCATE SYNEO LATA x 400G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEOCATE JUNIOR Neutro Lata x 400G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEOCATE GOLD Lata x 400G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEOCATE JUNIOR Vainilla Lata x 400g</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj747551239253ea0094e98b63b2573bb3_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj747551239253ea0094e98b63b2573bb3</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj747551239253ea0094e98b63b2573bb3_State_change_Decision</name>
        <label>JB_SalesforceObj747551239253ea0094e98b63b2573bb3_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj6290518957230623aee3e854cd23dac0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj747551239253ea0094e98b63b2573bb3</name>
            <conditionLogic>NOT  ( ( ( (1 AND 2)  AND 3)  AND 4)  AND  ( ( (5 OR 6)  OR 7)  OR 8) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Paciente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Area_Terapeutica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alergia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Razon_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kit de Inicio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Estado_del_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reservado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEOCATE SYNEO LATA x 400G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEOCATE JUNIOR Neutro Lata x 400G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEOCATE GOLD Lata x 400G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEOCATE JUNIOR Vainilla Lata x 400g</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj747551239253ea0094e98b63b2573bb3_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj747551239253ea0094e98b63b2573bb3</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj8e5dfb08a73c4a862d454dc37f791b16_Decision</name>
        <label>JB_SalesforceObj8e5dfb08a73c4a862d454dc37f791b16_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3ba93ae9a17fbafc5387629255a96877</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj8e5dfb08a73c4a862d454dc37f791b16</name>
            <conditionLogic>( ( (1 AND 2)  AND 3)  AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Paciente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Area_Terapeutica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oncologa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Estado_del_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reservado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Razon_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kit de Inicio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj8e5dfb08a73c4a862d454dc37f791b16_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj8e5dfb08a73c4a862d454dc37f791b16</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj8e5dfb08a73c4a862d454dc37f791b16_State_change_Decision</name>
        <label>JB_SalesforceObj8e5dfb08a73c4a862d454dc37f791b16_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3ba93ae9a17fbafc5387629255a96877</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj8e5dfb08a73c4a862d454dc37f791b16</name>
            <conditionLogic>NOT  ( ( (1 AND 2)  AND 3)  AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Paciente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Area_Terapeutica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oncologa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Estado_del_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reservado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Razon_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kit de Inicio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj8e5dfb08a73c4a862d454dc37f791b16_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj8e5dfb08a73c4a862d454dc37f791b16</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjbcd0c5fa9f64b68f624d655739a5cfd0_Decision</name>
        <label>JB_SalesforceObjbcd0c5fa9f64b68f624d655739a5cfd0_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj17578e6b4575dfd9f187eccfae485ca0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjbcd0c5fa9f64b68f624d655739a5cfd0</name>
            <conditionLogic>( ( ( (1 AND 2)  AND 3)  AND 4)  AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Paciente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Area_Terapeutica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Metablicos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Estado_del_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Procesado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>MATERIALES DE KIT DE INICIO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Razon_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kit de Inicio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjbcd0c5fa9f64b68f624d655739a5cfd0_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjbcd0c5fa9f64b68f624d655739a5cfd0</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjbcd0c5fa9f64b68f624d655739a5cfd0_State_change_Decision</name>
        <label>JB_SalesforceObjbcd0c5fa9f64b68f624d655739a5cfd0_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj17578e6b4575dfd9f187eccfae485ca0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjbcd0c5fa9f64b68f624d655739a5cfd0</name>
            <conditionLogic>NOT  ( ( ( (1 AND 2)  AND 3)  AND 4)  AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Paciente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Area_Terapeutica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Metablicos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Estado_del_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Procesado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>MATERIALES DE KIT DE INICIO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Razon_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kit de Inicio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjbcd0c5fa9f64b68f624d655739a5cfd0_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjbcd0c5fa9f64b68f624d655739a5cfd0</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjbe86e5092ebedbde358763208d001c52_Decision</name>
        <label>JB_SalesforceObjbe86e5092ebedbde358763208d001c52_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1e46400892a74bf01223ebf5ffb306b1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjbe86e5092ebedbde358763208d001c52</name>
            <conditionLogic>( ( ( (1 AND 2)  AND 3)  AND 4)  AND  ( ( (5 OR 6)  OR 7)  OR 8) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Paciente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Area_Terapeutica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Desafos del Crecimiento</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Razon_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kit de Inicio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Estado_del_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reservado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INFATRINI 400G POLVO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INFATRINI 24X125ML PB ES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FORTINI NEUTRO 400G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FORTINI COMP MF STRAW 24X125ML PB UK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjbe86e5092ebedbde358763208d001c52_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjbe86e5092ebedbde358763208d001c52</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjbe86e5092ebedbde358763208d001c52_State_change_Decision</name>
        <label>JB_SalesforceObjbe86e5092ebedbde358763208d001c52_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1e46400892a74bf01223ebf5ffb306b1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjbe86e5092ebedbde358763208d001c52</name>
            <conditionLogic>NOT  ( ( ( (1 AND 2)  AND 3)  AND 4)  AND  ( ( (5 OR 6)  OR 7)  OR 8) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Paciente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Area_Terapeutica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Desafos del Crecimiento</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Razon_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kit de Inicio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Estado_del_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reservado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INFATRINI 400G POLVO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INFATRINI 24X125ML PB ES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FORTINI NEUTRO 400G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FORTINI COMP MF STRAW 24X125ML PB UK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjbe86e5092ebedbde358763208d001c52_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjbe86e5092ebedbde358763208d001c52</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjd845d32593cc2749b76325469c2b51d6_Decision</name>
        <label>JB_SalesforceObjd845d32593cc2749b76325469c2b51d6_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj33c773b8d2c6e930b8b38e6bd566f00d</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjd845d32593cc2749b76325469c2b51d6</name>
            <conditionLogic>( ( ( (1 AND 2)  AND 3)  AND 4)  AND  (5 OR 6) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Paciente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Area_Terapeutica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Digestivos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Estado_del_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Procesado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Razon_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kit de Inicio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NUTRILON COMFORT LATA x 400G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NUTRILON AR 1 LATA X 400G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjd845d32593cc2749b76325469c2b51d6_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjd845d32593cc2749b76325469c2b51d6</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjd845d32593cc2749b76325469c2b51d6_State_change_Decision</name>
        <label>JB_SalesforceObjd845d32593cc2749b76325469c2b51d6_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj33c773b8d2c6e930b8b38e6bd566f00d</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjd845d32593cc2749b76325469c2b51d6</name>
            <conditionLogic>NOT  ( ( ( (1 AND 2)  AND 3)  AND 4)  AND  (5 OR 6) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Paciente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Area_Terapeutica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Digestivos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Estado_del_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Procesado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Razon_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kit de Inicio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NUTRILON COMFORT LATA x 400G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NUTRILON AR 1 LATA X 400G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjd845d32593cc2749b76325469c2b51d6_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjd845d32593cc2749b76325469c2b51d6</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjfe8556d98b4a7ad025faecf5c4ab3f6e_Decision</name>
        <label>JB_SalesforceObjfe8556d98b4a7ad025faecf5c4ab3f6e_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjbe86e5092ebedbde358763208d001c52</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjfe8556d98b4a7ad025faecf5c4ab3f6e</name>
            <conditionLogic>( ( ( (1 AND 2)  AND 3)  AND 4)  AND  ( ( (5 OR 6)  OR 7)  OR 8) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Paciente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Area_Terapeutica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Desafos del Crecimiento</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Estado_del_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Procesado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Razon_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kit de Inicio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INFATRINI 400G POLVO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INFATRINI 24X125ML PB ES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FORTINI NEUTRO 400G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FORTINI COMP MF STRAW 24X125ML PB UK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjfe8556d98b4a7ad025faecf5c4ab3f6e_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjfe8556d98b4a7ad025faecf5c4ab3f6e</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjfe8556d98b4a7ad025faecf5c4ab3f6e_State_change_Decision</name>
        <label>JB_SalesforceObjfe8556d98b4a7ad025faecf5c4ab3f6e_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjbe86e5092ebedbde358763208d001c52</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjfe8556d98b4a7ad025faecf5c4ab3f6e</name>
            <conditionLogic>NOT  ( ( ( (1 AND 2)  AND 3)  AND 4)  AND  ( ( (5 OR 6)  OR 7)  OR 8) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Paciente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Area_Terapeutica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Desafos del Crecimiento</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Estado_del_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Procesado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Razon_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kit de Inicio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INFATRINI 400G POLVO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INFATRINI 24X125ML PB ES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FORTINI NEUTRO 400G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Formula_de_producto_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FORTINI COMP MF STRAW 24X125ML PB UK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjfe8556d98b4a7ad025faecf5c4ab3f6e_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjfe8556d98b4a7ad025faecf5c4ab3f6e</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Envio_sin_Cargo_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj5c0c7504b47d150c86969e685c2875e6</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Envio_sin_Cargo__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Envio_sin_Cargo__c</objectType>
    </variables>
</Flow>
