force-app/main/default/flows/JBSystemFlow_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj6c51fb17c7754a14a2a57cb4913bd828_FireJBTrigger</name>
        <label>SalesforceObj6c51fb17c7754a14a2a57cb4913bd828_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;PersonContactId&quot;,&quot;relationshipName&quot;:&quot;PersonContact&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj6c51fb17c7754a14a2a57cb4913bd828</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100024989</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;NIC__c&quot;,&quot;OwnerId&quot;,&quot;FirstName&quot;,&quot;Provincia__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;PersonContact&quot;,&quot;dePrefix&quot;:&quot;Account:PersonContact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj6c51fb17c7754a14a2a57cb4913bd828</name>
        <label>JB_Decision_Null_Check_SalesforceObj6c51fb17c7754a14a2a57cb4913bd828</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj6c51fb17c7754a14a2a57cb4913bd828_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj6c51fb17c7754a14a2a57cb4913bd828_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj6c51fb17c7754a14a2a57cb4913bd828_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj6c51fb17c7754a14a2a57cb4913bd828_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj6c51fb17c7754a14a2a57cb4913bd828_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj6c51fb17c7754a14a2a57cb4913bd828_Decision</name>
        <label>JB_SalesforceObj6c51fb17c7754a14a2a57cb4913bd828_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj6c51fb17c7754a14a2a57cb4913bd828</name>
            <conditionLogic>( (1 AND  ( (2 AND 3)  AND 4) )  AND  (5 OR 6) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Estado_de_paciente__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inicio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Area_terapeutica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dieta Cetogénica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Alimentacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SNE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.PersonEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>vanina.liendro@danone.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.PersonEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agustina-Denise.YARBUH@danone.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj6c51fb17c7754a14a2a57cb4913bd828_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj6c51fb17c7754a14a2a57cb4913bd828</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj6c51fb17c7754a14a2a57cb4913bd828_State_change_Decision</name>
        <label>JB_SalesforceObj6c51fb17c7754a14a2a57cb4913bd828_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj6c51fb17c7754a14a2a57cb4913bd828</name>
            <conditionLogic>NOT  ( (1 AND  ( (2 AND 3)  AND 4) )  AND  (5 OR 6) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Estado_de_paciente__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inicio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Area_terapeutica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dieta Cetogénica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Alimentacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SNE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.PersonEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>vanina.liendro@danone.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.PersonEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agustina-Denise.YARBUH@danone.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj6c51fb17c7754a14a2a57cb4913bd828_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj6c51fb17c7754a14a2a57cb4913bd828</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Account</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj6c51fb17c7754a14a2a57cb4913bd828</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
