force-app/main/default/flows/JBSystemFlow_Tratamiento_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj57cfe9277b53cd4b3b13ac5042872bc6_FireJBTrigger</name>
        <label>SalesforceObj57cfe9277b53cd4b3b13ac5042872bc6_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Cuenta__c&quot;,&quot;relationshipName&quot;:&quot;Cuenta__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Tratamiento__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj57cfe9277b53cd4b3b13ac5042872bc6</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100024989</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Cuenta__r&quot;,&quot;dePrefix&quot;:&quot;Tratamiento__c:Cuenta__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;NombreSAP__c&quot;,&quot;Nombre_baby__c&quot;,&quot;PersonContactId&quot;,&quot;Nombre_oculto__c&quot;,&quot;Apellido_oculto__c&quot;,&quot;PersonHasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Tratamiento__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Activo__c&quot;,&quot;Patologia__c&quot;,&quot;Alimentacion__c&quot;,&quot;Area_terapeutica__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj57cfe9277b53cd4b3b13ac5042872bc6</name>
        <label>JB_Decision_Null_Check_SalesforceObj57cfe9277b53cd4b3b13ac5042872bc6</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj57cfe9277b53cd4b3b13ac5042872bc6_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Cuenta__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Cuenta__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj57cfe9277b53cd4b3b13ac5042872bc6_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj57cfe9277b53cd4b3b13ac5042872bc6_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj57cfe9277b53cd4b3b13ac5042872bc6_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj57cfe9277b53cd4b3b13ac5042872bc6_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj57cfe9277b53cd4b3b13ac5042872bc6_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj57cfe9277b53cd4b3b13ac5042872bc6_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj57cfe9277b53cd4b3b13ac5042872bc6_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj57cfe9277b53cd4b3b13ac5042872bc6_Decision</name>
        <label>JB_SalesforceObj57cfe9277b53cd4b3b13ac5042872bc6_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj57cfe9277b53cd4b3b13ac5042872bc6</name>
            <conditionLogic>( (1 AND  ( (2 AND 3)  AND 4) )  And  ( ( (5 AND 6)  AND  (7 AND 8) )  AND  (9 AND 10) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Cuenta__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Activo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Patologia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fenilcetonuria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Alimentacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SNO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Cuenta__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Cuenta__r.Estado_de_paciente__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inicio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Cuenta__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Cuenta__r.Area_terapeutica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Metabólicos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Cuenta__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Cuenta__r.PersonEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>avalosalexis8@gmail.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj57cfe9277b53cd4b3b13ac5042872bc6_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj57cfe9277b53cd4b3b13ac5042872bc6</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj57cfe9277b53cd4b3b13ac5042872bc6_State_change_Decision</name>
        <label>JB_SalesforceObj57cfe9277b53cd4b3b13ac5042872bc6_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj57cfe9277b53cd4b3b13ac5042872bc6</name>
            <conditionLogic>NOT  (1 AND  ( (2 AND 3)  AND 4) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Cuenta__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Activo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Patologia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fenilcetonuria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Alimentacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SNO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj57cfe9277b53cd4b3b13ac5042872bc6_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj57cfe9277b53cd4b3b13ac5042872bc6</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Tratamiento_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj57cfe9277b53cd4b3b13ac5042872bc6</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Tratamiento__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Tratamiento__c</objectType>
    </variables>
</Flow>
