force-app/main/default/flows/JBSystemFlow_NIC_Envio_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObjaf5d45842933ae7ca6c0caf9c9a05ac7_FireJBTrigger</name>
        <label>SalesforceObjaf5d45842933ae7ca6c0caf9c9a05ac7_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;Cuenta__c&quot;,
  &quot;relationshipName&quot;: &quot;Cuenta__r&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Account&quot;,
  &quot;fieldName&quot;: &quot;PersonContactId&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>NIC_Envio__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjaf5d45842933ae7ca6c0caf9c9a05ac7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100024989</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Cuenta__r&quot;,&quot;dePrefix&quot;:&quot;NIC_Envio__c:Cuenta__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;,&quot;Area_terapeutica__c&quot;,&quot;Provincia_localidad__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;NIC_Envio__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjaf5d45842933ae7ca6c0caf9c9a05ac7</name>
        <label>JB_Decision_Null_Check_SalesforceObjaf5d45842933ae7ca6c0caf9c9a05ac7</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjaf5d45842933ae7ca6c0caf9c9a05ac7_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Cuenta__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Cuenta__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObjaf5d45842933ae7ca6c0caf9c9a05ac7_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjaf5d45842933ae7ca6c0caf9c9a05ac7_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjaf5d45842933ae7ca6c0caf9c9a05ac7_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjaf5d45842933ae7ca6c0caf9c9a05ac7_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjaf5d45842933ae7ca6c0caf9c9a05ac7_Decision</name>
        <label>JB_SalesforceObjaf5d45842933ae7ca6c0caf9c9a05ac7_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjaf5d45842933ae7ca6c0caf9c9a05ac7</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Cuenta__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Observaciones__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TestMC2023abcd</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjaf5d45842933ae7ca6c0caf9c9a05ac7_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjaf5d45842933ae7ca6c0caf9c9a05ac7</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjaf5d45842933ae7ca6c0caf9c9a05ac7_State_change_Decision</name>
        <label>JB_SalesforceObjaf5d45842933ae7ca6c0caf9c9a05ac7_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjaf5d45842933ae7ca6c0caf9c9a05ac7</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Cuenta__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Observaciones__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TestMC2023abcd</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjaf5d45842933ae7ca6c0caf9c9a05ac7_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjaf5d45842933ae7ca6c0caf9c9a05ac7</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_NIC_Envio_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObjaf5d45842933ae7ca6c0caf9c9a05ac7</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>NIC_Envio__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>NIC_Envio__c</objectType>
    </variables>
</Flow>
