force-app/main/default/flows/JBSystemFlow_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj3aeaf80c64fa6c33056cde0dff85396e_FireJBTrigger</name>
        <label>SalesforceObj3aeaf80c64fa6c33056cde0dff85396e_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;PersonContactId&quot;,&quot;relationshipName&quot;:&quot;PersonContact&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj3aeaf80c64fa6c33056cde0dff85396e</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100024989</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;PersonEmail&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;PersonContact&quot;,&quot;dePrefix&quot;:&quot;Account:PersonContact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;CreatedBy&quot;,&quot;dePrefix&quot;:&quot;Account:CreatedBy:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;CompanyName&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjd42a7651c99debaa1b7de610c117f745_FireJBTrigger</name>
        <label>SalesforceObjd42a7651c99debaa1b7de610c117f745_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3aeaf80c64fa6c33056cde0dff85396e</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3aeaf80c64fa6c33056cde0dff85396e</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;PersonContactId&quot;,&quot;relationshipName&quot;:&quot;PersonContact&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjd42a7651c99debaa1b7de610c117f745</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100024989</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;FirstName&quot;,&quot;NombreSAP__c&quot;,&quot;Nombre_baby__c&quot;,&quot;Nombre_oculto__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;PersonContact&quot;,&quot;dePrefix&quot;:&quot;Account:PersonContact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj3aeaf80c64fa6c33056cde0dff85396e</name>
        <label>JB_Decision_Null_Check_SalesforceObj3aeaf80c64fa6c33056cde0dff85396e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj3aeaf80c64fa6c33056cde0dff85396e_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj3aeaf80c64fa6c33056cde0dff85396e_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj3aeaf80c64fa6c33056cde0dff85396e_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj3aeaf80c64fa6c33056cde0dff85396e_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj3aeaf80c64fa6c33056cde0dff85396e_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjd42a7651c99debaa1b7de610c117f745</name>
        <label>JB_Decision_Null_Check_SalesforceObjd42a7651c99debaa1b7de610c117f745</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3aeaf80c64fa6c33056cde0dff85396e</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjd42a7651c99debaa1b7de610c117f745_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj3aeaf80c64fa6c33056cde0dff85396e</targetReference>
            </connector>
            <label>JB_SalesforceObjd42a7651c99debaa1b7de610c117f745_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjd42a7651c99debaa1b7de610c117f745_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjd42a7651c99debaa1b7de610c117f745_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjd42a7651c99debaa1b7de610c117f745_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj3aeaf80c64fa6c33056cde0dff85396e_Decision</name>
        <label>JB_SalesforceObj3aeaf80c64fa6c33056cde0dff85396e_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj3aeaf80c64fa6c33056cde0dff85396e</name>
            <conditionLogic>(1 AND  (2 AND 3) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.EYN__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.PersonEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>alexis.avalos@danone.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj3aeaf80c64fa6c33056cde0dff85396e_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj3aeaf80c64fa6c33056cde0dff85396e</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj3aeaf80c64fa6c33056cde0dff85396e_State_change_Decision</name>
        <label>JB_SalesforceObj3aeaf80c64fa6c33056cde0dff85396e_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj3aeaf80c64fa6c33056cde0dff85396e</name>
            <conditionLogic>NOT  (1 AND  (2 AND 3) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.EYN__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.PersonEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>alexis.avalos@danone.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj3aeaf80c64fa6c33056cde0dff85396e_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj3aeaf80c64fa6c33056cde0dff85396e</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjd42a7651c99debaa1b7de610c117f745_Decision</name>
        <label>JB_SalesforceObjd42a7651c99debaa1b7de610c117f745_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3aeaf80c64fa6c33056cde0dff85396e</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjd42a7651c99debaa1b7de610c117f745</name>
            <conditionLogic>( (1 AND 2)  And  (3 AND 4) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.EYN__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.PersonContact.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>avalosalexis8@gmail.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjd42a7651c99debaa1b7de610c117f745_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjd42a7651c99debaa1b7de610c117f745</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjd42a7651c99debaa1b7de610c117f745_State_change_Decision</name>
        <label>JB_SalesforceObjd42a7651c99debaa1b7de610c117f745_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3aeaf80c64fa6c33056cde0dff85396e</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjd42a7651c99debaa1b7de610c117f745</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.EYN__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjd42a7651c99debaa1b7de610c117f745_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjd42a7651c99debaa1b7de610c117f745</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Account</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObjd42a7651c99debaa1b7de610c117f745</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
