force-app/main/default/flows/LVC_DeleteOrderQuantities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>LVC_AddToListOrderQuantity</name>
        <label>LVC_AddToListOrderQuantity</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>LVC_OrderQuantityDateToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LVC_DeleteOrderQuantityRecords</targetReference>
        </connector>
    </assignments>
    <interviewLabel>LVC_DeleteOrderQuantities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LVC_DeleteOrderQuantities</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>LVC_DeleteOrderQuantityRecords</name>
        <label>LVC_DeleteOrderQuantityRecords</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <inputReference>LVC_OrderQuantityDateToDelete</inputReference>
    </recordDeletes>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LVC_AddToListOrderQuantity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordToDelete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>LVC_OrderQuantityDate__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-06-29</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>LVC_OrderQuantityDateToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LVC_OrderQuantityDate__c</objectType>
    </variables>
</Flow>
