force-app/main/default/flows/Producto_Por_Plantilla_Fechas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Se_activo_o_desactivo</name>
        <label>Se activo o desactivo?</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Inactivar_fecha_DESDE_futuro</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>activo_estando_desactivado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Dan360_Activo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dan360_Activo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Fecha_Desde</targetReference>
            </connector>
            <label>Se activo estando desactivado</label>
        </rules>
        <rules>
            <name>Se_desactivo_estando_activado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Dan360_Activo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dan360_Activo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_fecha_DESDE_y_HASTA</targetReference>
            </connector>
            <label>Se desactivo estando activado</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FechaDESDEPasada</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 2</expression>
    </formulas>
    <interviewLabel>Producto Por Plantilla - Fechas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Producto Por Plantilla - Fechas</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Actualizar_Fecha_Desde</name>
        <label>Actualizar Fecha Desde</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Dan360_VigenciaDesde__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_fecha_DESDE_y_HASTA</name>
        <label>Actualizar fecha DESDE y HASTA</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Dan360_VigenciaDesde__c</field>
            <value>
                <elementReference>FechaDESDEPasada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dan360_Vigencia__c</field>
            <value>
                <elementReference>FechaDESDEPasada</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Inactivar_fecha_DESDE_futuro</name>
        <label>Inactivar fecha DESDE futuro</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dan360_VigenciaDesde__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Dan360_Activo__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Se_activo_o_desactivo</targetReference>
        </connector>
        <object>Dan360_ProductoPorPlantilla__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
