force-app/main/default/flows/Submit_for_Approval_Email_Aprobacion_Seguimiento.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Comprobar_si_ya_existe_el_proceso</name>
        <label>Comprobar si ya existe el proceso</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>ApprovalProcessIsLocked</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Existe_un_proceso_de_aprobacion</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>308</locationX>
        <locationY>575</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Proceso_de_aprobacion_de_Seguimientos</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <constants>
        <name>Verdadero</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Verdadero</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Existe_un_proceso_de_aprobacion</name>
        <label>Existe un proceso de aprobacion?</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Submit_for_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_ya_existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Comprobar_si_ya_existe_el_proceso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Verdadero</elementReference>
                </rightValue>
            </conditions>
            <label>Si ya existe</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Submit for Approval - Email Aprobacion Seguimiento {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Submit for Approval - Email Aprobacion Seguimiento</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Comprobar_si_ya_existe_el_proceso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </filters>
        <object>VisMed_Contacto_Cuenta_Usuario__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
