force-app/main/default/flows/Update_Name_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Names_Values</name>
        <label>Set Names Values</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>Name2Record</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Name2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NameRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Name2_value</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Name2_value</name>
        <label>Check Name2 value</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Name2 is null</defaultConnectorLabel>
        <rules>
            <name>Update_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Switch_Name_by_Name2</targetReference>
            </connector>
            <label>Update Name</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Name2RecordcamelCase</name>
        <dataType>String</dataType>
        <expression>INITCAP({!$Record.Name2__c})</expression>
    </formulas>
    <interviewLabel>Update Name Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Name and Name2 Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Dan360_Name2CamelCase</name>
        <label>Name2 Camel Case</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Name2__c</field>
            <value>
                <elementReference>Name2RecordcamelCase</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Switch_Name_by_Name2</name>
        <label>Switch Name by Name2</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Dan360_Name2CamelCase</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name2Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name2__c</field>
            <value>
                <elementReference>NameRecord</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Names_Values</targetReference>
        </connector>
        <filterFormula>(ISCHANGED({!$Record.Name2__c})  ) || ( ISNEW() &amp;&amp; NOT(ISNULL( {!$Record.Name2__c} )))</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AccountsNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Name2Record</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NameRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
