force-app/main/default/flows/UpdateModuleActive.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>verifyModule</name>
        <label>verifyModule</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>updateNotModuleActive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>haveModuleActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAllModuleByPatient</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateModuleActive</targetReference>
            </connector>
            <label>haveModuleActive</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyState</name>
        <label>VerifyState</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>updateServiceActive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>StateInactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactivo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAllModuleByPatient</targetReference>
            </connector>
            <label>StateInactive</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>UpdateModuleActive {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateModuleActive</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAllModuleByPatient</name>
        <label>GetAllModuleByPatient</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>verifyModule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cuenta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cuenta__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Modulo_de_paciente__c</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateModuleActive</name>
        <label>updateModuleActive</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cuenta__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Modulo_activo__c</field>
            <value>
                <elementReference>GetAllModuleByPatient.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Servicio_Activo_Aux__c</field>
            <value>
                <elementReference>GetAllModuleByPatient.Tipo__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateNotModuleActive</name>
        <label>updateNotModuleActive</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cuenta__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Servicio_Activo_Aux__c</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateServiceActive</name>
        <label>updateServiceActive</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cuenta__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Servicio_Activo_Aux__c</field>
            <value>
                <elementReference>$Record.Tipo__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>VerifyState</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activo</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inactivo</stringValue>
            </value>
        </filters>
        <object>Modulo_de_paciente__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
